/*noinspection CssUnknownTarget*/
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
.css-parser-hack {
    --x-height-multiplier: 0.342;
}
/*For some reason parser ignores first rule*/
.study-title {
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    letter-spacing: -.02em;
    font-weight: 700;
    font-style: normal;
    /*font-size: 42px;*/
    margin-left: -2.63px;
    line-height: 1.04;
}
.study-section-body {
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-weight: 400;
    font-style: normal;
    /* font-size: 21px; */
    line-height: 1.58;
    letter-spacing: -.003em;
}
.study-section-header {
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    font-weight: 700;
    font-style: normal;
    font-size: 34px;
    margin-left: -2.13px;
    line-height: 1.15;
    letter-spacing: -.015em;
}
.study-caption {
    --x-height-multiplier: 0.342 !important;
    --baseline-multiplier: 0.22 !important;
    letter-spacing: -.02em !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 16px !important;
    line-height: 20px !important;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}
/* Take care of image borders and formatting */
.study-img {
    max-width: 980px;
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
}
.study-link {
    text-decoration: none;
    border: 0;
    outline: none;
}
.study-link img {
    border: none;
}

.headline {
    color: #ffffff;
    font-size: 24px;
}
.force-full-width {
    width: 100% !important;
}
.force-width-80 {
    width: 80% !important;
}
.pusher {
    width: 55px;
}
.steps {
    width: 43px;
}



/* Charts ----------------------------- */
.study-charts {
    margin: auto;
    text-align: center;
}
.chart-img {
    max-width: unset;
    width: unset;
    margin: auto;
}

/* Author Bio -------------------------------- */

.author-bio {
    margin-top: 4rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 58rem;
    width: calc(100% - 4rem);
}

.hide-avatars .author-bio {
    padding-left: 0;
}

.author-bio .author-title-wrapper {
    align-items: center;
    display: flex;
    margin: 0 0 1rem 0;
}

.author-bio .avatar {
    border-radius: 50%;
    margin-right: 1.5rem;
    height: 5rem;
    width: 5rem;
}

.hide-avatars img.avatar {
    display: none;
}

.author-bio p:last-child {
    margin-bottom: 0;
}

.author-bio .author-title {
    margin: 0;
    text-decoration: none;
    color:#333;
    cursor: pointer;
}

.author-bio .author-link {
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 1em;
    text-decoration: none;
    color:#333;
    cursor: pointer;
}

.author-bio .author-link:focus,
.author-bio .author-link:hover {
    text-decoration: underline;
    color:#333;
    cursor: pointer;
}

/* End Author Bio -------------------------------- */