.history-edit-card {
  margin-top: 10%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.history-edit-card input {
  border: 1px solid rgb(18, 193, 243);
  width: 100%;
  padding: 20px;
  border-radius: 40px;
}
.history-block {
  display:inline-block;
  padding-top: 0px;
  padding-left: 10px;
  max-width: 100%;
}