.robot-container {
	box-sizing: border-box;
	position: absolute;
	width: 160px;
	height: 170px;
	bottom: -30px;
	left: calc(100% - 160px);
	z-index: 4;
}

.robot {
	//box-sizing: border-box;
	//width: 160px;
	//height: 170px;
}

.head {
	position: absolute;
	width: 130px;
	left: 20px;
	height: 100px;
	border-radius: 490px 550px 550px 550px;
	overflow: hidden;
	background: #ccc linear-gradient(to right, #b7a9a9 0%, #c1b1b1 40%, #c1b5b5 60%, #ab9c9c 100%);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-animation: bob 8000ms ease-in-out alternate infinite -1000ms;
	animation: bob 8000ms ease-in-out alternate infinite -1000ms;
	border: 2px solid #000000;
}

.eyes {
	position: absolute;
	top: calc(50% - 10px);
	right: 25px;
	left: 25px;
	height: 20px;
	-webkit-animation: blink 10000ms linear forwards infinite;
	animation: blink 10000ms linear forwards infinite; }

.eyeball {
	position: absolute;
	width: 20px;
	height: 20px;
	background: radial-gradient(ellipse, #dffdfe 0%, #11c1f3 50%, #387ef5 60%) no-repeat center;
	background-size: 100%;
	z-index: -2;
	border-radius: 100%;
	transition: background-size 0.2s;
	border: 2px solid #000000; }

.eyeball_left {
	left: 0;
	transition: -webkit-transform 100ms ease-in-out;
	transition: transform 100ms ease-in-out;
	transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out; }

.eyeball_right {
	right: 0;
	transition: -webkit-transform 100ms ease-in-out;
	transition: transform 100ms ease-in-out;
	transition: transform 100ms ease-in-out, -webkit-transform 100ms ease-in-out; }

.mouth {
	position: absolute;
	bottom: 15px;
	left: 50px;
	width: 30px;
	height: 5px;
	background-color: black;
	overflow: hidden;
	border-radius: 5px;
	transition: height 100ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.mouth-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0; }

.robot_speaking .mouth {
	height: 15px; }

.robot_speaking .mouth-container {
	-webkit-animation: speakingAnim 0.3s infinite;
	animation: speakingAnim 0.3s infinite; }

.mouth-container-line {
	position: absolute;
	top: 30%;
	height: 0px;
	background-color: limegreen;
	width: 100%;
	margin-top: -1px; }

.robot_speaking .mouth-container-line {
	height: 3px; }

.torso {
	position: absolute;
	bottom: 0;
	left: calc(50% - 20px);
	width: 40px;
	height: 60px;
	border-radius: 0px 0px 0 0;
	border: 2px solid #000000;
	background: linear-gradient(to right, #b7afaf 0%, #b7b0b0 40%, #afa6a6 60%, #b9b0b0 100%); }

.neck {
	position: absolute;
	bottom: 45px;
	left: calc(50% - 5px);
	width: 4px;
	height: 50px;
	border-radius: 15px;
	border: 2px solid #000000;
	background: repeating-linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 7%, #646464 10%), linear-gradient(to right, #ccc 0%, #e6e6e6 40%, #e6e6e6 60%, #ccc 100%); }

.arms {
	position: absolute;
	bottom: 0;
	left: 50px;
	right: 50px;
	height: 50px; }

.arm {
	position: absolute;
	border: 2px solid #000000;
	top: 0;
	width: 10px;
	height: 50px;
	border-radius: 10px 10px 0 0;
	background: repeating-linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 7%, #646464 10%), linear-gradient(to right, #ccc 0%, #e6e6e6 40%, #e6e6e6 60%, #ccc 100%); }

.arm_left {
	left: 0; }

.arm_right {
	right: 0; }

@-webkit-keyframes lowAnim {
	0% {
		-webkit-filter: url("#low-0");
		filter: url("#low-0"); }
	25% {
		-webkit-filter: url("#low-1");
		filter: url("#low-1"); }
	50% {
		-webkit-filter: url("#low-2");
		filter: url("#low-2"); }
	75% {
		-webkit-filter: url("#low-3");
		filter: url("#low-3"); }
	100% {
		-webkit-filter: url("#low-4");
		filter: url("#low-4"); } }

@keyframes lowAnim {
	0% {
		-webkit-filter: url("#low-0");
		filter: url("#low-0"); }
	25% {
		-webkit-filter: url("#low-1");
		filter: url("#low-1"); }
	50% {
		-webkit-filter: url("#low-2");
		filter: url("#low-2"); }
	75% {
		-webkit-filter: url("#low-3");
		filter: url("#low-3"); }
	100% {
		-webkit-filter: url("#low-4");
		filter: url("#low-4"); } }

@-webkit-keyframes listeningAnim {
	0% {
		-webkit-filter: url("#listening-0");
		filter: url("#listening-0"); }
	25% {
		-webkit-filter: url("#listening-1");
		filter: url("#listening-1"); }
	50% {
		-webkit-filter: url("#listening-2");
		filter: url("#listening-2"); }
	75% {
		-webkit-filter: url("#listening-3");
		filter: url("#listening-3"); }
	100% {
		-webkit-filter: url("#listening-4");
		filter: url("#listening-4"); } }

@keyframes listeningAnim {
	0% {
		-webkit-filter: url("#listening-0");
		filter: url("#listening-0"); }
	25% {
		-webkit-filter: url("#listening-1");
		filter: url("#listening-1"); }
	50% {
		-webkit-filter: url("#listening-2");
		filter: url("#listening-2"); }
	75% {
		-webkit-filter: url("#listening-3");
		filter: url("#listening-3"); }
	100% {
		-webkit-filter: url("#listening-4");
		filter: url("#listening-4"); } }

@-webkit-keyframes speakingAnim {
	0% {
		-webkit-filter: url("#speaking-0");
		filter: url("#speaking-0"); }
	25% {
		-webkit-filter: url("#speaking-1");
		filter: url("#speaking-1"); }
	50% {
		-webkit-filter: url("#speaking-2");
		filter: url("#speaking-2"); }
	75% {
		-webkit-filter: url("#speaking-3");
		filter: url("#speaking-3"); }
	100% {
		-webkit-filter: url("#speaking-4");
		filter: url("#speaking-4"); } }

@keyframes speakingAnim {
	0% {
		-webkit-filter: url("#speaking-0");
		filter: url("#speaking-0"); }
	25% {
		-webkit-filter: url("#speaking-1");
		filter: url("#speaking-1"); }
	50% {
		-webkit-filter: url("#speaking-2");
		filter: url("#speaking-2"); }
	75% {
		-webkit-filter: url("#speaking-3");
		filter: url("#speaking-3"); }
	100% {
		-webkit-filter: url("#speaking-4");
		filter: url("#speaking-4"); } }

@-webkit-keyframes bob {
	0% {
		-webkit-transform: rotate(-3deg);
		transform: rotate(-3deg); }
	40% {
		-webkit-transform: rotate(-3deg);
		transform: rotate(-3deg);
		-webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
		animation-timing-function: cubic-bezier(1, 0, 0, 1); }
	60% {
		-webkit-transform: rotate(3deg);
		transform: rotate(3deg); }
	100% {
		-webkit-transform: rotate(3deg);
		transform: rotate(3deg); } }

@keyframes bob {
	0% {
		-webkit-transform: rotate(-3deg);
		transform: rotate(-3deg); }
	40% {
		-webkit-transform: rotate(-3deg);
		transform: rotate(-3deg);
		-webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
		animation-timing-function: cubic-bezier(1, 0, 0, 1); }
	60% {
		-webkit-transform: rotate(3deg);
		transform: rotate(3deg); }
	100% {
		-webkit-transform: rotate(3deg);
		transform: rotate(3deg); } }

@-webkit-keyframes blink {
	50% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1); }
	51% {
		-webkit-transform: scale(1, 0.1);
		transform: scale(1, 0.1); }
	52% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1); } }

@keyframes blink {
	50% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1); }
	51% {
		-webkit-transform: scale(1, 0.1);
		transform: scale(1, 0.1); }
	52% {
		-webkit-transform: scale(1, 1);
		transform: scale(1, 1); } }