/* Fonts Imported from Google */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);
/*   Core: General style
----------------------------*/
body {
	text-align: center;
	font-family: 'Open Sans' !important;
}
.err-cont {
position: absolute;
top: 50%;
left: 0;
width: 100%;
margin-top: -150px;
z-index: 98;

}

#go-back{
    margin-bottom:7px;
    margin-top:10px;
}
.center-block{
    float:none;
}
/* animation */

.container {
display:block;
background: red;
}
