/* dashboard css start */

.primary-box {
    background: #12A5F4;
}
.warning-box {
    background: #FFCE54;
}
.purple-box {
    background: #FD9883;
}
.blue-box {
    background: #6DBDD6;
}
#sales, #profit {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 10px 0;
}
#product {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding: 22px 0;
}
#purchase {
    background: #fff;
    padding: 22px 0;
}
.sale-box > span {
    background: #A0D468;
    color: #FFFFFF;
    float: left;
    font-size: 16px;
    line-height: 12px;
    margin: 0;
    padding: 14px 0;
    text-align: center;
    width: 100%;
}
.sale-box {
    float: left;
    margin-left: -12px;
    margin-bottom: 30px;
    overflow: hidden;
    width: 104%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #A0D468;
}
.purchase-box > span {
    background: #FD9883;
    color: #FFFFFF;
    float: left;
    font-size: 16px;
    line-height: 12px;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}
.purchase-box {
    float: left;
    margin-left: -14px;
    margin-bottom: 30px;
    overflow: hidden;
    width: 104%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #FD9883;
}
.graph-info a {
    cursor: default;
    display: inline-block;
    float: left;
    font-family: open sans;
    font-weight: 600;
    margin-right: 28px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
.graph-info {
    float: left;
    margin-bottom: 0;
    padding: 20px 20px 0;
    width: 100%;
}
.returning > span {
    float: left;
    height: 6px;
    margin-right: 9px;
    margin-top: 8px;
    width: 20px;
}
.visitors > span {
    float: left;
    height: 6px;
    margin-right: 9px;
    margin-top: 8px;
    width: 20px;
}
.grn {
    background-color: #fff;
}
.brn {
    background: #4A89DC;
}
.graph-info a {
    color: #fff;
    float: left;
    font-weight: normal;
    font-size: 12px;
    height: 33px;
    line-height: 20px;
}
.visitors-list-summary {
    margin-left: -5px;
}
.visitors-list-summary .visitor-item {
    border-right: 1px solid #b9c4d5;
}
.visitors-list-summary .visitor-item .label-big {
    font-size: 16px;
    font-weight: 300;
}
.padding-table {
    margin-bottom: 3px;
}
/*map css*/

.spacing-bottom {
    margin-bottom: 30px;
}
.tiles.white {
    background-color: #fff;
    color: #8b91a0;
}
.tile-more-content {
    background-color: #23272D;
    height:398px;
}
.no-padding {
    padding: 0px !important;
}
.tiles.green {
    background-color: #23272D;
}
.tile-more-content .tiles-body {
    padding: 19px 18px 17px 24px;
}
.tile-footer {
    background-color: rgba(0, 0, 0, 0.28);
    color: #ffffff;
    font-size: 13px;
    padding: 8px 15px;
}
.tiles .progress {
    width: 70%;
    margin-bottom: 15px;
}
.tiles .heading {
    font-size: 20px;
    display: block;
    font-family: 'Open Sans';
    margin: 4px 0px;
}
ul.progress-list li .details-status {
    display: inline-block;
    background-color: #e5e9ec;
    color: #5c6370;
    font-size: 11px;
    padding: 6px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
ul.progress-list {
    list-style: none;
    margin: 10px 5px 23px 0;
    padding: 0;
}
ul.progress-list li .details-wrapper .name {
    display: block;
    color: #fff;
    font-size: 13px;
}
.tiles {
    color: #ffffff;
    position: relative;
}
.progress.no-radius .progress-bar {
    border-radius: 0px;
}
.progress-bar-warning {
    background-color: #FFCE54;
    background-image: none;
}
.progress-bar-danger {
    background-color: #FD9883;
    background-image: none;
}
.progress-bar-success {
    background-color: #A0D468;
    background-image: none;
}
.progress.progress-small {
    height: 4px;
}
ul.progress-list li .details-wrapper {
    display: inline-block;
    float: left;
}
.progress .bar {
    -webkit-transition: width 2s ease-in-out;
    -moz-transition: width 2s ease-in-out;
    -ms-transition: width 2s ease-in-out;
    -o-transition: width 2s ease-in-out;
    transition: width 2s ease-in-out;
}
/*calendar */

.calendar .week_days {
    font-weight: 500;
}
.calendar .table td.event a:hover {
    background-color: rgba(0, 0, 0, .15);
}
.calendar .table td.event a {
    border: 1px solid rgba(255, 255, 255, .2);
    background-color: rgba(0, 0, 0, .05);
    border-radius: 30px;
}
.calendar .table td a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 27px;
    color: #fff;
}
/* visotors map zoomin zoomout code */

.jvectormap-zoomin, .jvectormap-zoomout {
    position: absolute;
    left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #000;
    padding: 5px 13px 13px 5px !important;
    color: white;
    width: 10px;
    height: 10px;
    cursor: pointer;
    line-height: 7px;
    text-align: left;
}
/* feeds css */

.feeds {
    margin: 0;
    padding: 0;
    list-style: none
}
.feeds li {
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 7px
}
.feeds li.hoverable:hover, .feeds li.hoverable:focus {
    background-color: #f4f4f4
}
.feeds li.hoverable:active {
    background-color: #efefef;
    border-top: 1px solid #d9d9d9;
    border-bottom: 0
}
.feeds li:before, .feeds li:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both
}
.feeds .col1 {
    float: left;
    width: 100%;
    clear: both
}
.feeds .col1 .content {
    float: left;
    margin-right: 100px;
    overflow: hidden
}
.feeds .col1 .content .content-col1 {
    float: left;
    margin-right: -100%
}
.feeds .col1 .content .content-col1 .label {
    float: left;
    width: 14px;
    padding: 7px;
    text-align: center;
    line-height: 14px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}
.feeds .col1 .content .content-col2 {
    float: left;
    width: 100%
}
.feeds .col1 .content .content-col2 .desc {
    margin-left: 35px;
    padding-top: 6px;
    padding-bottom: 8px;
    overflow: hidden
}
.feeds .col1 .content .content-col2 .desc span {
    margin-left: 3px;
}
.feeds .col2 {
    float: left;
    width: 100px;
    margin-left: -100px
}
.feeds .col2 .date {
    padding: 4px 9px 4px 4px;
    text-align: right;
    color: #adadad;
    font-size: 11px
}
.tabbable-custom>.tab-content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 10px;
    overflow: auto;
    margin-top: 0;
}
.panel-padding {
    padding: 4px;
}
.tabbable-custom>.nav-tabs>li.active {
    border-top: 5px solid #418bca;
    margin-top: 0;
    position: relative;
}
.tabbable-custom>.nav-tabs {
    border: 0;
    margin: 0;
    top: 0;
}
.tabbable-custom>.nav-tabs>li.active>a {
    border-top: 0;
    font-weight: 400;
}
.tabbable-custom>.nav-tabs>li>a {
    margin-right: 0;
    padding: 5px 10px;
    line-height: 1.428571429;
    border-radius: 0;
}
.bg-info {
    background-color: #6DBDD6;
    color: #ebf4e4;
}
.bg-success {
    background-color: #A0D468;
    color: #ebf4e4;
}
.bg-primary {
    color: #fff;
    background-color: #12A5F4;
}
.bg-warning {
    background-color: #FFCE54;
}
.bg-danger {
    background-color: #FD9883;
}
.panel-default1 {
    border-color: #ddd;
}
.panel-default1 > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-default1 > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #ddd;
}
.panel-default1 > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #ddd;
}

.panel-gradient {
    color: #fff;
    background: #5D9CEC;
}
.panel-gradient {
    color: #fff;
    background: #5D9CEC;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ededed;
}
.label {
    font-weight: 100;
}
.bottom-pad {
    margin-bottom: 6px;
}
.flotLegend {
    margin-bottom: 10px;
}
.flotChart {
    width: 100%;
    height: 250px;
    position: relative;
}
.list-statistics {
    margin-bottom: 0px;
}
.list-statistics .list-group-item {
    height: 55px;
    line-height: 50px;
}
.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.nav-float {
    float: right !important;
}
.progress.progress-sm {
    height: 5px;
    margin-top: 5px;
}
#tooltip {
    clear: both;
    z-index: 100;
    background-color: #736e6e !important;
    padding: 5px !important;
    color: #fff;
}
#tooltip .label {
    clear: both;
    display: block;
    margin-bottom: 2px;
}
.nav-float>li>a {
    position: relative;
    display: block;
    padding: 6px 9px;
}
#basicFlotLegend .legendLabel {
    padding-left: 4px;
    padding-right: 6px;
}
#basicFlotLegend1 .legendLabel {
    padding-left: 4px;
    padding-right: 6px;
}
.nav-tabs>li {
    float: left;
    margin-bottom: 0px;
}
#chart3 .flot-base {
    left: 15px !important;
}
#placeholder .flot-text {
    left: -20px !important;
}
#donut .pieLabel div {
    font-size: 12px !important;
}
#donut #pieLabel4 div {
    font-size: 12px !important;
    padding-top: 1px !important;
}
#donut #pieLabel2 div, #donut #pieLabel1 div {
    font-size: 12px !important;
    padding-left: 24px !important;
}
#donut #pieLabel3 div {
    font-size: 12px !important;
    padding-top: 16px !important;
}
.nav-tabs {
    border-bottom: 1px solid #fff;
}
/* fix for tabs overlapping in small screen */

@media (max-width: 768px) {
    .nav-tabs {
        margin-top: 10px;
        border-bottom:none; 
    }
    .nav-float {
        float: none !important;
    }
}
 .bodr{
    border-top: 1px solid #fff !important;
}
.pad-20{
    padding-top: 20px;
}
.table1>tbody>tr>td {
padding: 8px;
line-height: 1.42857143;
vertical-align: inherit; 
border-top: 1px solid #ddd;
}

.seperator {width:100%; 
    position:relative; 
    border-bottom:1px solid #e8e8e8; 
    float:left; margin-bottom:15px;
    box-shadow: 0 1px 0px rgba(0,0,0,.15);
    }
.panel-footer {
padding: 10px 15px;
background-color: #fff;
/* border-top: 1px solid #875555; */
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
}
.row-spacing {margin-bottom:15px;}

.wrd{
height:398px; border: 1px solid #ddd;
}
.pd-map{
    padding-left:0px; padding-right:0px;
}
.ser{
    width:100%; height: 270px
}
.pro-bar{
width: 89%;
}
.pro-bar1{
width:45%;
}
.pro-bar2{
width: 12%;
}

