.panel-accordion .panel-title{width:100%;margin-bottom:0}
.panel-accordion .panel-default>.panel-heading{padding:0;background-color:#FFF;border-color:#FFF}
.panel-accordion h4{margin-top:0}
.panel-accordion a{color:#121212;display:inline-block;width:100%;padding:15px}
.panel-accordion a{background-color:#FFF;color:#121212}
.panel-accordion a.collapsed{background-color:#cfdae0;color:#121212}
.panel-accordion.faq-accordion a{background-color:#FFF;color:#121212}
.panel-accordion.faq-accordion a.collapsed{background-color:#fff;color:#777}
.panel-accordion.faq-accordion .panel-heading .panel-title>a.collapsed:after{color:#767b80}
.panel-accordion a:hover{text-decoration:none}
.panel-heading span {
margin-top: 1px;
font-size: 12px;
}
.mr10{margin-right:10px !important}
.mb10{margin-bottom:10px !important}
.mix{position:relative;display:none;font-weight:400;color:#777;height:auto;overflow:visible}
