.flotChart {
    width: 100%;
    height: 320px;
    position: relative;
}
.flotChart1 {
    width: 100%;
    height: 300px;
    position: relative;
}
#basicFlotLegend .legendLabel {
    padding-left: 4px;
    padding-right: 6px;
    padding-top: 3px;
}
#basicFlotLegend1 .legendLabel {
    padding-left: 4px;
    padding-right: 6px;
}
#area-chart .legendLabel,#chart-spline .legendLabel{
    padding-left: 4px;
    padding-right: 3px;
   
}
#area-chart .legendColorBox,#chart-spline .legendColorBox{
 
    padding-top: 3px; 
}
#tooltip {
    clear: both;
    z-index: 100;
    background-color: #736e6e !important;
    padding: 5px !important;
    color: #fff;
}
#tooltip .label {
    clear: both;
    display: block;
    margin-bottom: 2px;
}
.panel-default1 {
border-color: #ddd;
}
.panel-default1 > .panel-heading {
color: #333;
background-color: #f5f5f5;
border-color: #ddd;
}
.body-bg{
    background: #6DBDD6;
}
#donut div{
    font-size: 12px !important;
    padding: 14px;
}
.flotChart2 {
width: 100%;
height: 365px;

}
.flotChart3 {
width: 100%;
height: 250px;

}