.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: #12A5F4;
    border-color: #12A5F4;
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: #A0D468;
    border-color: #A0D468;
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: #6DBDD6;
    border-color: #6DBDD6;
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: #FFCC66;
    border-color: #FFCC66;
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color:#FD9883;
    border-color: #FD9883;
}
.padding {
padding: 9px 5px;
}
.padding7 {

    padding-top:7px;
}
.marginTop {

    margin-top:15px;
}