
.tmb>.overlay {
position: absolute;
z-index: 4;
border-radius: 3px;
top: 0;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(0,0,0,0.4);
opacity: 0;
-webkit-transition: opacity .3s ease;
-moz-transition: opacity .3s ease;
-o-transition: opacity .3s ease;
transition: opacity .3s ease;
}
@media only screen and (max-width: 360px) {
  .tmb > .overlay {
    position: absolute;
    z-index: 4;
    border-radius: 3px;
    top: 0px;
    bottom: 0px;
    left: 24px;
    right: 23px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease 0s;
}
	}
.tmb {
position: relative;
padding: 0;
border-width: 0;
border-radius: 3px;
margin-bottom: 30px;
}
.tmb>img, .tmb a>img {
display: block;
max-width: 100%;
height: auto;
margin-right: auto;
margin-left: auto;
}
.tmb .tmb-meta {
position: absolute;
z-index: 6;
top: auto;
bottom: 0;
left: 0;
right: 0;
color: #FFF;
padding: 10px;
text-align: center;

}
.btn-primary {
border-color: #12A5F4 !important;
background: #12A5F4 !important;
}
.btn-primary:hover {
border-color: #1C8CB5 !important;
background: #1C8CB5 !important;
}
.tmb:hover>.overlay{opacity:1}
.tmb>.overlay>.tmb-actions{position:absolute;top:50%;margin-top:-20px;width:100%;text-align:center}
.tmb>.overlay>.tmb-actions i{margin-left:-2px;margin-right:2px}
.tmb>.overlay>.tmb-actions .btn{-webkit-transition:all .2s ease-in !important;-moz-transition:all .2s ease-in !important;-o-transition:all .2s ease-in !important;transition:all .2s ease-in !important;-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}
.tmb:hover>.overlay>.tmb-actions .btn{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
.tmb .tmb-meta h5{margin:0}
.tmb .tmb-meta small{color:#cfcfcf}


.mr10{margin-right:10px !important}
.mb10{margin-bottom:10px !important}
.mix{position:relative;display:none;font-weight:400;color:#777;height:auto;overflow:visible}
.btn-img {
display: inline-block;
padding: 0 !important;}