.mail-option {
display: inline-block;
margin-bottom: 10px;
width: 100%;
}

.mail-option .chk-all, .mail-option .btn-group {
margin-right: 5px;
}
.mail-option .btn-group a.all {
padding: 0;
border: none;
}
.mail-option .chk-all, .mail-option .btn-group a.btn {
border: 1px solid #e7e7e7;
padding: 6px 12px;
display: inline-block;
color: #666;
}
ul.inbox-pagination {
float: right;
list-style-type: none;
}
ul, .list-unstyled {
padding-left: 30px;
}
.inbox-pagination li span {
display: inline-block;
margin-top: 7px;
margin-right: 5px;
}
.inbox-pagination a.np-btn {
margin-left: 5px;
}
.inbox-pagination a.np-btn {
border: 1px solid #e7e7e7;
padding: 5px 15px;
display: inline-block;
background: #fcfcfc;
color: #afafaf;
border-radius: 3px !important;
-webkit-border-radius: 3px !important;
}
ul.inbox-pagination li {
float: left;
}
tr td a {
display: block;
color: #666;
}
tr td .col {
color: #d5d5d5;
}
.view-message img {
margin-right: 10px;
margin-top: -5px;
}
.mail-search {
max-width: 300px;

}
.mail-box-header {

border-bottom: 0;
padding: 0px 20px 20px 20px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
color: #fff;
background-color: #5D9CEC;
}
.nav-pills>li>a {
 border-radius: 0px;
}
.nav-pills>li>a {
border-radius: 0px;
color: #666;
}

.mail-compose {

padding: 30px;
margin-bottom: 30px;
}
.tex-com{
	width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px
}


 h3{
margin-top: -5px;
margin-bottom: 10px;
}
.mar-bat{
padding-bottom: 10px;
}
.editor {
margin-bottom: 20px;
}
.attachment-mail ul li a.atch-thumb img {

margin-bottom: 10px;
}
.attachment-mail ul li {
float: left;
width: 200px;
margin-right: 15px;
margin-top: 15px;
list-style: none;
}
.mail-sender, .attachment-mail {
width: 100%;
display: inline-block;
margin: 20px 0;
border-top: 1px solid #EFF2F7;
border-bottom: 1px solid #EFF2F7;
padding: 10px 0;
}