
#chart1 svg{
  height: 300px;
 margin-left: -100px;
}
#chart2 svg,#chart3 svg,#chart4 svg{
  height: 300px;

}
#chart5 svg{height: 400px;
}
.bg-panel{
	background:url(../../img/light_grey.png); 
	height:100%;

}
.bg-panel-grn{
	background: #12A5F4;
}
#chart2 svg text {
    fill:#fff;
}
