.right-padding {
    padding: 10px;
}
.row {
    padding: 0 15px;
    margin: 10px;
}
.clickable {
    cursor: pointer;
}

.get-started {
    color: white;
    line-height: 50px;
    margin-left: 20px;
    float: left;
    font-size: 18px;
}
.panel-heading span {
margin-top: -20px;
font-size: 12px;
}
.text-muted {
    color: #fff;
}
.error {
    border-color: #a94442;
    color: #a94442;
}
.actions {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    float: right;
}
.actions1 {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: -6px;
    float: right;
}

h4.panel-title {
    line-height: 30px;
}
/* Customized Bootstrap Panels Color Start*/

/*primary */
.panel-primary {
    border: 0 #ddd;
}
.panel-primary > .panel-heading {
    color: #777;
    background-color: #fff;
    border-color: #ddd;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #12A5F4;
}
/*success*/
.panel-success {
    border-color: #A0D468;
}
.panel-success > .panel-heading {
    color: #fff;
    background-color: #A0D468;
    border-color: #A0D468;
}
.panel-success > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #A0D468;
}
.panel-success > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #A0D468;
}

/*info*/
.panel-info {
    border-color: #6DBDD6;
}
.panel-info > .panel-heading {
    color: #fff;
    background-color: #6DBDD6;
    border-color: #6DBDD6;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #6DBDD6;
}
.panel-info > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #6DBDD6;
}

/*warning*/
.panel-warning {
    border-color: #FFCE54;
}
.panel-warning > .panel-heading {
    color: #fff;
    background-color: #FFCE54;
    border-color: #FFCE54;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #FFCE54;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #FFCE54;
}
/*danger*/

.panel-danger {
    border-color: #FD9883;
}
.panel-danger > .panel-heading {
    color: #fff;
    background-color: #FD9883;
    border-color: #FD9883;
}
.panel-danger > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #FD9883;
}
.panel-danger > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #FD9883;
}
.panel-default {
    border-color: #c1c1b7;
}

/*default*/
.panel-default > .panel-heading {
    color: #fff;
    background-color: #c1c1b7;
    border-color: #c1c1b7;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #c1c1b7;
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #c1c1b7;
}

/*Customized Bootstrap Buttons color code start*/
.btn {
    border-radius: 4px !important;
    font-size: 16px;
}

.btn-primary, .primary, .tags a.primary {
    border-color: #12A5F4 !important;
    background: #12A5F4 !important;
}
 .btn-success, .success, .tags a.success {
    border-color: #6ad59a;
    background: #6ad59a !important;
}
.btn-info, .info, .tags a.info {
    border-color: #009688;
    background: #009688 !important;
}
.btn-default, .default, .tags a.default {
    border-color: #dcdcdc;
    background: #dcdcdc !important;
}
 .btn-warning, .warning, .tags a.warning {
    border-color: #FFCC66;
    background: #FFCC66 !important;
}
 .btn-danger, .danger, .tags a.danger {
    border-color: #f15c28;
    background: #f15c28 !important;
}

/*Customized Bootstrap Button Hover color code start*/
.btn-primary:hover{
    border-color: #1c8cb5;
    background: #1c8cb5 !important;
}
.btn-success:hover {
    border-color: #3CB773;
    background: #3CB773 !important;
}
.btn-info:hover {
    border-color: #048968;
    background: #048968 !important;
}
.btn-default:hover {
    border-color: #A9A9A9;
    background: #A9A9A9 !important;
}
.btn-warning:hover {
    border-color: #CC9933;
    background: #CC9933 !important;
}
.btn-danger:hover {
    border-color: #D44F20;
    background: #D44F20 !important;
}

/*Customized Bootstrap text color code start*/
.text-primary {
    color:#12A5F4;
}
.text-success{
    color:#A0D468;
}
.text-info {
    color:#37BC9B;
}
.text-default {
    color:#dcdcdc;
}
.text-warning {
    color:#FFCC66;
}
.text-danger {
    color:#FD9883;
}

/* bootstrap switch */

.bootstrap-switch-primary {
    color: #fff;
    background: #5D9CEC !important;
}
.bootstrap-switch-info {
    color: #fff;
    background: #37BC9B !important;
}
.bootstrap-switch-danger {
    color: #fff;
    background: #FD9883 !important;
}
.bootstrap-switch-warning {
    color: #fff;
    background: #FFCE54 !important;
}
.grid-danger {
    padding: 1em 0;
    background-color: #FECFB0;
    border: 1px solid #FECFB0;
    border-radius: 1px;
}
.grid-info {
    padding: 1em 0;
    background-color: #DDF3F1;
    border: 1px solid #DDF3F1;
    border-radius: 1px;
}
.grid-success {
    padding: 1em 0;
    background-color: #c8e9b1;
    border: 1px solid #c8e9b1;
    border-radius: 1px;
}
/* lable css */

.label-primary {
    background-color: #12A5F4;
}
.label-success {
    background-color: #A0D468;
}
.label-info {
    background-color: #37BC9B;
}
.label-danger {
    background-color: #FD9883;
}
.label-default {
    background-color: #efefef;
}
.label-warning {
    background-color: #FFCC66;
}
/* alert css */
.alert-success {
    background-color: #6ad59a;
    border-color: #6ad59a;
    color: #fff;
    font-size: 16px;
}
.alert-info {
    background-color: #12A5F4;
    border-color: #12A5F4;
    color: #FFFFFF;
    font-size: 16px;
}
.alert-warning {
    background-color: #FAECB2;
    border-color: #FAECB2;
    color: #8a6d3b;
}
.alert-danger {
    background-color: #2196F3;
    border-color: #FECFB0;
    color: #fff;
}
/* progress bar */
.progress-bar-red {
background-color: #FD9883;
}
.progress-bar-warning {
background-color: #FFCE54;
}
.progress-bar-aqua {
background-color: #c1c1b7;
}
.progress-bar-success {
background-color: #A0D468;
}
.progress-bar-primary {
background-color: #12A5F4;
}

/* only for panels page*/

.panel-headingg {
color: #fff;
background-color: #FFCE54;
border-color: #FFCE54;
padding: 10px 15px;
border-bottom: 1px solid transparent;
}
.panel-heading1 {
color: #fff;
background-color: #2196F3;
border-color: #12A5F4;
padding: 10px 15px;
border-bottom: 1px solid transparent;
}
.panel-heading2 {
color: #fff;
background-color: #2196F3;
border-color: #A0D468;
padding: 10px 15px;
border-bottom: 1px solid transparent;
}
.panel-heading3 {
    background-color: #12A5F4;
    border-radius: 8px;
    color: #fff;
    padding: 10px 33px;
    font-size: 23px;
    margin: 25px 0;
}
.panel-heading4 {
color: #fff;
background-color: #2196F3;
border-color: #FD9883;
padding: 10px 15px;
border-bottom: 1px solid transparent;
}
.panel-heading5 {
color: #fff;
background-color: #A0D468;
border-color: #A0D468;
padding: 10px 15px;
border-bottom: 1px solid transparent;
}
.panel-lavender {
    border-color: #AC92EC;
}
.panel-lavender > .panel-heading {
    color: #fff;
    background-color: #AC92EC;
    border-color: #AC92EC;
}
.panel-lavender > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #fff;
}
.panel-lavender > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color:#AC92EC;
}
panel-orange, .partition-orange {
background-color: #f89a14;
position: relative;
background-color: #f89a14 0px;

color: white;
}
.panel-blue, .partition-blue {
background-color: #2A9FD6;
position: relative;
background-color: #2A9FD6 0px;

color: white;
}
.panel-yellow, .partition-yellow {
background-color: #FFB848;
position: relative;
background-color:#FFB848 0px;

color: white;
}
.panel-lightgreen, .partlightgreenition-lightgreen {
background-color: #39C3A9;
position: relative;
background-color:#39C3A9 0px;

color: white;
}
.panel-pink, .partition-pink {
background-color: #E07298;
position: relative;
background-color:#E07298 0px;

color: white;
}
.panel-red, .partition-red {
background-color: #E05151;
position: relative;
background-color:#E05151 0px;

color: white;
}
.panel-grey, .partition-grey {
background-color: #935B1A;
position: relative;
background-color:#935B1A 0px;

color: white;
}
.panel-orange, .partition-orange {
background-color: #f89a14;
position: relative;
background-color: #f89a14 0px;

color: white;
}
/***
Customized Bootstrap toastr
***/

.radio-list > label {
    display: block;
}
label {
    font-weight: 400;
    font-size: 13px;

}
.radio, .checkbox {
    display: block;
    min-height: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.checkbox-list > label {
    display: block;
}
div.radio, div.checker {
    margin-right: 0;
    margin-left: 3px;
}
div.selector, div.checker, div.button, div.uploader {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}
.icon-rightpad {
    padding-left: 6px;
    font-size: 16px;
    position: relative;
    margin-right: 0.8em;
    color: #000;
    float: left;
}
.icon-pluscolor {
    color: #FD9883;
}
.ion-close {
    color: #000;
} 
/*portlets code*/
.portlet > .portlet-body.warning, .portlet.warning {
    background-color: #FFCE54;
}
.portlet.box > .portlet-title {
    margin-bottom: 0px;
    padding: 10px 10px 4px 10px;
}
.portlet.box > .portlet-body {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc !important;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.portlet > .portlet-body.success, .portlet.success {
    background-color: #A0D468;
}
.portlet > .portlet-body.orange, .portlet.orange {
    background-color: #A9B6BC;
}
.portlet > .portlet-body.primary, .portlet.primary {
    background-color: #12A5F4;
}
.portlet.box.default > .portlet-title {
    background-color: #A9B6BC;
}
.portlet.box.danger > .portlet-title {
    background-color: #FD9883;
}
.portlet.box.info > .portlet-title {
    background-color: #6DBDD6;
}
.portlet.box > .portlet-title {
    margin-bottom: 0px;
    padding: 10px 10px 4px 10px;
    border-bottom: 1px solid #eee;
    color: #fff;
    font-size: 16px;
}
.portlet.box {
    padding: 0px !important;
}
.portlet {
    clear: both;
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
}
.portlet > .portlet-title > .actions > .btn.btn-sm {
    padding: 3px 8px;
    margin-top: -57px;
}
.portlet > .portlet-title > .tools, .portlet > .portlet-title > .actions {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 6px;
    float: right;
}
.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
/*** This is for simple table
Customized Bootstrap Buttons
***/

.btn-green {
    color: white;
    background-color: #A0D468;
    border-color: #A0D468;
}
.btn-purple {
    color: white;
    background-color: #C1C1B7;
    border-color: #C1C1B7;
}
.btn-yellow {
    color: white;
    background-color: #FFCE54;
    border-color: #FFCE54;
}

.btn-qm-orange {
    color: white;
    background-color: #ff6600;
    border-color: #ff6600;
}

.btn-qm-green {
    color: white;
    background-color: #00cc00;
    border-color: #00cc00;
}

.btn-qm-blue {
    color: white;
    background-color: #12A5F4;
    border-color: #12A5F4;
}

.btn-qm-orange:hover, .btn-qm-green:hover, .btn-qm-blue:hover {
    color:white;
}


.mt10 {
    margin-top:10px;
}

.ml15 {
    margin-left:15px;
}

.strike {
    text-decoration: line-through;
}

.centered {
    text-align: center;
}

.app-logo {
    width:92px;
}

.spinner {
    width: 25px;
    position: absolute;
    right: 25px;
    top: 5px;
    display: none;
}

@media (min-width: 768px) {
    .lead.small {
        font-size: 16px;
    }
}
