.right-padding {
    padding: 10px;
}
.row {
    padding: 0 15px;
}
.clickable {
    cursor: pointer;
}
.portlet > .portlet-body.warning, .portlet.warning {
    background-color: #FFCE54;
}
.portlet.box > .portlet-title {
    margin-bottom: 0px;
    padding: 10px 10px 4px 10px;
}
.portlet.box > .portlet-body {
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #ccc !important;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.portlet > .portlet-body.success, .portlet.success {
    background-color: #A0D468;
}
.portlet > .portlet-body.orange, .portlet.orange {
    background-color: #A9B6BC;
}
.portlet > .portlet-body.primary, .portlet.primary {
    background-color: #12A5F4;
}
.portlet.box.default > .portlet-title {
    background-color: #A9B6BC;
}
.portlet.box.danger > .portlet-title {
    background-color: #FD9883;
}
.portlet.box.info > .portlet-title {
    background-color: #6DBDD6;
}
.portlet.box > .portlet-title {
    margin-bottom: 0px;
    padding: 10px 10px 4px 10px;
    border-bottom: 1px solid #eee;
    color: #fff;
    font-size: 16px;
}
.portlet.box {
    padding: 0px !important;
}
.portlet {
    clear: both;
    margin-top: 0px;
    margin-bottom: 25px;
    padding: 0px;
}
.portlet > .portlet-title > .actions > .btn.btn-sm {
    padding: 3px 8px;
    margin-top: -57px;
}
.portlet > .portlet-title > .tools, .portlet > .portlet-title > .actions {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 6px;
    float: right;
}
.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
.text-muted {
    color: #fff;
}
.error {
    border-color: #FD9883;
    color: #FD9883;
}
.actions {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    float: right;
}
.actions1 {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: -6px;
    float: right;
}
/*primary */

.panel-primary {
    border-color: #ddd;
}
.panel-primary > .panel-heading {
    color: #777;
    background-color: #fff;
    border-color: #fff;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #12A5F4;
}
/*grn*/

.panel-grn {
    border-color: #FD9883;
}
.panel-grn > .panel-heading {
    color: #fff;
    background-color: #FD9883;
    border-color: #FD9883;
}
.panel-grn > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #FD9883;
}
.panel-grn > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #FD9883;
}
.panel-info {
    border-color: #6DBDD6;
}
.panel-info > .panel-heading {
    color: #fff;
    background-color: #6DBDD6;
    border-color: #6DBDD6;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #6DBDD6;
}
.panel-info > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #6DBDD6;
}
/*orange*/

.panel-danger {
    border-color: #FD9883;
}
.panel-danger > .panel-heading {
    color: #fff;
    background-color: #FD9883;
    border-color: #FD9883;
}
.panel-danger > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #FD9883;
}
.panel-danger > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #FD9883;
}
.panel-default {
    border-color: #c1c1b7;
}
.panel-default > .panel-heading {
    color: #fff;
    background-color: #c1c1b7;
    border-color: #c1c1b7;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #c1c1b7;
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #c1c1b7;
}
.panel-success {
    border-color: #A0D468;
}
.panel-success > .panel-heading {
    color: #fff;
    background-color: #A0D468;
    border-color: #A0D468;
}
.panel-success > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #A0D468;
}
.panel-success > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #A0D468;
}
.panel-warning {
    border-color: #FFCE54;
}
.panel-warning > .panel-heading {
    color: #fff;
    background-color: #FFCE54;
    border-color: #FFCE54;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #FFCE54;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #FFCE54;
}
/***
Customized Bootstrap Buttons
***/

.btn-green {
    color: white;
    background-color: #A0D468;
    border-color: "";
}
.btn-purple {
    color: white;
    background-color: #C1C1B7;
    border-color: "";
}
.btn-yellow {
    color: white;
    background-color: #FFCE54;
    border-color: "";
}
/***
Customized Bootstrap toastr
***/

.radio-list > label {
    display: block;
}
label {
    font-weight: 400;
    font-size: 13px;

}
.radio, .checkbox {
    display: block;
    min-height: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.checkbox-list > label {
    display: block;
}
div.radio, div.checker {
    margin-right: 0;
    margin-left: 3px;
}
div.selector, div.checker, div.button, div.uploader {
    display: -moz-inline-box;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}
.icon-rightpad {
    padding-left: 6px;
    font-size: 16px;
    position: relative;
    margin-right: 0.8em;
    color: #000;
    float: left;
}
.icon-pluscolor {
    color: #FD9883;
}
.ion-close {
    color: #000;
}   
.text-primary {
color: #12A5F4;
}
.text-info {
color:#6DBDD6;
}
.text-warning {
color: #FFCE54;
}
.text-danger {
color:#FD9883;
}
.text-success {
color: #A0D468;
}

.panel-orange, .partition-orange {
background-color: #f89a14;
position: relative;
background-color: #f89a14 0px;

color: white;
}
.panel-blue, .partition-blue {
background-color: #2A9FD6;
position: relative;
background-color: #2A9FD6 0px;

color: white;
}
.panel-yellow, .partition-yellow {
background-color: #FFB848;
position: relative;
background-color:#FFB848 0px;

color: white;
}
.panel-lightgreen, .partlightgreenition-lightgreen {
background-color: #39C3A9;
position: relative;
background-color:#39C3A9 0px;

color: white;
}
.panel-pink, .partition-pink {
background-color: #E07298;
position: relative;
background-color:#E07298 0px;

color: white;
}
.panel-red, .partition-red {
background-color: #E05151;
position: relative;
background-color:#E05151 0px;

color: white;
}
.panel-grey, .partition-grey {
background-color: #935B1A;
position: relative;
background-color:#935B1A 0px;

color: white;
}
/*primary */

.panel-primary1 {
    border-color: #12A5F4;
}
.panel-primary1 > .panel-heading {
    color: #fff;
    background-color: #12A5F4;
    border-color: #12A5F4;
}
.panel-primary1 > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #fff;
}
.panel-primary1 > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color:#12A5F4;
}
/*primary */

.panel-lavender {
    border-color: #AC92EC;
}
.panel-lavender > .panel-heading {
    color: #fff;
    background-color: #AC92EC;
    border-color: #AC92EC;
}
.panel-lavender > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #fff;
}
.panel-lavender > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color:#AC92EC;
}

/* only for panels*/

.panel-headingg {
color: #fff;
background-color: #FFCE54;
border-color: #FFCE54;
padding: 10px 15px;
border-bottom: 1px solid transparent;
}
.panel-heading1 {
color: #fff;
background-color: #12A5F4;
border-color: #12A5F4;
padding: 10px 15px;
border-bottom: 1px solid transparent;
}
.panel-heading2 {
color: #fff;
background-color: #A0D468;
border-color: #A0D468;
padding: 10px 15px;
border-bottom: 1px solid transparent;
}
.panel-heading3 {
color: #fff;
background-color: #6DBDD6;
border-color: #6DBDD6;
padding: 10px 15px;
border-bottom: 1px solid transparent;
}
.panel-heading4 {
color: #fff;
background-color: #FD9883;
border-color: #FD9883;
padding: 10px 15px;
border-bottom: 1px solid transparent;
}
.panel-heading5 {
color: #fff;
background-color: #A0D468;
border-color: #A0D468;
padding: 10px 15px;
border-bottom: 1px solid transparent;
}