/***Portlet custom css***/
  
.actions {
	display: inline-block;
	padding: 0;
	margin: 0;
	margin-top: 15px;
	float: right;
}
.actions1 {
	display: inline-block;
	padding: 0;
	margin: 0;
	margin-top: -6px;
	float: right;
}
#draggablePanelList .panel-heading {
	cursor: move;
}
.panel-info1 {
	color: #fff;
	background-color: #7c3b97;
	border-color: #7c3b97;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('img/loading1.gif') 50% 50% no-repeat rgb(249,249,249);
}
