ul {
    list-style: none;
}
.table>tbody>tr>td, .table>tfoot>tr>td {
padding: 12px;
line-height: 1.42857143;
vertical-align: top;
 border-top: 1px solid #fff; 
}
.nav-custom {
background: none;
border: 0;
margin-bottom: 20px;
-moz-box-shadow: 0 3px 0 rgba(0,0,0,0.1);
-webkit-box-shadow: 0 3px 0 rgba(0,0,0,0.1);
box-shadow: 0 3px 0 rgba(0,0,0,0.1);
}
.nav-custom > li.active > a, .nav-custom > li.active > a:hover,
 .nav-custom > li.active > a:active, .nav-custom > li.active > a:focus {
-moz-box-shadow: 0 3px 0 #12A5F4;
-webkit-box-shadow: 0 3px 0 #12A5F4;
box-shadow: 0 3px 0 #12A5F4;
margin: 0;
}
.nav-custom  > li.active > a,
.nav-custom  > li.active > a:hover,
.nav-custom  > li.active > a:active,
.nav-custom  > li.active > a:focus {
border: 0;
}
a:hover{
color: #12A5F4;
}
a{
color: #12A5F4;
}
#page-user-profile #tab-edit .nav-pills li.active a {
background-color: #5cb85c;
border-color: #5cb85c;
}
.bg-white{
	background: #fff;
}

.activity > .imgs-profile{
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    font-size: 14px;
    padding-top: 15px;
}

.activity .media-object {
    width:48px;
    vertical-align: middle;
}

.activity .media-body {
    line-height: 18px;
    padding-left: 15px;
}

.activity .media-body p {
    line-height: 21px;
    font-size: 13px;
}

.activity .media-title {
    font-size: 15px;
    margin-bottom: 0;
}

.activity .blog-media {
    padding-bottom: 0;
}

.activity .blog-media .media-object {
    width: 120px;
    margin-right: 10px;
    margin-top: 5px;
}

.activity .blog-media .media-title {
    margin: 0;
}

.activity .img-single img {
    width: 50%;
}
.uploadphoto-list li {
    width: 20%;
    float: left;
}

.uploadphoto-list li a {
    display: block;
    margin-right: 5px;
}

tr td a {

color: #666;
}
.panel-primary {
border-color: #fff;
}
.panel-body {
padding: 0px !important;
}
.img-file{
    width: 200px; height: 150px;
}
.img-max{
    max-width: 200px; max-height: 150px;
}
.mb20 {
margin-bottom: 20px;
}
.follower-list .fa {
margin-right: 5px;
width: 16px;
text-align: center;
}
.text-muted {
color: #777;
}