.todolist {
	
	margin-bottom: 10px;
}
.js-add{
margin: -5	px;
padding-left: 4px;
}
.todolist_list {
	
	display: inline-block;
	width: 100%;
border-bottom: 1px solid #e4d1d8;
border-left: 1px solid #e4d1d8;
border-right: 1px solid #e4d1d8;
	float: left;
}
.todolist_list:hover {
	background: #f0f0f0;
}
.todolist header {
text-align: center;
	color: #777;
	padding: 10px;
	border: 1px solid #e4d1d8;


}
.todolist_list .col-md-3 {
	margin-top: 5px;
}
.todolist_list .add {
	border: 1px solid #fe6a0a;
	padding: 5px 20px;
}
.todolist_list .add:hover {
	background: #fe6a0a;
}
.todolist input {
	padding: 2px;
	border-radius: 5px;
	font-size: 14px;
	padding-left: 15px;
	margin-bottom: 13px;
}

.todolist .li {
	padding: 0px !important;
}
.todolist_list .showbtns {
	opacity: 0;
}
.todolist_list:hover .showbtns {
	opacity: 1;
}
#todoedit {
	color: blue;
	padding-right: 3px;
}
#tododelete {
	color: #F00;
	padding-left: 3px;
}
.tododelete, .tododelete:hover {
	color: #Fff !important;
text-decoration: none;
padding: 5px;
background-color:#FD9883;
}
.todoedit, .todoedit:hover {
	color: #Fff !important;
text-decoration: none;
padding: 5px;
background-color:#5D9CEC;
}
.todolist_list > form {
	
	padding-top: 10px;
	
}
.strikethrough {
	text-decoration: line-through;
	color: #FD9883;
}
.opacityfull {
	opacity: 1;
}
/*  canvas chart */

canvas {
	width: 100% !important;
	max-width: 800px;
	height: auto !important;
}
.btns {
	padding: 3px;
	margin: 20px 0px 10px 10px;
	background-color: #7cc4da;
	color: #000;
}
li {
	list-style: none;
}

input[type=checkbox] {
	margin: 20px;
}
.todoitemcheck {
	padding-top: 0px;
	float: left;
}

.todoitem,.todoitemjs{
	padding-top: 17px;
float: left;
}
.todoitembtns {
	padding-top: 20px;
	text-align: right;
}


.btn-info {
color: #fff;
background-color: #67C5DF;
border-color: #67C5DF;
}
.btn-info {
color: #fff;
background-color: #5bc0de;
border-color: #46b8da;
}
.btn {
display: inline-block;
padding: 6px 12px !important;
margin-bottom: 0 !important;
font-size: 14px !important;
font-weight: 400;
line-height: 1.42857143 !important;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;

}

