/*-----------------------------------*\
  $RESET
\*-----------------------------------*/

.butt, .input {
 padding: .75rem;
 margin: 1px 0px 0px 5px;
	background-color: transparent;
	border-radius: 4px;
	float: left;
}
.butt:focus, .input:focus {
	outline: none;
}
.success {
	border: 2px solid #A0D468;
	line-height: 1.175;	
	font-weight: 700;
	color: #fff;
	cursor: pointer;
	-webkit-animation: hue 60s infinite linear;
}
 .info {
	border: 2px solid #37bc9b;
	line-height: 1.175;	
	font-weight: 700;
	color: #fff;
	cursor: pointer;
	-webkit-animation: hue 60s infinite linear;
}
.warning {
	border: 2px solid #FFCE54;
	line-height: 1.175;	
	font-weight: 700;
	color: #fff;
	cursor: pointer;
	-webkit-animation: hue 60s infinite linear;
}
.danger{
	border: 2px solid #FD9883;
	line-height: 1.175;	
	font-weight: 700;
	color: #fff;
	cursor: pointer;
	-webkit-animation: hue 60s infinite linear;
}
.primary{
	border: 2px solid #12A5F4;
	line-height: 1.175;		
	font-weight: 700;
	color: #fff;
	cursor: pointer;
	-webkit-animation: hue 60s infinite linear;
}
.primary_title {
	color: #12A5F4;
	font-size: 40px;
	padding-right: 20%;
}
.success_title {
	color: #A0D468;	
	font-size: 40px;
	padding-right: 20%;
}
.info_title {
	color: #6DBDD6;
	font-size: 40px;
	padding-right: 20%;
}
.warning_title {
	color: #FFCE54;	
	font-size: 40px;
	padding-right: 20%;
}
.danger_title {
	color: #FD9883;	
	font-size: 40px;
	padding-right: 20%;
}

.butt--primary {
	background-color: #f35626;
	color: #fff;
}
.input {
	border: 1px solid #c0c8c9;
	border-radius: 4px;
}
.input--dropdown {
	background-image: url("images/ddown.png");
	background-image: url("images/ddown.svg?3"), none;
	background-repeat: no-repeat;
	background-size: 1.5rem 1rem;
	background-position: right center;
}

.form-control {
/* display: block; */
float: left;
width: 70%;
height: 40px;
padding: 6px 12px;
font-size: 14px;
/* line-height: 1.42857143; */
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/*-----------------------------------*\
  $TYPOGRAPHY
\*-----------------------------------*/
