<md-toolbar>
    <div class="md-toolbar-tools">
        <md-select style="color: white; line-height: normal;" ng-model="appSettings.appDesign.aliases.type"
                   aria-label="aliases"
                   md-on-close="appComponentTypeChange(appSettings.appDesign.aliases.type)">
            <md-option ng-value="option" ng-repeat="option in appComponentOptions.aliases">{{option |
                camelCaseToTitleCase}} Aliases
            </md-option>
        </md-select>
        <span flex></span>
    </div>
</md-toolbar>
<md-card>
    <md-card-header>
        <md-card-header-text><span class="md-title"></span></md-card-header-text>
    </md-card-header>
    <md-card-content>
        <md-list>
            <md-list-item class="md-1-line" ng-repeat="(key, value) in appSettings.appDesign.aliases.active">
                <md-input-container style="width: 100%;">
                    <label>{{key | camelCaseToTitleCase}}</label>
                    <input name="{{key}}" ng-model="appSettings.appDesign.aliases.active[key]">
                </md-input-container>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
