<div style=" background-color: {{item.color.backgroundColor}}; text-align: center; color: white; padding: 10px; height: 100%">
    <div>
        <div style=" box-shadow: 2px 2px 5px #434343; margin: 0 auto; border-radius: 50%; width: 140px; height: 140px;
        background-color: {{item.color.circleColor}};">
            <div style="position: relative; display: block; padding-top: 20px;">
                <div style="z-index: 8; ">
                    <img type="file" ngf-select="uploadAppImage($file, $invalidFiles, 'generic', item, $event)"
                         ng-src="{{item.image.url}}" style="width: 100px; height: 100px;">
                </div>
            </div>
        </div>
        <br>
        <md-input-container style="width: 100%; margin: 0;">
            <input ng-model="item.title"
                   style="text-align: center; height: 40px; line-height: 40px; white-space: nowrap; color: white; font-size: 18px;"
                   aria-label="title">
        </md-input-container>
        <md-input-container style="width: 100%; margin: 0;">
            <textarea style="text-align: center; width: 100%; color: white; " rows="3" name="bodyText"
                      ng-model="item.bodyText" aria-label="bodyText"></textarea>
        </md-input-container>
        <br>
        <div layout="row" class="layout-row">
            <div flex="50" label="Circle Color" md-color-picker="" ng-model="item.color.circleColor"></div>
            <div flex="50" label="Background Color" md-color-picker="" ng-model="item.color.backgroundColor"></div>
        </div>
    </div>
</div>