<md-tabs md-dynamic-height md-border-bottom>
    <md-tab ng-repeat="helpCard in appSettings.appDesign.helpCard.active" label="{{helpCard.title}}">
        <md-tab-label style="cursor: pointer;">
            <i ng-if="$index !== 0" ng-click="move(appSettings.appDesign.helpCard.active, $index, $index - 1)"
               class="icon ion-arrow-left-a"></i>
            {{ helpCard.title | limitTo: 20 }}{{helpCard.title.length > 10 ? '...' : ''}}
            &nbsp <i ng-click="duplicateElementOfArray(appSettings.appDesign.helpCard.active, $index)"
                     class="icon ion-ios-copy-outline"></i>
            &nbsp <i ng-click="removeFromArray(appSettings.appDesign.helpCard.active, $index)"
                     class="icon ion-trash-a"></i>
            &nbsp <i ng-if="$index !== appSettings.appDesign.helpCard.active.length"
                     ng-click="move(appSettings.appDesign.helpCard.active, $index, $index + 1)"
                     class="icon ion-arrow-right-a"></i>
        </md-tab-label>
        <md-tab-body>
            <div ng-include="'templates/fragments/help-info-card-fragment.html'"></div>
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label style="cursor: pointer;">
            Add Another
        </md-tab-label>
        <md-tab-body>
            <md-select style="color: white; line-height: normal;" ng-model="newHelpCard"
                       placeholder="Select a new card">
                <md-option ng-value="option" ng-repeat="option in defaultDesigns.helpCard.general">{{option.title}}
                </md-option>
            </md-select>
            <md-button class="md-raised md-primary icon icon-left ion-checkmark"
                       ng-click="appendDesignComponent('helpCard', newHelpCard)">&nbsp; Add
            </md-button>
            <span flex></span>
        </md-tab-body>
    </md-tab>
</md-tabs>