<md-toolbar>
    <div class="md-toolbar-tools">
        <md-select style="color: white; line-height: normal;" ng-model="appSettings.appDesign.menu.type"
                   aria-label="menu"
                   md-on-close="appComponentTypeChange(appSettings.appDesign.menu.type)">
            <md-option ng-value="option" ng-repeat="option in appComponentOptions.menu">{{option |
                camelCaseToTitleCase}} Menu Type
            </md-option>
        </md-select>
        <span flex></span>
    </div>
</md-toolbar>
<div layout="column">
    <md-content flex layout layout-align="center">
        <div layout-gt-sm flex flex-gt-sm="100" layout="row">
            <div id="menu-preview" style="max-width: 400px; min-width: 400px;" flex>
                <md-card>
                    <md-card-content>
                        <ion-list id="menu-list">
                            <div ng-repeat="menuItem in appSettings.appDesign.menu.active" style="cursor: pointer;">
                                <ion-item id="menu-item-{{menuItem.id + '-design'}}">
                                    <span ng-click="goToStateAndCloseMenuIfNeeded(menuItem)">
                                        <i ng-if="menuItem.showSubMenu && menuItem.subMenu && menuItem.subMenu.length"
                                           class="ion-chevron-down">
                                            &nbsp; {{menuItem.title}}
                                        </i>
                                        <i ng-if="!menuItem.showSubMenu || !menuItem.subMenu || !menuItem.subMenu.length"
                                           class="{{menuItem.icon}}">
                                            &nbsp; {{menuItem.title}}
                                        </i>
                                    </span>
                                    &nbsp&nbsp
                                    <i ng-click="openEditAppSettingsModal('menu', menuItem)" class="icon ion-edit">
                                        <md-tooltip>Edit Menu Item</md-tooltip>
                                    </i>
                                    &nbsp&nbsp
                                    <i ng-click="addAppComponentElement('menu', menuItem)"
                                       class="icon ion-ios-copy-outline">
                                        <md-tooltip>Duplicate Menu Item</md-tooltip>
                                    </i>
                                    &nbsp&nbsp
                                    <i ng-click="deleteAppComponentElement('menu', menuItem)" class="icon ion-trash-a">
                                        <md-tooltip>Delete Menu Item</md-tooltip>
                                    </i>
                                    &nbsp&nbsp
                                    <i ng-click="menu.moveMenuItemUp(appSettings.appDesign.menu.active, $index)"
                                       class="icon ion-android-arrow-dropup-circle">
                                        <md-tooltip>Move Up</md-tooltip>
                                    </i>
                                    &nbsp&nbsp
                                    <i ng-click="menu.moveMenuItemDown(appSettings.appDesign.menu.active, $index)"
                                       class="icon ion-android-arrow-dropdown-circle">
                                        <md-tooltip>Move Down</md-tooltip>
                                    </i>
                                </ion-item>
                                <ion-item ng-repeat="subMenuItem in menuItem.subMenu"
                                          id="submenu-item-{{subMenuItem.id}}"
                                          ng-show="menuItem.showSubMenu" ng-class="{'sub-menu': true}">
                                    <!--Don't use menu-close instead of menu-toggle because it clears the state history-->
                                    <i ng-click="openEditAppSettingsModal('menu', subMenuItem)"
                                       class="{{subMenuItem.icon}}" menu-toggle>
                                        &nbsp; {{subMenuItem.title}}
                                    </i>
                                    &nbsp&nbsp
                                    <i ng-click="openEditAppSettingsModal('menu', subMenuItem)" class="icon ion-edit">
                                        <md-tooltip>Edit Sub-Menu Item</md-tooltip>
                                    </i>
                                    &nbsp&nbsp
                                    <i ng-click="addAppComponentElement('menu', subMenuItem)"
                                       class="icon ion-ios-copy-outline">
                                        <md-tooltip>Duplicate Sub-Menu Item</md-tooltip>
                                    </i>
                                    &nbsp&nbsp
                                    <i ng-click="deleteAppComponentElement('menu', subMenuItem)"
                                       class="icon ion-trash-a">
                                        <md-tooltip>Delete Sub-Menu Item</md-tooltip>
                                    </i>
                                    &nbsp&nbsp
                                    <i ng-click="menu.moveMenuItemUp(menuItem.subMenu, $index)"
                                       class="icon ion-android-arrow-dropup-circle">
                                        <md-tooltip>Move Up</md-tooltip>
                                    </i>
                                    &nbsp&nbsp
                                    <i ng-click="menu.moveMenuItemDown(menuItem.subMenu, $index)"
                                       class="icon ion-android-arrow-dropdown-circle">
                                        <md-tooltip>Move Down</md-tooltip>
                                    </i>
                                </ion-item>
                            </div>
                        </ion-list>
                    </md-card-content>
                </md-card>
            </div>
            <div id="menu-item-editor" flex>
                <div layout="column" layout-padding ng-cloak
                     ng-if="appSettingObjectToEdit && appSettingObjectToEdit.icon">
                    <md-card>
                        <md-card-header>
                            <md-card-header-text>
                                <span class="md-title">Edit Menu Item</span>
                            </md-card-header-text>
                        </md-card-header>
                        <md-card-content>
                            <md-input-container style="padding-top:10px;">
                                <label>Title</label>
                                <input name="title" ng-model="appSettingObjectToEdit.title">
                            </md-input-container>
                            <md-button class="md-fab md-avatar"
                                       aria-label="{{appSettingObjectToEdit.icon | ionIconDisplayName}}"
                                       ng-click="selectIonIcon($event, appSettingObjectToEdit)">
                                <md-icon style="font-size: 20px;" md-font-icon="{{appSettingObjectToEdit.icon}}"
                                         class="{{appSettingObjectToEdit.icon}}">

                                </md-icon>
                            </md-button>
                            <div ng-if="!appSettingObjectToEdit.subMenu || !appSettingObjectToEdit.subMenu.length">
                                <md-input-container id="target-state-selector">
                                    <label>Target State</label>
                                    <md-select ng-model="appSettingObjectToEdit.stateName"
                                               ng-change="menu.onStateChange(appSettingObjectToEdit)">
                                        <md-option ng-value="option.name" ng-repeat="option in stateList">
                                            {{option.name | camelCaseToTitleCase}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <div ng-if="appSettingObjectToEdit.params && typeOf(appSettingObjectToEdit.params.variableCategoryName) !== 'undefined'">
                                    <label>Variable Category</label>
                                    <md-select ng-model="appSettingObjectToEdit.params.variableCategoryName"
                                               ng-change="menu.onParameterChange(appSettingObjectToEdit)">
                                        <md-option ng-value="option" ng-repeat="option in variableCategoryNames">
                                            <i class="icon {{variableCategories[option].ionIcon}}"></i> &nbsp;{{option |
                                            camelCaseToTitleCase}}
                                        </md-option>
                                    </md-select>
                                </div>
                                <div ng-if="appSettingObjectToEdit.params && typeOf(appSettingObjectToEdit.params.variableName) !== 'undefined'">
                                    <label>Variable Name</label>
                                    <md-button ng-if="!appSettingObjectToEdit.params.variableName"
                                               ng-click="menu.variableNameStateParamSearch(appSettingObjectToEdit, $event)"
                                               class="md-raised md-primary">
                                        Select Variable (Optional)
                                    </md-button>
                                    <md-button ng-if="appSettingObjectToEdit.params.variableName"
                                               ng-click="menu.variableNameStateParamSearch(appSettingObjectToEdit, $event)"
                                               class="md-raised md-primary">
                                        {{appSettingObjectToEdit.params.variableName}}
                                    </md-button>
                                </div>
                                <div ng-if="key.indexOf('hide') !== -1"
                                     ng-repeat="(key, value) in appSettingObjectToEdit.params">
                                    <label>{{key | camelCaseToTitleCase}}</label>
                                    <md-switch ng-model="appSettingObjectToEdit.params[key]"
                                               ng-change="menu.onParameterChange(appSettingObjectToEdit)"
                                               aria-label="{{key}}">
                                    </md-switch>
                                </div>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
        </div>
    </md-content>
</div>


