<md-toolbar>
    <div class="md-toolbar-tools">
        <md-select style="color: white; line-height: normal;" ng-model="appSettings.appDesign.onboarding.type"
                   aria-label="onboarding"
                   md-on-close="appComponentTypeChange(appSettings.appDesign.onboarding.type)">
            <md-option ng-value="option" ng-repeat="option in appComponentOptions.onboarding">{{option |
                camelCaseToTitleCase}} Onboarding Type
            </md-option>
        </md-select>
        <span flex></span>
    </div>
</md-toolbar>
<md-tabs md-dynamic-height md-border-bottom>
    <md-tab ng-repeat="item in appSettings.appDesign.onboarding.active">
        <md-tab-label style="cursor: pointer;">
            <i ng-if="$index !== 0" ng-click="move(appSettings.appDesign.onboarding.active, $index, $index - 1)"
               class="icon ion-arrow-left-a"></i>
            {{ item.title | limitTo: 20 }}{{item.title.length > 10 ? '...' : ''}}
            &nbsp <i ng-click="duplicateElementOfArray(appSettings.appDesign.onboarding.active, $index)"
                     class="icon ion-ios-copy-outline"></i>
            &nbsp <i ng-click="removeFromArray(appSettings.appDesign.onboarding.active, $index)"
                     class="icon ion-trash-a"></i>
            &nbsp <i ng-if="$index !== appSettings.appDesign.onboarding.active.length"
                     ng-click="move(appSettings.appDesign.onboarding.active, $index, $index + 1)"
                     class="icon ion-arrow-right-a"></i>
        </md-tab-label>
        <md-tab-body>
            <div ng-include="'builder-templates/design-components/circle-page-designer.html'"></div>
            <!--            <md-select style="color: white; line-height: normal;" ng-model="item.action" placeholder="Select a page action">
                            <md-option ng-value="pageAction"
                                       ng-repeat="pageAction in [{title: 'Go to a page', 'type': 'goToState'}, {title: 'Answer a Question', 'type': 'question'}]" >
                                {{pageAction.type}}
                            </md-option>
                        </md-select>-->
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label style="cursor: pointer;">
            Add Another
        </md-tab-label>
        <md-tab-body>
            <md-select style="color: white; line-height: normal;" ng-model="newOnboardingPage"
                       placeholder="Select a new onboarding page">
                <md-option ng-value="option" ng-repeat="option in defaultDesigns.onboarding.all">{{option.title}}
                </md-option>
            </md-select>
            <md-button class="md-raised md-primary icon icon-left ion-checkmark"
                       ng-click="appendDesignComponent('onboarding', newOnboardingPage)">&nbsp; Add
            </md-button>
            <span flex></span>
        </md-tab-body>
    </md-tab>
</md-tabs>