# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
!/fastlane/
!/src/
!/src/your_quantimodo_client_id_here.private_config.json
*.app.dSYM.zip
*.ipa
*.keystore
*.mobileprovision
.idea/
!.idea/runConfigurations/*
!.idea/dictionaries/*
!.idea/modules/*
!.idea/inspectionProfiles/*
.vagrant/
.vs/
/android-armv7-debug/
/android-armv7-release/
/android-x86-release/
/bin/
/bld/
/build/
/config.xml
/fastlane/*
/hooks/generate_resources_fix_xcode_and_fastlane_beta.sh
/platforms/
/resources
android-sdk-linux/
android-sdk_r24.2-linux.tgz
build.json
dev-credentials.json
dropbox
gradle-2.14.1-bin.zip
my-bot/
node_modules/
npm-debug.log
plugins/
QM-Ionic-Build.jsproj
QM-Ionic-Build.sln
QM-Ionic.jsproj
QM-Ionic.jsproj.user
QM-Ionic.sln
resources-shared/screenshots/3.5/
resources-shared/screenshots/4.0/
resources-shared/screenshots/4.7/
resources-shared/screenshots/5.5/
scripts/certs/apple.cer
scripts/certs/dist.cer
scripts/certs/dist.p12
supply_json_key_for_google_play.json

# Visual Studio Recommended Folder Exclusions
platforms
bld
bin
.vs

# Visual Studio Recommended File Exclusions
plugins/android.json
plugins/windows.json
plugins/wp8.json
plugins/ios.json
plugins/remote_ios.json
changeList.json
*.suo
*.jsproj.user
Ionic\.jsproj
Ionic\.sln
composer.phar
packages/
npm-debug.log*
.DS_Store
.io-config.json
ghostinspector\.json
ngrok*
gradlew
gradlew.bat
local.properties
gradle/
success
www/*
!/www/gitkeep
#dist/
.chcplogin

cordova-hcp.json
.chcpenv

chcpbuild\.options
*.pkey
*.pem
*.p12

yarn-error\.log
\.publish
*.private_config.json
GoogleService-Info.plist
google-services.json
src/data/apiai/
/lastCommitBuilt
src/data/commits/
sh.exe.stackdump
.vscode/launch.json

secrets/*
.env*
!.env.example
/.gradle/
/ionic.iml
/cypress/reports/merged/mochawesome.json
/last-failed-cypress-test
/cypress/videos/
/success-file
/cypress/mochawesome-report/assets/
debug.log
/cypress/fixtures/get/some-path-param=hi.json
/cypress/reports/mocha/
/cypress/fixtures/get/api/
/.env
ts/**/*.js
ts/**/*.map
cypress/**/*.map
!/tmp/.gitignore
.vercel
/src/data/buildInfo.js
