// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.dataTables_wrapper .dataTables_processing {
  background: #3b5998;
  color: white;
  border: 5px solid black;
  border-radius: 50%;
  font-size: 60px;
}

.horizontal-bar-chart-wrap {
  width: 650px;
  height: 600px;
  font-family: sans-serif;
}
.horizontal-bar-chart-wrap .title {
  text-align: center;
}
.horizontal-bar-chart-grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: 2px solid #aaa;
  background: repeating-linear-gradient(0deg, transparent, transparent 19.5%, rgba(170, 170, 170, 0.7) 20%);
}
.horizontal-bar-chart-grid .horizontal-bar-chart-bar {
  background-color: #F16335;
  width: 45px;
  height: var(--bar-value);
  align-self: flex-end;
  margin: 0 auto;
  border-radius: 3px 3px 0 0;
  position: relative;
}
.horizontal-bar-chart-grid .horizontal-bar-chart-bar.horizontal-bar-chart-bar:hover {
  opacity: 0.7;
}
.horizontal-bar-chart-grid .horizontal-bar-chart-bar::after {
  content: attr(data-name);
  top: -3em;
  padding: 10px;
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  transform: rotate(-45deg);
}
.horizontal-bar-chart-grid.horizontal {
  flex-direction: column;
  border-bottom: none;
  border-left: 2px solid #aaa;
  background: repeating-linear-gradient(90deg, transparent, transparent 19.5%, rgba(170, 170, 170, 0.7) 20%);
}
.horizontal-bar-chart-grid.horizontal .horizontal-bar-chart-bar {
  height: 45px;
  width: var(--bar-value);
  align-self: flex-start;
  margin: auto 0 auto 0;
  border-radius: 0 3px 3px 0;
}
.horizontal-bar-chart-grid.horizontal .horizontal-bar-chart-bar::after {
  top: initial;
  left: 100%;
  padding: 0 10px;
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  transform: rotate(0deg);
  line-height: 45px;
}
