<div ng-cloak style="padding-bottom: 200px;">
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="App Images">
                <div ng-include="'builder-templates/additional-settings/app-images.html'"></div>
            </md-tab>
            <md-tab label="OAuth">
                <div ng-include="'builder-templates/oauth-card.html'"></div>
            </md-tab>
            <md-tab label="App Ids">
                <md-card>
                    <md-card-header>
                        <md-card-header-text><span class="md-title"></span></md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <md-list>
                            <md-list-item class="md-1-line"
                                          ng-repeat="(key, value) in appSettings.additionalSettings.appIds">
                                <md-input-container style="width: 100%;">
                                    <label>{{key | camelCaseToTitleCase}}</label>
                                    <input name="{{key}}" ng-model="appSettings.additionalSettings.appIds[key]">
                                </md-input-container>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </md-tab>
            <md-tab label="Monetization">
                <md-card>
                    <md-card-header>
                        <md-card-header-text><span class="md-title"></span></md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <div ng-include="'builder-templates/additional-settings/monetization-settings.html'"></div>
                    </md-card-content>
                </md-card>
            </md-tab>
            <md-tab label="Google Analytics">
                <md-card>
                    <md-card-header>
                        <md-card-header-text><span class="md-title"></span></md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <md-list>
                            <md-list-item class="md-1-line"
                                          ng-repeat="(key, value) in appSettings.additionalSettings.googleAnalyticsTrackingIds">
                                <md-input-container style="width: 100%;">
                                    <label>{{key | camelCaseToTitleCase}}</label>
                                    <input name="{{key}}"
                                           ng-model="appSettings.additionalSettings.googleAnalyticsTrackingIds[key]">
                                </md-input-container>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </md-tab>
            <md-tab label="Social Links">
                <md-card>
                    <md-card-header>
                        <md-card-header-text><span class="md-title"></span></md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <md-list>
                            <md-list-item class="md-1-line"
                                          ng-repeat="(key, value) in appSettings.additionalSettings.socialLinks">
                                <md-input-container style="width: 100%;">
                                    <label>{{key | camelCaseToTitleCase}}</label>
                                    <input name="{{key}}" ng-model="appSettings.additionalSettings.socialLinks[key]">
                                </md-input-container>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
            </md-tab>
        </md-tabs>
    </md-content>
</div>


