<ion-view hide-nav-bar="hideNavigationMenu" style="max-height: 100%">
    <ion-nav-title>{{appSettings.appDisplayName}}</ion-nav-title>
    <ion-content ng-class="{ isBrowserView : isWeb == true }" style="max-height: 100%; overflow-y: scroll;">
        <div id="patient-iframe" ng-if="patientUser" style="height: 100%; width: 100%;">
            <md-toolbar>
                <div class="md-toolbar-tools" ng-if="patientUser">
                    <span flex> Acting as {{patientUser.displayName}}</span>
                    <md-button class="icon icon-left ion-arrow-swap" ng-click="switchBackFromPatient()">
                        &nbsp; Switch Back to Your Account
                    </md-button>
                    <md-button class="icon icon-left ion-android-open" ng-click="openUrl(iframeUrl, null, 'incognito')">
                        <md-tooltip>Open in New Tab</md-tooltip>
                    </md-button>
                </div>
            </md-toolbar>
            <iframe ng-src="{{iframeUrl}}"
                    data-tap-disabled="true" style="height: 100%; width: 100%;"
                    frameborder="0">
            </iframe>
        </div>
        <div id="app-builder" ng-if="!patientUser" style="max-height: 100%">
            <div ng-if="appList && appList.length === 0" style="margin-top: 50px;">
                <div style="text-align: center;">
                    <md-button class="md-raised md-primary icon icon-left ion-plus-round"
                               ng-click="openNewAppModalPopup()" style="margin: 0 auto;">
                        &nbsp; Create New App
                    </md-button>
                </div>
            </div>
            <div ng-if="appList && appList.length" ng-cloak>
                <md-content>
                    <md-toolbar>
                        <div class="md-toolbar-tools">
<!--                            <md-progress-linear md-mode="indeterminate"
                                                ng-if="!appList || state.loading"></md-progress-linear>-->
                            <md-select style="color: white; line-height: normal;" ng-model="appSettings"
                                       ng-model-options="{trackBy: '$value.clientId'}" aria-label="appList"
                                       ng-change="switchApp(appSettings)" ng-if="appList && appList.length > 1">
                                <md-option ng-value="app" ng-repeat="app in appList track by app.clientId">
                                    <md-list-item class="md-1-line" style="align-items: unset">
                                        <img class="md-avatar" style="max-height: 25px; width: auto;"
                                             src="{{ app.appIcon }}" alt="{{app.appDisplayName}}"/>
                                        <div class="md-list-item-text">
                                            <h4>{{app.appDisplayName}} App Designer</h4>
                                        </div>
                                    </md-list-item>

                                </md-option>
                            </md-select>
                            <span flex></span>
                            <md-button class="icon icon-left ion-checkmark"
                                       ng-click="postAppSettingsAfterConfirmation()">&nbsp; Save Changes
                            </md-button>
                            <md-button class="icon icon-left ion-plus-round" ng-click="openNewAppModalPopup()">&nbsp;
                                New App
                            </md-button>
                        </div>
                    </md-toolbar>
	                <md-progress-linear md-mode="indeterminate"
	                                    ng-if="state.loading"></md-progress-linear>
                    <md-tabs ng-if="!patientUser && !state.loading" md-dynamic-height md-border-bottom>
                        <md-tab label="Links">
                            <md-content class="md-padding">
                                <!--<div ng-include="'builder-templates/app-design-list-fragment.html'"></div>-->
                                <div ng-include="'builder-templates/oauth-card.html'"></div>
                                <div ng-include="'builder-templates/app-links.html'"></div>
<!--                                <div ng-if="appSettings.appStatus.betaDownloadLinks.androidRelease"
                                     ng-include="'builder-templates/builds-card.html'"></div>-->
                            </md-content>
                        </md-tab>
<!--                        <md-tab label="API" style="height: 100%; width: 100%; ">
                            <iframe ng-src="api-docs.html"
                                    data-tap-disabled="true" style="height: 100%; width: 100%; position: absolute;"
                                    frameborder="0">
                            </iframe>
                        </md-tab>-->
                        <md-tab label="Design">
                            <md-content class="md-padding">
                                <!--<div ng-include="'builder-templates/app-design-list-fragment.html'"></div>-->
                                <div ng-include="'builder-templates/app-design-tabs-fragment.html'"></div>
                            </md-content>
                        </md-tab>
                        <md-tab label="Settings">
                            <md-content class="md-padding">
                                <div ng-include="'builder-templates/additional-settings-fragment.html'"></div>
                            </md-content>
                        </md-tab>
                        <md-tab label="Builds">
                            <div ng-include="'builder-templates/builds-tab.html'"></div>
                        </md-tab>
                        <md-tab label="Collaborators">
                            <div ng-include="'builder-templates/lists/collaborator-list.html'"></div>
                        </md-tab>
                        <md-tab label="Users" ng-click="loadUserList()">
                            <div ng-include="'builder-templates/lists/user-list.html'"></div>
                        </md-tab>
                        <md-tab label="Other Apps">
                            <div ng-include="'builder-templates/app-list-fragment.html'"></div>
                        </md-tab>
                        <md-tab label="Revisions" ng-click="">
                            <div ng-include="'builder-templates/revision-list-fragment.html'"></div>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
            <div ng-if="state.loading" ng-cloak>
                <br> <br>
                <h1 style="text-align: center;" class="pulsating-glowing-text">Loading your apps.. </h1>
                <br>
                <div style="text-align: center"><br>
                    <ion-spinner icon="android"></ion-spinner>
                    <br></div>
            </div>
            <!--<md-button class="md-raised md-primary" ng-click="undoPostAppSettings($event)">Undo</md-button>-->
        </div>

    </ion-content>
    <div ng-include="'templates/fragments/floating-material-action-button-fragment.html'"></div>
</ion-view>
