<md-card>
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span style="color: white;">
                <md-icon class="ion-ios-color-wand-outline"> </md-icon>  Create New App
            </span>
        </h2>
    </md-toolbar>
    <md-card-content>
        <md-content layout-padding>
            <div ng-if="errorMessage">{{errorMessage}}</div>
            <form name="newAppForm">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>App Name</label>
                        <input required ng-model="newApp.appDisplayName">
                    </md-input-container>
                </div>
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>App Description</label>
                        <input required md-maxlength="140" ng-model="newApp.appDescription" name="appDescription">
                        <div ng-messages="newAppForm.appDescription.$error" ng-show="newAppForm.appDescription.$dirty">
                            <div ng-message="required">This is required!</div>
                            <div ng-message="md-maxlength">That's too long!</div>
                            <div ng-message="minlength">That's too short!</div>
                        </div>
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <label>Informational Homepage</label>
                    <input required type="url" name="homepageUrl" ng-model="newApp.homepageUrl"/>
                    <div ng-messages="newAppForm.homepageUrl.$error" role="alert">
                        <div ng-message="url">Not a valid URL! Don't forget to use https://</div>
                        <div ng-message-exp="['required', 'minlength', 'pattern']">This field is required</div>
                    </div>
                </md-input-container>
                <!--                <md-input-container class="md-block">
                                    <label>Redirect URI's</label>
                                    <textarea ng-model="newApp.biography" rows="3" md-select-on-focus></textarea>
                                    <div class="hint">
                                        The Redirect URI (A.K.A Callback URL) is used in the OAuth 2.0 authentication process. It is the uri that our systems post your an authorization code to, which is then
                                        exchanged for an access token which you can use to authenticate subsequent API calls.  HTTPS must be used.  If you have more than one redirect uri, you must specify
                                        which one to use by adding a redirect_uri parameter in your OAuth request.
                                        See <a target="_blank" href="https://developer.quantimo.do/docs">https://developer.quantimo.do/docs</a> for more information. Please enter one url per line
                                    </div>
                                </md-input-container>-->
            </form>
        </md-content>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button ng-if="!creatingApp" ng-disabled="newAppForm.$invalid" type="submit"
                   class="submit md-raised md-primary icon icon-left ion-flash" ng-click="createApp(newApp)">&nbsp
            Create App
        </md-button>
        <md-button ng-if="creatingApp" ng-disabled="true" type="submit"
                   class="submit md-raised md-primary icon icon-left ion-upload">&nbsp Creating app...
        </md-button>
    </md-card-actions>
</md-card>