<div ng-if="!revisionsList" layout="row" layout-sm="column" layout-align="space-around"
     style="padding-top: 50px; width: 100%;">
    <md-progress-circular md-diameter="50"></md-progress-circular>
</div>
<md-list class="md-dense" flex>
    <md-list-item ng-repeat="revision in revisionsList | orderBy : 'revisionTime'" ng-click="switchRevision(revision)"
                  class="noright">
        <img alt="{{ revision.appDisplayName }}"
             ng-src="{{ (revision.appIcon) ? revision.appIcon : 'https://via.placeholder.com/512x512'  }}" class="md-avatar"/>
        <div class="md-list-item-text">
            <h4>{{ revision.appDisplayName }}</h4>
            <p>{{ revision.revisionTime }}</p>
        </div>
        <md-button class="md-secondary md-icon-button" style="font-size: 30px;" ng-click="switchRevision(revision)"
                   aria-label="preview">
            <md-icon class="ion-android-open">
                <md-tooltip md-direction="down">Switch to this revision</md-tooltip>
            </md-icon>
        </md-button>
        <md-button class="md-secondary md-icon-button" style="font-size: 30px;" ng-click="deleteRevision(revision)"
                   aria-label="delete">
            <md-icon class="ion-close-round">
                <md-tooltip md-direction="down">Delete Revision</md-tooltip>
            </md-icon>
        </md-button>
    </md-list-item>
</md-list>