<md-toolbar>
    <div class="md-toolbar-tools">
        <md-select style="color: white; line-height: normal;" ng-model="appSettings.appDesign.floatingActionButton.type"
                   aria-label="floatingActionButton"
                   md-on-close="appComponentTypeChange(appSettings.appDesign.floatingActionButton.type)">
            <md-option ng-value="option" ng-repeat="option in appComponentOptions.floatingActionButton">{{option |
                camelCaseToTitleCase}} Button Type
            </md-option>
        </md-select>
        <span flex></span>
    </div>
</md-toolbar>
<md-content class="md-padding">
    <div layout="row">
        <div ng-repeat="item in appSettings.appDesign.floatingActionButton.active" flex="25">
            <md-card>
                <md-card-header>
                    <md-card-header-text>
                        <div ng-include="'builder-templates/inputs/icon-input.html'"></div
                    </md-card-header-text>
                </md-card-header>
                <md-card-content layout="column">
                    <md-input-container>
                        <div ng-include="'builder-templates/inputs/label-input.html'"></div>
                    </md-input-container>
                    <md-input-container>
                        <div ng-include="'builder-templates/inputs/state-name-input.html'"></div>
                    </md-input-container>
                    <md-input-container ng-if="item.stateName !== 'app.import' && item.stateName !== 'app.help'">
                        <div ng-include="'builder-templates/inputs/variable-category-input.html'"></div>
                    </md-input-container>
                </md-card-content>
            </md-card>
        </div>
    </div>
</md-content>