.logo {
    background-color: #FFCE54;
    border-right: 1px solid #FFCE54;
}
.logo > h1 {
    margin-top: 0;
    font-size: 40px;
    color: #fff;
}
.navbar {
    background-color: #FFCE54;
    /*  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); */
}
.nav_profile {
    background-color: #EFEFEF;
}
.navbar .nav a {
    color: #555;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:active, .navbar .nav > li > a:focus, .navbar .nav .open > a, .navbar .nav .open > a:hover, .navbar .nav .open > a:focus {
    color: #555;
}
.navbar .navbar-right > .nav {
    margin-right: 10px;
}
.navbar .sidebar-toggle .icon-bar {
    background: #fff;
}
.sidebar .page-sidebar-menu > li {
    border-bottom: 1px solid #fff;
}
.sidebar .page-sidebar-menu > li:hover {
    background: #3a4252;
    border-bottom: 1px solid rgba(54, 60, 70, 0.5);
}
.sidebar > .sidebar-menu > li > a {
    margin-right: 1px;
}
.left-side {
    background: #efefef;
}
.sidebar a {
    color: #808b9c;
    font-family: 'Open Sans';
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}
.sidebar li.open a:hover {
    background: #3a4252 !important;
    text-decoration: none !important;
}
.sidebar li.open ul:hover, .sidebar li.open a ul:hover, .sidebar li.open ul li:hover, a, a:hover {
    text-decoration: none !important;
}
.navbar .sidebar-toggle {
    border: 1px solid #f5c651;
}
.content-profile .icon-list li a {
    border: 1px solid #e2e2e2;
}
a.navbar-btn.sidebar-toggle:hover {
    background: #f5c651;
}
.icon-list li a:hover {
    background: #f5c651;
}
.navbar-right .nav>li>a:hover {
    background: #f5c651;
}
.sidebar-menu {
    background: #efefef;
}
.left-side li a i {
    padding-top: 2px;
}
.sidebar .sidebar-menu .sub-menu > li {
    margin: 0;
    background: #E6E6E6;
}
.navbar-right .nav .open > a {
    background-color: #f5c651;
    border-color: #f5c651;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 140px;
    padding: 6%;
    background: #FFCE54;
    text-align: center;
}
.dropdown-menu .header {
    background: #FFCE54!important;
    color: #555!important;
}
li.dropdown-title {
    padding: 16px;
    background: #F5C651;
    font-size: 13px;
    color: #fff;
}
li.dropdown-footer {
    padding: 16px;
    background: #F5C651;
    border-bottom: 1px solid #ccc;
    color: #fff;
}
#right {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    right: -250px;
    background: #F5C651;
}
#menu li.active>a {
    background: #ccc;
    color: #fff;
}
#menu .navigation .menu-icon {
    color: #808b9c;
}
.nav_profile .profile-left {
    border-bottom: 1px solid #e2e2e2;
}
#menu .menu-dropdown>ul, #menu .menu-dropdown-open-ul {
    background: #e2e2e2;
}
#menu .navigation {
    border-bottom: 1px solid #e2e2e2;
}
#menu li >a:hover {
    color: #23272D;
}
.left-side li a i:hover {
   
    color: #fff;
}
.navbar-right .nav .open > a, .navbar-right .nav .open > a:hover, .navbar-right .nav .open > a:focus, .navbar-right .nav>li>a:hover, .navbar-right .nav>li>a:focus {
background-color:  #F5C651;
border-color:  #F5C651;
}
.nav_profile .profile-left {
padding: 15px;
min-height: 90px;
border-bottom: 1px solid #E2E2E2;
}

#active a, #active i {
    font-weight: bold;
}