.logo {
    background-color: #5D9CEC;
    border-right: 1px solid #5D9CEC;
}
.logo > h1 {
    margin-top: 0;
    font-size: 40px;
    color: #fff;
}
.navbar {
    background-color: #5D9CEC;
    /*  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); */
}
.nav_profile {
    background-color: #23272D;
}
.navbar .nav a {
    color: #555;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a:active, .navbar .nav > li > a:focus, .navbar .nav .open > a, .navbar .nav .open > a:hover, .navbar .nav .open > a:focus {
    color: #555;
}
.navbar .navbar-right > .nav {
    margin-right: 10px;
}
.navbar .sidebar-toggle .icon-bar {
    background: #fff;
}
.sidebar .page-sidebar-menu > li {
    border-bottom: 1px solid #fff;
}
.sidebar .page-sidebar-menu > li:hover {
    background: #3a4252;
    border-bottom: 1px solid rgba(54, 60, 70, 0.5);
}
.sidebar > .sidebar-menu > li > a {
    margin-right: 1px;
}
.left-side {
    background: #23272D;
}
.sidebar a {
    color: #808b9c;
    font-family: 'Open Sans';
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
}
.sidebar li.open a:hover {
    background: #3a4252 !important;
    text-decoration: none !important;
}
.sidebar li.open ul:hover, .sidebar li.open a ul:hover, .sidebar li.open ul li:hover, a, a:hover {
    text-decoration: none !important;
}
.navbar .sidebar-toggle {
    border: 1px solid #4A89DC;
}
.content-profile .icon-list li a {
    border: 1px solid #2e333b;
}
a.navbar-btn.sidebar-toggle:hover {
    background: #4A89DC;
}
.icon-list li a:hover {
    background: #4A89DC;
}
.navbar-right .nav>li>a:hover {
    background: #4A89DC;
}
.navbar-right .nav .open > a, .navbar-right .nav .open > a:hover, .navbar-right .nav .open > a:focus, .navbar-right .nav>li>a:hover, .navbar-right .nav>li>a:focus {
background-color:  #4A89DC;
border-color:  #4A89DC;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 140px;
    padding: 6%;
    background: #5D9CEC;
    text-align: center;
}
li.dropdown-title {
    padding: 16px;
    background: #4A89DC;
    font-size: 13px;
    color: #fff;
}
li.dropdown-footer {
    padding: 16px;
    background: #4A89DC;
    border-bottom: 1px solid #ccc;
    color: #fff;
}
#right {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    right: -250px;
    background: #4A89DC;
}
/* left side profile css */

.nav_profile .profile-left {
    padding: 15px;
    min-height: 90px;
    border-bottom: 1px solid #2e333b;
}
.nav_profile {
    background-color: #23272D;
}
 .nav_profile .profile-left .profile-thumb {
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;
    padding-top: 9px;
}
.nav_profile .profile-left .media-heading {
    line-height: 23px;
    margin-top: 12px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}
.nav_profile .profile-left .profile-thumb img {
    width: 54px;
}
#menu li.active>a {
    background: #181b1f;
    color: #fff;
}
#menu li >a:hover {
    color: #fff;
}
#menu .menu-dropdown>ul>li>a {
    padding-left: 20px;
}
#menu .menu-dropdown>ul, #menu .menu-dropdown-open-ul {
    background: #2a2e36;
}
#menu .navigation a {
    color: #808b9c;
    position: relative;
    -webkit-transition: all .2s;
    transition: all .2s;
}
#menu .menu-dropdown>ul, #menu .menu-dropdown-open-ul {
background: #2a2e36;
}

#active a, #active i {
    font-weight: bold;
}
.nav_profile .profile-left {
padding: 15px;
min-height: 90px;
border-bottom: 1px solid #2e333b;
}