<div ng-init="card = card || state.card" class="card" id="{{card.id}}" style="background-color: #2E294E; border-radius: 15px" ng-if="!card.hide">
    <div id="card-header" class="item item-avatar item-borderless"
            style="background-color: #2E294E; padding-left: 0; padding-right: 0">
    <span style="position: absolute; top: 15px; left: 15px; font-size: 36px; max-width: 40px; max-height: 40px; width: 100%; border-radius: 4px;">
        <i id="card-icon" ng-if="!card.avatar" class="icon balanced {{card.ionIcon}}"></i>
        <img id="card-image" style="max-width: 40px; max-height: 40px;" ng-if="card.avatar" ng-src="{{card.avatar}}">
    </span>
        <span style="text-align: center; height: 40px; line-height: 40px; white-space: nowrap;">
            <p ng-if="!platform.isMobile"
                style="font-size: 24px; color: white; margin-left: 50px; margin-right: 50px; white-space: normal;">
                {{card.title || card.headerTitle}}
            </p>
            <p ng-if="platform.isMobile"
                style="font-size: 18px; color: white; margin-left: 50px; margin-right: 50px; white-space: normal;">
                {{card.title|| card.headerTitle}}
            </p>
        </span>
        <button id="closeButton" class="button button-clear button-assertive" ng-click="card.hide = true;"
                style="position: absolute; top: 10px; right: 10px; font-size: 25px;"><i class="ion-close-round"></i>
        </button>
    </div>
    <!-- If we show both buttons and htmlContent we get duplicate buttons in the case of tracking instruction cards-->
    <!-- Also htmlContent has black text which is bad on blue background-->
<!--    <div ng-if="card.htmlContent" style="padding: 5px;" ng-bind-html="trustAsHtml(card.htmlContent)"></div>-->
    <p style="padding: 10px; text-align: center; color: white;">{{card.content}}</p>
    <div class="center pb-2">
        <md-button id="{{button.id}}" class="md-primary md-raised"
                   ng-repeat="button in card.buttons"
                   ng-click="generalButtonClickHandler(button)">
            <i class="{{button.ionIcon}}"> &nbsp; {{button.text}} &nbsp;</i>
        </md-button>
    </div>
</div>
