<ion-view hide-nav-bar="hideNavigationMenu">
    <ion-nav-title>Study</ion-nav-title>
    <ion-content scroll="{ isBrowserView : platform.isWeb == false }"
                 overflow-scroll="true"
                 style="padding: 10px;"
                 ng-class="{ isBrowserView : platform.isWeb == true }">
        <ion-refresher on-refresh="refreshStudy()"></ion-refresher>
	    <md-progress-linear md-mode="indeterminate"  ng-show="loadingCharts || !state.study"></md-progress-linear>

        <div >
            <div style="max-width: 600px; display:block; margin:auto;"
                 ng-include="'templates/loaders/blue-robot-loader.html'"></div>
        </div>

    </ion-content>
</ion-view>
