<ion-view hide-nav-bar="hideNavigationMenu">
    <ion-nav-title>{{state.title}}</ion-nav-title>
    <ion-content scroll="{ isBrowserView : platform.isWeb == false }"
                 ng-class="{ isBrowserView : platform.isWeb == true }">
        <ion-refresher on-refresh="refreshCharts()"></ion-refresher>
        <md-progress-linear md-mode="indeterminate"
                            ng-show="!state.variableObject.charts">
        </md-progress-linear>
        <div ng-cloak>
	        <md-button ng-click="state.mintLit">
		        <img src="https://www.mintlit.com/images/mintlit-logo.png" style="width: 32px; height: 32px;"/>
		        Mint Data Gem
	        </md-button>
            <div ng-show="!state.variableObject.charts">
                <div>
	                <div class="pac-man"></div>
                    <div class="row" style="text-align: center; margin: auto;">
                        <h1 class="pulsating-glowing-text"
                          style="text-align: center; line-height: normal; font-size: 18px; margin: auto;">
                           Fetching measurements...
                        </h1>
                    </div>
                </div>
            </div>
            <div ng-if="state.variableObject.charts"
                 ng-include="'templates/fragments/charts-fragment.html'"></div>
            <div ng-if="state.variableObject"
                 ng-include="'templates/fragments/variable-sharing-fragment.html'"></div>
            <div class="card list"
                 id="statisticsCard"
                 ng-if="state.variableObject.numberOfRawMeasurements">
                <label class="item item-content" ng-if="state.variableObject.numberOfRawMeasurements">
                    <span class="input-label-dark-bg left-text"># of measurements</span>
                    <span class="input-label-dark-bg right-text">{{state.variableObject.numberOfRawMeasurements}}</span>
                </label>
                <label class="item item-content" ng-if="state.variableObject.numberOfCorrelations">
                    <span class="input-label-dark-bg left-text"># of correlations</span>
                    <span class="input-label-dark-bg right-text">{{state.variableObject.numberOfCorrelations}}</span>
                </label>
                <label class="item item-content" ng-if="state.variableObject.numberOfUniqueDailyValues">
                    <span class="input-label-dark-bg left-text"># of unique daily values</span>
                    <span class="input-label-dark-bg right-text">{{state.variableObject.numberOfUniqueDailyValues}}</span>
                </label>
                <label class="item item-content" ng-if="state.variableObject.mean">
                    <span class="input-label-dark-bg left-text">Mean</span>
                    <span class="input-label-dark-bg right-text">{{state.variableObject.mean}} {{state.variableObject.unitAbbreviatedName}}</span>
                </label>
                <label class="item item-content" ng-if="state.variableObject.median">
                    <span class="input-label-dark-bg left-text">Median</span>
                    <span class="input-label-dark-bg right-text">{{state.variableObject.median}} {{state.variableObject.unitAbbreviatedName}}</span>
                </label>
                <label class="item item-content" ng-if="state.variableObject.mostCommonValue">
                    <span class="input-label-dark-bg left-text">Most common value</span>
                    <span class="input-label-dark-bg right-text">{{state.variableObject.mostCommonValue}} {{state.variableObject.unitAbbreviatedName}}</span>
                </label>
                <label class="item item-content" ng-if="state.variableObject.standardDeviation">
                    <span class="input-label-dark-bg left-text">Standard deviation</span>
                    <span class="input-label-dark-bg right-text">{{state.variableObject.standardDeviation}}</span>
                </label>
                <label class="item item-content" ng-if="state.variableObject.variance">
                    <span class="input-label-dark-bg left-text">Variance</span>
                    <span class="input-label-dark-bg right-text">{{state.variableObject.variance}}</span>
                </label>
                <label class="item item-content" ng-if="state.variableObject.skewness">
                    <span class="input-label-dark-bg left-text">Skewness</span>
                    <span class="input-label-dark-bg right-text">{{state.variableObject.skewness}}</span>
                </label>
                <label class="item item-content" ng-if="state.variableObject.kurtosis">
                    <span class="input-label-dark-bg left-text">Kurtosis</span>
                    <span class="input-label-dark-bg right-text">{{state.variableObject.kurtosis}}</span>
                </label>
                <label class="item item-content" ng-if="state.variableObject.kurtosis">
                    <span class="input-label-dark-bg left-text">Variable ID</span>
                    <span class="input-label-dark-bg right-text">{{state.variableObject.variableId}}</span>
                </label>
            </div>
            <div class="center">
                <md-button ng-click="compareButtonClick()"
                           class="md-raised md-primary md-button md-ink-ripple"
                           id="compareButton">
                    <i class="icon ion-plus positive"></i>
                    Compare Another Variable
                </md-button>
                <md-button ng-click="recordMeasurementButtonClick()"
                           class="md-raised md-primary md-button md-ink-ripple"
                           id="recordMeasurementButton">
                    <i class="icon ion-edit positive"></i>
                    Record Measurement
                </md-button>
                <md-button ng-click="addNewReminderButtonClick()"
                           class="md-raised md-primary md-button md-ink-ripple"
                           id="addReminderButton">
                    <i class="icon ion-ios-bell positive"></i>
                    Add Reminder
                </md-button>
                <md-button id="variableSettingsButton"
                  class="md-raised md-primary md-button md-ink-ripple"
                  ng-click="editSettingsButtonClick()">
                    <!--Find better icon in blue-->
                    <i class="icon ion-settings positive"></i>
                    Analysis Settings
                </md-button>
            </div>
        </div>
    </ion-content>
    <div ng-include="'templates/fragments/floating-material-action-button-fragment.html'"></div>
</ion-view>
