<ion-view hide-nav-bar="false">
    <ion-nav-title>{{state.title}}</ion-nav-title>
    <ion-content scroll="true" overflow-scroll="true">
        <div class="container-fluid" ng-controller="chatAppController">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">ChatEngine</h4>
                            <p class="card-text">Your are connect with uuid {{me.uuid}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>