<div style="padding-top: 100px; text-align: center; padding-bottom: 25px;">
    <img ng-src="{{state.connector.image}}" alt="Connector Image"
         style="width: 50%; max-height: 150px; max-width: 150px;">
</div>
<md-card style="margin: 20px;">
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
        <span style="color: white;">
            <md-icon class="ion-android-cloud"></md-icon> Connect {{state.connector.displayName}}
        </span>
        </h2>
    </md-toolbar>
    <md-card-content>
        <md-list>
            <md-list-item class="secondary-button-padding"
                          ng-repeat="connectParameter in state.connector.connectInstructions.parameters">
                <md-input-container style="width: 100%;" ng-if="connectParameter.key !== 'password'">
                    <label>{{ connectParameter.displayName }} </label>
                    <input name="{{ connectParameter.key }}" ng-model="connectParameter.value">
                </md-input-container>
                <md-input-container style="width: 100%;" ng-if="connectParameter.key === 'password'">
                    <label>Password</label>
                    <input type="password" name="Secret" ng-model="connectParameter.value">
                    <md-button class="md-secondary md-icon-button" style="font-size: 30px;"
                               ng-click="qmSecretInputType = 'text'" aria-label="preview">
                        <md-icon class="ion-eye">
                            <md-tooltip md-direction="down">Show Password</md-tooltip>
                        </md-icon>
                    </md-button>
                </md-input-container>
            </md-list-item>
            <div style="text-align: center;">
                <md-button id="cancelButton" class="md-raised md-primary icon icon-left ion-android-cancel"
                           style="background: #2d2d2d;"
                           ng-click="goBack()">
                    &nbsp Cancel &nbsp
                </md-button>
                <md-button id="connectButton" class="md-raised md-primary icon icon-left ion-android-add"
                           style="background: #d34836;"
                           ng-click="state.connectWithParams(state.connector, $event)">
                    &nbsp Connect &nbsp
                </md-button>
            </div>
        </md-list>
    </md-card-content>
</md-card>
