<div id="human" style="z-index: 10; cursor: pointer;">
    <div class="human">
        <div class="human-neck"></div>
        <div class="human-arms">
            <div class="human-arm human-arm_left"></div>
            <div class="human-arm human-arm_right"></div>
        </div>
        <div class="human-torso">
            <p class="human-torso-text">HUMAN</p>
        </div>
        <div class="human-head">
            <div class="human-eyes">
                <div class="human-eyeball human-eyeball_left"></div>
                <div class="human-eyeball human-eyeball_right"></div>
            </div>
            <div id="human-mouth"
                class="human-mouth">
                <div class="human-mouth-container">
                    <div id="human-tongue"
                        class="human-tongue"></div>
                </div>
            </div>
        </div>
    </div>
</div>
