<ion-view hide-nav-bar="hideNavigationMenu">

    <div id="loading-container"></div>
    <div class="outer vertical-rainbow" >
        <div ng-include="'templates/fragments/splash-background.html'"></div>
<!--        <div class="first"></div>-->
<!--        <div class="second"></div>-->
<!--        <div class="third"></div>-->
<!--        <div class="fourth"></div>-->
<!--        <div class="fifith"></div>-->
<!--         style=" background-color: {{circlePage.color.backgroundColor}};">-->
        <div class="middle">
            <div class="inner">
                <div style="text-align: center; color: white; padding: 5px; height: 100%; z-index: 999">
                    <div ng-if="!state.registrationForm && !state.loginForm" >
                        <div ng-include="'templates/fragments/circle-page.html'"
                             on-hold="state.setAuthDebugEnabled()"
                             ng-cloak></div>
                        <div ng-if="state.showRetry" ng-click="retryLogin('user clicked retry button')"><br><br>Click
                            here to retry if this takes too long
                        </div>
                        <div id="loginButtons" ng-if="circlePage.title !== 'Logging in...'">
                            <div id="material-login-buttons">
                                <!--<md-button class="md-raised md-primary icon icon-left ion-social-github" style="background: #2d2d2d;" ng-click="state.socialLogin('github', $event)">
                                    &nbsp Github Login &nbsp
                                </md-button>-->
<!--                                <img src="img/signin-assets/google_signin_buttons/web/1x/btn_google_signin_dark_normal_web.png"
                                     alt="google login"
                                     style="margin: auto;"
                                     id="signInWithGoogle"
                                     ng-if="!platform.isWebView"
                                     ng-click="state.socialLogin('googleplus', $event)"
                                     class="md-button"
                                >-->
<!--                                <img src="img/signin-assets/google_signin_buttons/web/1x/btn_google_signin_dark_normal_web.png"-->
<!--                                     alt="google login"-->
<!--                                     style="margin: auto;"-->
<!--                                     id="signInWithGoogle"-->
<!--                                     ng-if="!platform.isWebView"-->
<!--                                     ng-click="state.socialLogin('googleplus', $event)"-->
<!--                                     class="md-button"-->
<!--                                >-->
                                <!-- Google Bitches About Our Standard Material Themed Button
                                <md-button id="signInWithGoogle2"
                                           ng-if="!platform.isWebView"
                                           class="md-raised md-primary icon icon-left ion-social-google"
                                           style="background: #d34836;"
                                           ng-click="state.socialLogin('googleplus', $event)">
                                    &nbsp Google Login &nbsp
                                </md-button>-->
<!--                                <div class="login-buttons-container">
                                    <i class="ion-social-google" id="google-button"
                                       ng-click="state.socialLogin('googleplus', $event)">
                                    </i>
&lt;!&ndash;                                   <i class="ion-social-twitter" id="twitter-button" ng-click="state.socialLogin('twitter', $event)"></i>
                                   <i class="ion-social-github" id="github-button"
                                      ng-click="state.socialLogin('github', $event)"></i>
                                   <i class="ion-social-facebook" id="facebook-button"
                                      ng-click="state.socialLogin('facebook', $event)"></i>&ndash;&gt;
                                </div>-->
                                <!--                               <md-button id="signInWithFacebook"
                                                                           class="md-raised md-primary icon icon-left ion-social-facebook rainbow-gradient-animation"
                                                                           style="background: #3B5998;"
                                                                           ng-click="state.socialLogin('facebook', $event)">
                                                                    &nbsp Facebook Login &nbsp
                                                                </md-button>-->
                                <md-button id="email-sign-up-button"
                                           class="icon icon-left ion-email center"
                                           ng-click="state.socialLogin('quantimodo', $event, {register: true})">
                                    &nbsp Email Sign Up &nbsp
                                </md-button>
                                <md-button id="email-login-button"
                                           class="icon icon-left ion-email center"
                                           ng-click="state.socialLogin('quantimodo', $event, {register: false})">
                                    &nbsp Email Login &nbsp
                                </md-button>
<!--	                            <md-button id="email-login-button"-->
<!--	                                       class="icon icon-left ion-email center"-->
<!--	                                       ng-click="state.metamaskLogin()">-->
<!--		                            &nbsp Metamask Login &nbsp-->
<!--	                            </md-button>-->
                            </div>
                        </div>
                    </div>
                    <div id="registrationForm" ng-if="state.registrationForm"
                         class="container"
                         style="padding-top: 20px;">
                        <div layout="column" layout-align="center center" layout-fill="layout-fill"
                             style="padding: 20px;">
                            <div layout="column" class="loginBox md-whiteframe-z1">
                                <form name="registrationForm">
                                    <md-content layout="column"
                                                class="md-padding md-form-content">
	                                    <md-input-container class="md-form-input">
		                                    <label class="md-input-label-dark-bg">Pick a Username</label>
		                                    <input required
		                                           id="username-input"
		                                           type="text"
		                                           ng-model="state.registrationForm.username"
		                                           name="username"/>
		                                    <div ng-messages="loginForm.username.$error">
			                                    <div ng-message="required">This is required.</div>
		                                    </div>
	                                    </md-input-container>
                                        <md-input-container class="md-form-input">
                                            <label class="md-input-label-dark-bg">Enter Your Email</label>
                                            <input required
                                                   id="email-input"
                                                   type="text"
                                                   ng-model="state.registrationForm.email"
                                                   name="email"/>
                                            <div ng-messages="loginForm.email.$error">
                                                <div ng-message="required">This is required.</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-form-input">
                                            <label class="md-input-label-dark-bg">Make Up a Super Secret Password</label>
                                            <input required
                                                   type="password"
                                                   id="password-input"
                                                   ng-model="state.registrationForm.password"
                                                   name="password"/>
                                            <div ng-messages="loginForm.password.$error"
                                                 role="alert">
                                                <div ng-message="required">This is required.</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-form-input">
                                            <label class="md-input-label-dark-bg">Type It Again for Fun</label>
                                            <input required
                                                   type="password"
                                                   id="password-confirm-input"
                                                   ng-model="state.registrationForm.passwordConfirm"
                                                   name="passwordConfirm"/>
                                            <div ng-messages="loginForm.password.$error"
                                                 role="alert">
                                                <div ng-message="required">This is required.</div>
                                            </div>
                                        </md-input-container>
                                        <md-button type="submit"
                                                   id="sign-up-button"
                                                   ng-click="state.emailRegister()"
                                                   class="md-raised md-primary center">
                                            Sign Up
                                        </md-button>
                                        <md-button ng-click="state.registrationForm = false;"
                                                   class="center"
                                                   md-no-ink>Already have an account?
                                        </md-button>
                                    </md-content>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="loginForm"
                         ng-if="state.loginForm"
                         class="container">
                        <div layout="column" layout-align="center center"
                             layout-fill="layout-fill">
                            <div layout="column" class="loginBox md-whiteframe-z1">
                                <form name="loginForm">
                                    <md-content layout="column"
                                                class="md-padding md-form-content">
                                        <md-input-container class="md-form-input">
                                            <label class="md-input-label-dark-bg">Email or Username</label>
                                            <input required type="text"
                                                   id="email-input"
                                                   ng-model="state.loginForm.username"
                                                   name="email"/>
                                            <div ng-messages="loginForm.username.$error">
                                                <div ng-message="required">This is required.</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container class="md-form-input">
                                            <label class="md-input-label-dark-bg">Password</label>
                                            <input required type="password"
                                                   id="password-input"
                                                   ng-model="state.loginForm.password" name="password"/>
                                            <div ng-messages="loginForm.password.$error" role="alert">
                                                <div ng-message="required">This is required.</div>
                                            </div>
                                        </md-input-container>
                                        <md-button type="submit"
                                                   id="login-button"
                                                   ng-click="state.emailLogin()"
                                                   class="md-raised md-primary center">
                                            Login
                                        </md-button>
                                        <md-button id="forgot-password-button"
		                                        href="{{state.forgotPasswordUrl}}"
                                                   class="center dark-bg white-text"
                                                   md-no-ink>
                                            Forgot Your Password?
                                        </md-button>
                                        <md-button id="sign-up-button"
		                                        ng-click="state.loginForm = false;"
                                                   class="center dark-bg white-text"
                                                   md-no-ink>
                                            Sign Up
                                        </md-button>
                                    </md-content>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ion-view>
