<ion-view hide-nav-bar="hideNavigationMenu">

    <div id="loading-container"></div>
    <div class="outer vertical-rainbow">
        <div class="middle">
            <div class="inner">
	            <div id="check-email"
	                 ng-if="state.checkEmail"
			            style="text-align: center; color: white; padding: 5px; height: 100%; z-index: 999">
		                <h1 style="color: white; padding: 20px;">
			                Check your email for the login link!
		                </h1>
	            </div>
                <div ng-if="!state.checkEmail"
		                style="text-align: center; color: white; padding: 5px; height: 100%; z-index: 999">
                    <div>
<!--                        <div id="loginButtons">
	                        <h1 style="color: white;">Sign in</h1>
	                        <h2 style="color: white;">with</h2>
                            <div id="material-login-buttons">
                                <div class="login-buttons-container">
                                    <i class="ion-social-google" id="google-button"
                                       ng-click="state.socialLogin('googleplus', $event)">
	                                    <span style="font-size: 2rem; margin: auto;">Google</span>
                                    </i>
                                </div>
                            </div>
                        </div>
	                    <div>
		                    <h1 style="color: white; margin-top: 20px;">OR</h1>
	                    </div>-->
	                    <div id="registrationForm"
	                         style="padding-top: 0;">
		                    <div layout="column" layout-align="center center" layout-fill="layout-fill"
		                         style="padding: 20px;">
			                    <form name="registrationForm">
				                    <md-content layout="column"
				                                class="md-padding md-form-content">
					                    <div>
						                    <h2 style="color: white;">Enter Your Email</h2>
					                    </div>
					                    <md-input-container class="md-form-input">
						                    <label class="md-input-label-dark-bg">Enter Your Email</label>
						                    <input required
						                           id="email-input"
						                           type="text"
						                           ng-model="state.loginForm.email"
						                           name="email"/>
						                    <div ng-messages="loginForm.email.$error">
							                    <div ng-message="required">This is required.</div>
						                    </div>
					                    </md-input-container>


					                    <md-button type="submit"
					                               id="sign-up-button"
					                               ng-click="state.passwordlessLogin()"
					                               class="md-raised md-primary center">
						                    Send Login Link
					                    </md-button>
				                    </md-content>
			                    </form>
		                    </div>
	                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ion-view>
