<ion-view hide-nav-bar="hideNavigationMenu">
    <ion-nav-title>FDAi</ion-nav-title>
    <img ng-if="state.backgroundImg"
        ng-src="{{state.backgroundImg}}"
         id="presentation-background-image">
    <video id="presentation-background-video" autoplay loop muted playsinline>
        <source src="{{state.backgroundVideo}}" type="video/mp4">
    </video>
    <video id="presentation-video" autoplay loop muted playsinline>
        <source src="{{state.video}}" type="video/mp4">
    </video>
    <canvas id="rainbow-canvas"
            style="position: absolute; z-index: 1; display: block; opacity: 0.5; pointer-events: none; background-color: transparent;"></canvas>
    <canvas id="siri-canvas" style="position: absolute; top: 70%; transform: translateY(-50%); width: 100%;
            height: 400px; z-index: 1; pointer-events: none; "></canvas>
    <div id="splash-screen"
         class="splash-wrapper" style="width: 100%; position: absolute; height: 100%;">
        <div class="splash-grid"></div>
    </div>
    <div
        style="display: flex; justify-content: center; align-items: flex-start; height: 100%; width: 100%; position: absolute; margin-top: 10%;">
        <div style="position: relative;">
            <div ng-show="state.showTriangle"
                 ng-include="'templates/splash-logo.html'" style="z-index: 3;">
            </div>
        </div>
    </div>
<div ng-if="state.title"
     class="michroma-regular presentation-title">
    {{ state.title }}
</div>

<img ng-if="state.image"
ng-src="{{state.image}}"
style="max-width: 90%;
position: absolute;
   max-height: 80%;
   top: 180px;
   bottom: 150px;
   left: 0;
   right: 0;
   margin: auto;
   display: block;
   border-radius: 10px;
   object-fit: contain;
   /*border: 5px solid #00ff00; !* Neon green border *!*/
   /*box-shadow: 0 0 10px #00ff00; !* Neon green shadow *!*/
   z-index: 3;">

    <ion-slide-box on-slide-changed="state.slideChanged(index)" style="z-index: 2;">
        <ion-slide ng-repeat="slide in state.slides">
<!--            <img ng-if="slide.image"
                 ng-src="{{slide.image}}"
                 style="max-width: 90%;
            max-height: 90%;
            margin: 10px auto;
            display: block;
            border-radius: 20px;
            object-fit: contain;
            border: 5px solid #00ff00; /* Neon green border */
            box-shadow: 0 0 10px #00ff00; /* Neon green shadow */">-->
        </ion-slide>
    </ion-slide-box>
    <div id="caption-container"></div>
    <div ng-show="true"
         ng-include="'templates/robot.html'"
         ng-click="robotClick()"
         class="robot-container"></div>
    <div ng-include="'templates/human.html'"
         ng-show="state.showHuman"
         id="human-container"
         class="human-container"></div>
    <button
        id="backButton"
        ng-click="state.previous()"
        class="presentation-nav-button presentation-left-button"><</button>
<!--    <button
        id="toggleMusic"
        ng-if="state.music"
        style="right: 25px;"
        ng-click="state.toggleMusic()"
        class="presentation-nav-button presentation-right-button">🎵</button>
    <button
        id="pause"
        ng-show="state.playing"
        style="right: 50px;"
        ng-click="state.pause()"
        class="presentation-nav-button presentation-right-button">⏸️</button>-->
<!--    <button
        id="play"
        ng-show="!state.playing"
        style="right: 50px;"
        ng-click="state.start()"
        class="presentation-nav-button presentation-right-button">▶️</button>-->
    <button
        id="nextButton"
        ng-click="state.next()"
        class="presentation-nav-button presentation-right-button">></button>
</ion-view>
