<div id="robot" style="z-index: 10; cursor: pointer;">
    <div class="robot">
        <div class="robot-neck"></div>
        <div class="robot-arms">
            <div class="robot-arm robot-arm_left"></div>
            <div class="robot-arm robot-arm_right"></div>
        </div>
        <div class="robot-torso"></div>
        <div class="robot-head">
            <div class="robot-eyes">
                <div class="robot-eyeball robot-eyeball_left"></div>
                <div class="robot-eyeball robot-eyeball_right"></div>
            </div>
            <div class="robot-mouth" ng-click="setSpeechEnabled(false)" aria-label="mute" ng-if="speechEnabled">
                <md-tooltip>Shut Up, Robot!</md-tooltip>
                <div class="robot-mouth-container">
                    <div class="robot-mouth-container-line"></div>
                </div>
            </div>
            <md-button class="md-icon-button" ng-click="setSpeechEnabled(true)" aria-label="un-mute"
                       style="margin-top: 40%; margin-left: 34%;" ng-if="!speechEnabled">
                <md-icon class="ion-volume-mute" style="font-size: 30px;">
                    <md-tooltip>Enable Freedom of Speech</md-tooltip>
                </md-icon>
            </md-button>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="display:none">
        <defs>
            <!-- Low -->
            <filter id="robot-low-0">
                <feTurbulence id="robot-turbulence"
                              baseFrequency="0.02"
                              numOctaves="3"
                              result="noise"
                              seed="0"/>
                <feDisplacementMap id="robot-displacement"
                                   in="SourceGraphic"
                                   in2="noise"
                                   scale="1"/>
            </filter>
            <filter id="robot-low-1">
                <feTurbulence id="robot-turbulence"
                              baseFrequency="0.02"
                              numOctaves="3"
                              result="noise"
                              seed="30"/>
                <feDisplacementMap in="SourceGraphic"
                                   in2="noise"
                                   scale="1.5"/>
            </filter>
            <filter id="robot-low-2">
                <feTurbulence id="robot-turbulence"
                              baseFrequency="0.02"
                              numOctaves="3"
                              result="noise"
                              seed="2"/>
                <feDisplacementMap in="SourceGraphic"
                                   in2="noise"
                                   scale="1"/>
            </filter>
            <filter id="robot-low-3">
                <feTurbulence id="robot-turbulence"
                              baseFrequency="0.02"
                              numOctaves="3"
                              result="noise"
                              seed="30"/>
                <feDisplacementMap in="SourceGraphic"
                                   in2="noise"
                                   scale="1.5"/>
            </filter>
            <filter id="robot-low-4">
                <feTurbulence id="robot-turbulence"
                              baseFrequency="0.1"
                              numOctaves="3"
                              result="noise"
                              seed="4"/>
                <feDisplacementMap in="SourceGraphic"
                                   in2="noise"
                                   scale="0.5"/>
            </filter>
            <!-- Listening -->
            <filter id="robot-listening-0">
                <feTurbulence id="robot-turbulence"
                              baseFrequency="0.02"
                              numOctaves="3"
                              result="noise"
                              seed="0"/>
                <feDisplacementMap id="robot-displacement"
                                   in="SourceGraphic"
                                   in2="noise"
                                   scale="2"/>
            </filter>
            <filter id="robot-listening-1">
                <feTurbulence id="robot-turbulence"
                              baseFrequency="0.02"
                              numOctaves="3"
                              result="noise"
                              seed="30"/>
                <feDisplacementMap in="SourceGraphic"
                                   in2="noise"
                                   scale="3"/>
            </filter>
            <filter id="robot-listening-2">
                <feTurbulence id="robot-turbulence"
                              baseFrequency="0.02"
                              numOctaves="3"
                              result="noise"
                              seed="2"/>
                <feDisplacementMap in="SourceGraphic"
                                   in2="noise"
                                   scale="2"/>
            </filter>
            <filter id="robot-listening-3">
                <feTurbulence id="robot-turbulence"
                              baseFrequency="0.02"
                              numOctaves="3"
                              result="noise"
                              seed="30"/>
                <feDisplacementMap in="SourceGraphic"
                                   in2="noise"
                                   scale="3"/>
            </filter>
            <filter id="robot-listening-4">
                <feTurbulence id="robot-turbulence"
                              baseFrequency="0.1"
                              numOctaves="3"
                              result="noise"
                              seed="4"/>
                <feDisplacementMap in="SourceGraphic"
                                   in2="noise"
                                   scale="1"/>
            </filter>
            <!-- Speaking -->
            <filter id="robot-speaking-0">
                <feTurbulence id="robot-turbulence"
                              baseFrequency="0.02"
                              numOctaves="3"
                              result="noise"
                              seed="0"/>
                <feDisplacementMap id="robot-displacement"
                                   in="SourceGraphic"
                                   in2="noise"
                                   scale="12"/>
            </filter>
            <filter id="robot-speaking-1">
                <feTurbulence id="robot-turbulence"
                              baseFrequency="0.02"
                              numOctaves="3"
                              result="noise"
                              seed="30"/>
                <feDisplacementMap in="SourceGraphic"
                                   in2="noise"
                                   scale="13"/>
            </filter>
            <filter id="robot-speaking-2">
                <feTurbulence id="robot-turbulence"
                              baseFrequency="0.02"
                              numOctaves="3"
                              result="noise"
                              seed="2"/>
                <feDisplacementMap in="SourceGraphic"
                                   in2="noise"
                                   scale="12"/>
            </filter>
            <filter id="robot-speaking-3">
                <feTurbulence id="robot-turbulence"
                              baseFrequency="0.02"
                              numOctaves="3"
                              result="noise"
                              seed="30"/>
                <feDisplacementMap in="SourceGraphic"
                                   in2="noise"
                                   scale="13"/>
            </filter>
            <filter id="robot-speaking-4">
                <feTurbulence id="robot-turbulence"
                              baseFrequency="0.1"
                              numOctaves="3"
                              result="noise"
                              seed="4"/>
                <feDisplacementMap in="SourceGraphic"
                                   in2="noise"
                                   scale="11"/>
            </filter>
        </defs>
    </svg>
</div>
