<ion-view hide-nav-bar="hideNavigationMenu">
    <ion-nav-title>Study</ion-nav-title>
    <ion-content scroll="{ isBrowserView : platform.isWeb == false }"
                 overflow-scroll="true"
                 style="padding: 10px;"
                 ng-class="{ isBrowserView : platform.isWeb == true }">
        <ion-refresher on-refresh="refreshStudy()"></ion-refresher>
	    <md-progress-linear md-mode="indeterminate"  ng-show="loadingCharts || !state.study"></md-progress-linear>
        <div ng-show="loadingCharts || !state.study" style="left: -10px; right: -10px">
        </div>
        <div ng-if="state.study">
            <md-card id="studyHeaderHtml"
                     class="card padding">
                <div id="studyHeaderHtml"
                     class="item-text-wrap padding"
                     ng-if="state.study.studyHtml.studyHeaderHtml"
                     ng-bind-html="trustAsHtml(state.study.studyHtml.studyHeaderHtml, true)"
                     style="text-align: center; padding-top: 10px;">
                </div>
            </md-card>
            <div ng-if="state.study.statistics && state.study.statistics.id"
		            ng-include="'templates/buttons/vote-buttons.html'"></div>
            <div ng-include="'templates/buttons/study-sharing-buttons.html'"></div>
            <div
              class="center"
              ng-hide="state.study.studyCharts && user && (state.study.userId === user.id || state.study.statistics.userId === user.id)">
                <md-button id="joinStudyButton"
                        class="md-primary md-raised"
                        ng-click="goToJoinStudy(state.study)">
                    Join this Study
                </md-button>
            </div>
        </div>
        <div ng-show="loadingCharts || !state.study">
            <div style="max-width: 600px; display:block; margin:auto;"
                 ng-include="'templates/loaders/blue-robot-loader.html'"></div>
            <div ng-show="loadingCharts" ng-include="'templates/spinner.html'"></div>
        </div>
        <div ng-cloak ng-show="state.study">
            <div id="individual-owner-buttons"
                 ng-if="state.study.isOwner && state.study.type === 'individual'">
                <div class="center padding-top">
                    <md-button class="md-raised icon-left {{state.study.studyImages.causeVariableIonIcon}}"
                            id="causeVariableSettingsButton"
                            ng-click="goToVariableSettingsForCauseVariable(state.study.statistics)">
                        {{state.study.causeVariableName}} Settings
                    </md-button>
                    <md-button class="md-raised icon-left {{state.study.studyImages.effectVariableIonIcon}}"
                            id="effectVariableSettingsButton"
                            ng-click="goToVariableSettingsForEffectVariable(state.study.statistics)">
                        {{state.study.effectVariableName}} Settings
                    </md-button>
                </div>
                <div id="publicStudyToggle"
                     ng-if="state.study.studySharing"
                     class="card">
                    <ion-toggle ng-model="state.study.studySharing.shareUserMeasurements"
                                ng-change="toggleStudyShare(state.study)">
                        <i ng-if="!state.study.studySharing.shareUserMeasurements" class="icon ion-locked">
                            &nbsp Study is Private
                        </i>
                        <i ng-if="state.study.studySharing.shareUserMeasurements" class="icon ion-unlocked">
                            &nbsp Study is Public
                        </i>
                    </ion-toggle>
                    <!--TODO: Add clipboard plugin for mobile-->
<!--                    <md-button ng-click="copyStudyUrlToClipboard()"
                           ng-if="!platform.isMobile && state.study.studySharing.shareUserMeasurements === true && state.study.studyLinks.studyLinkStatic">
                        <i class="icon ion-clipboard"> &nbsp {{state.copyLinkText}}</i>
                    </md-button>-->
                </div>
            </div>
            <div id="non-owner-buttons"
                 ng-if="!state.loading">
                 ng-if="!state.study.isOwner || state.study.type !== 'individual'">
                <div id="join-button"
                     class="row">
                    <div class="col">
                        <button class="button button-outline button-block icon-left ion-ios-people button-positive"
                                id="join-study-button"
                                ng-click="goToJoinStudy(state.study)">
                            Join This Study
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-cloak ng-show="state.study && state.study.studyCharts">
            <div id="studyCharts"
                 style="text-align: center;">
                <div ng-repeat="(key, chart) in state.study.studyCharts" ng-if="chart.highchartConfig"
                     class="item-text-wrap card">
<!--                    <h2>{{chart.chartTitle}}</h2>-->
                    <highchart id="{{chart.chartId}}" config="chart.highchartConfig"></highchart>
<!--                    <p ng-if="chart.explanation">{{chart.explanation}}</p>-->
<!--                    <br>-->
                </div>
            </div>
            <div id="causeVariableCharts" style="text-align: center;">
                <div ng-repeat="(key, causeChart) in state.study.causeVariable.charts"
                     class="card"
                     ng-if="causeChart.highchartConfig">
<!--                    <h2>{{causeChart.chartTitle}}</h2>-->
                    <highchart id="{{causeChart.chartId}}" config="causeChart.highchartConfig"></highchart>
<!--                    <p ng-if="causeChart.explanation">{{causeChart.explanation}}</p>-->
<!--                    <br>-->
                </div>
            </div>
            <div id="effectVariableCharts"
                 style="text-align: center;">
                <div ng-repeat="(key, effectChart) in state.study.effectVariable.charts"
                     class="card"
                     ng-if="effectChart.highchartConfig">
<!--                    <h2>{{effectChart.chartTitle}}</h2>-->
                    <highchart id="{{effectChart.chartId}}" config="effectChart.highchartConfig"></highchart>
<!--                    <p ng-if="effectChart.explanation">{{effectChart.explanation}}</p>-->
<!--                    <br>-->
                </div>
            </div>
            <div id="studyBody" ng-bind-html="trustAsHtml(state.study.studyHtml.studyTextHtml)"></div>
        </div>
        <div ng-show="state.study.statistics && state.study.statistics.id">
            <div ng-include="'templates/fragments/statistics-fragment.html'"></div>
        </div>
        <div class="card"
             ng-if="state.studyNotFound">
            <p style="line-height: normal; font-size: 25px;">Not Enough Data</p>
            <img style="width:100px; height:100px;" ng-src="img/robots/quantimodo-robot-puzzled.svg">
            <p>
                I don't have enough data to determine the relationship between
                {{state.requestParams.causeVariableName}} and {{state.requestParams.effectVariableName}}!
            </p>
            <p> Want to help advance citizen science? </p>
            <div ng-include="'templates/buttons/join-study-button.html'"></div>
            <div>
                <p style="font-size: 16px; line-height: 1; text-align: center"> or share it </p>
                <div ng-include="'templates/fragments/study-sharing-fragment.html'"></div>
            </div>
        </div>
    </ion-content>
    <div ng-hide="hideNavigationMenu || showRobot"
         ng-include="'templates/fragments/floating-material-action-button-fragment.html'"></div>
</ion-view>
