<ion-view hide-nav-bar="hideNavigationMenu">
    <ion-nav-title>Join Study</ion-nav-title>
        <div class="center"
          style="position: relative; top: 50%; transform: translateY(-50%);">
            <div>
                <div class="glass"
                  style="box-shadow: 2px 2px 5px #434343; margin: 0 auto; border-radius: 50%; width: 130px; height: 130px;">
                    <img style="position: relative; top: 50%; transform: translateY(-50%); width:{{state.image.width}}px; height:{{state.image.height}}px;"
                         ng-src="{{state.image.url}}">
                </div>
                <md-card class="glass">
                    <p id="study-join-title" style="font-size: 22px; line-height: 1.3;">
                        {{ state.title | wordAliases }}
                    </p>
                    <span ng-bind-html="state.bodyText" style="font-size: 16px; line-height: 1.5;"></span>
                </md-card>
                <div ng-if="!state.joining && !state.study.joined">
	                <div>
		                <div id="joinStudyButton"
		                           ng-click="joinStudy()"
		                           class="pulsating-glowing-text">
			                JOIN STUDY
		                </div>
	                </div>
	                <div>
		                <md-button ng-click="showMoreInfo()"
		                           ng-if="state.moreInfo && !state.study.joined">
			                MORE INFO
		                </md-button>
	                </div>
                </div>
            </div>
            <div ng-if="(state.study.joined || state.joining) && state.study.causeVariable.trackingInstructionsCard">
                <div ng-include="'templates/cards/blue-card.html'"
                     ng-repeat="card in [state.study.causeVariable.trackingInstructionsCard, state.study.effectVariable.trackingInstructionsCard] track by $index">
                </div>
            </div>
            <div class="center">
                <md-button id="goToStudyButton"
                           ng-if="state.study"
                           class="center md-primary md-raised"
                           ng-click="goToStudyPageViaStudy(state.study)">
                    <i class="ion-search"></i>
                    SEE CURRENT RESULTS
                </md-button>
            </div>
        </div>
</ion-view>
