@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');

* {
  font-family: 'Fraunces', serif;
}

html {
  font-size: 2vw;
}

body {
  font-size: 1rem; /* This is now 2% of the viewport width */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 9999;
  /* padding: 1em; */
}

.question-container,
.petition-page,
.comment-page {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  max-width: 600px;
  width: 90%;
  position: relative;
}

h2 {
  margin-top: 0;
  font-size: 2.5em;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.option-btn {
  /* background-color: #4CAF50; */
  /* color: white; */
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 4em;
  margin: 4px 11px;
  cursor: pointer;
  border-radius: 1em;
  background-color: white;
  border: 0.5vw solid black; /* Adjust the viewport value to increase or decrease the border width */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
textarea {
  margin: 5px 0;
  padding: 16px;
  width: 100%;
  max-width: 300px;
  border-radius: 3em;
  font-size: 1em;
}

button[type="submit"] {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2em;
  /* border: none; */
}

@media (max-width: 480px) {
  .option-btn {
    font-size: 1.5rem;
    padding: 8px 16px;
  }
}

.social-share a {
    display: inline-block;
    border: 1px solid black;
    border-radius: 50px;
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.social-share a i {
    color: black;
}

.social-share a:hover {
    background-color: #f8f8f8;
}

.sharing-buttons {
  padding: 2em;
}

.petition-description {
  /* margin-top: 2em; */
  text-align: left;
  font-size: 1.5em;
}

.petition-title {
  font-size: 2.5em;
  margin-bottom: 0;
}
