.splash-wrapper {
  background: radial-gradient(ellipse at center, rgba(127, 0, 173, 0.6) 0%, rgba(0, 0, 0, 0.8) 60%, #000000 90%), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/31787/stars.jpg);
  background-size: cover;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 1200px;
  /* perspective: 1200px; */
  width: 100%;
  position: absolute;
}
.splash-h1 {
  color: #C6CBF5;
  font-family: 'Orbitron', sans-serif;
  font-weight: 1000;
  font-size: 35vw;
  line-height: 1.2;
  position: relative;
  text-align: center;
    text-transform: uppercase;
    margin: 5% auto auto;
    z-index: 4;
  background: -webkit-linear-gradient(top, #151C60, #C6CBF5 40%, black 40%, #E1A0CE 65%, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}
@media screen and (min-width: 600px) {
  .splash-h1 {
    font-size: 150px;
  }
}
.splash-h2 {
  color: #d100b1;
  display: block;
  font-family: 'Yellowtail', cursive;
  font-size: 30vw;
  margin-right: -8em;
  position: relative;
  text-shadow: 0 0 1px #d100b1, 0 -3px 3px rgba(255, 255, 255, 0.8), 0 3px 3px rgba(0, 0, 0, 0.5), 0 0 15px #d100b1, 0 0 45px rgba(209, 0, 177, 0.8);
  text-align: center;
  text-transform: none;
  -webkit-transform: skew(-10deg) rotate(-10deg);
  transform: skew(-10deg) rotate(-10deg);
  top: 0px;
  width: 100%;
  z-index: 4;
}
@media screen and (min-width: 600px) {
  .splash-h2 {
    font-size: 150px;
  }
}
.splash-grid {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0px, rgba(54, 226, 248, 0.5) 0%, rgba(54, 226, 248, 0.5) 3px, rgba(0, 0, 0, 0) 0px), linear-gradient(90deg, rgba(0, 0, 0, 0) 0px, rgba(54, 226, 248, 0.5) 0%, rgba(54, 226, 248, 0.5) 3px, rgba(0, 0, 0, 0) 0px);
  background-size: 4em 4em, 4em 4em;
  background-color: black;
  border-top: 5px solid #d100b1;
  box-shadow: 0 -25px 45px #d100b1;
  height: 40em;
  -webkit-transform: scale(1.26) rotateX(80deg);
  transform: scale(1.26) rotateX(80deg);
  position: absolute;
  width: 100%;
  z-index: 4;
  margin-top:  60%;
  bottom: -200px;
}
.splash-grid:after {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000000 95%);
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;}
.splash-grid:before {
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 30%, rgba(209, 0, 177, 0.5) 90%);
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;}
.logo-triangle {
  -webkit-animation: dash 6s linear forwards;
  animation: dash 6s linear forwards;
  fill: url(#grad1);
  //-webkit-filter: url(#dropshadow);
  //filter: url(#dropshadow);  Seems to break Android webview
  left: 50%;
  margin-left: -160px;
  position: absolute;
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
  top: 10%;
  z-index: 3;
}
@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0; } }
@keyframes dash {
  to {
    stroke-dashoffset: 0; } }
