/* Customize SweetAlert2 popup */
.swal2-popup {
	font-family: 'Roboto', sans-serif;
	border-radius: 10px;
	background-color: #222;
	color: #fff;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.swal2-icon {
	font-size: 1rem;
	color: #fff;
}

.swal2-title {
	font-size: 2rem;
	color: #fff;
	margin-bottom: 1rem;
}

.swal2-content {
	font-size: 1.5rem;
	color: #ccc;
	margin-bottom: 2rem;
}

.swal2-confirm {
	font-size: 1.5rem;
	padding: 1rem 2rem;
	border-radius: 5px;
	background-color: #00c5ff;
	color: #fff;
	transition: all 0.2s ease-in-out;
}

.swal2-confirm:hover {
	transform: translateY(-3px);
	box-shadow: 0px 0px 10px rgba(0, 197, 255, 0.7);
}

.swal2-cancel {
	font-size: 1.5rem;
	padding: 1rem 2rem;
	border-radius: 5px;
	background-color: #222;
	color: #fff;
	transition: all 0.2s ease-in-out;
}

.swal2-cancel:hover {
	transform: translateY(-3px);
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}
