<div ng-if="!appList" layout="row" layout-sm="column" layout-align="space-around"
     style="padding-top: 50px; width: 100%;">
    <md-progress-circular md-diameter="50"></md-progress-circular>
</div>
<md-list class="md-dense" flex>
    <md-list-item ng-repeat="app in appList | orderBy : 'appDisplayName'" ng-click="switchApp(app)" class="noright">
        <img alt="{{ app.appDisplayName }}" ng-src="{{ (app.appIcon) ? app.appIcon : 'https://via.placeholder.com/512x512'  }}"
             class="md-avatar"/>
        <div class="md-list-item-text">
            <h4>{{ app.appDisplayName }}</h4>
            <p>{{ app.clientId }}</p>
        </div>
        <md-button class="md-secondary md-icon-button" style="font-size: 30px;" ng-click="switchApp(app)"
                   aria-label="preview">
            <md-icon class="ion-android-open">
                <md-tooltip md-direction="down">Pop Out</md-tooltip>
            </md-icon>
        </md-button>
        <md-button ng-if="app.appStatus.betaDownloadLinks.chromeExtension" class="md-secondary md-icon-button"
                   style="font-size: 30px;"
                   ng-href="{{app.appStatus.betaDownloadLinks.chromeExtension}}" aria-label="edit">
            <md-icon class="ion-social-chrome">
                <md-tooltip md-direction="down">Download Chrome Extension</md-tooltip>
            </md-icon>
        </md-button>
        <md-button class="md-secondary md-icon-button" style="font-size: 30px;" ng-click="deleteApp(app)"
                   aria-label="delete">
            <md-icon class="ion-close-round">
                <md-tooltip md-direction="down">Remove from Your App List</md-tooltip>
            </md-icon>
        </md-button>
    </md-list-item>
    <md-list-item class="secondary-button-padding" ng-click="openNewAppModalPopup()">
        <p>CREATE NEW APP</p>
    </md-list-item>
</md-list>