<md-card>
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span style="color: white;">
                <md-icon class="ion-link"></md-icon> Useful Links
            </span>
        </h2>
    </md-toolbar>
    <md-card-content>
        <md-list>
            <md-list-item class="noright" ng-href="https://curedao.readme.io/reference/getunits">
                <img alt="physicianDashboard"
                     ng-src="img/api-icon.png"
                     class="md-avatar"/>
                <div class="md-list-item-text">
                    <h4>Interactive API Docs</h4>
                    <p>Generate API requests in any language!  You can use the token "demo" in the Bearer field for
                        testing.</p>
                </div>
                <md-button class="md-secondary md-icon-button" style="font-size: 30px;" target="_blank"
                           ng-href="https://curedao.readme.io/reference/getunits"
                           aria-label="open">
                    <md-icon class="ion-android-open">
                        <md-tooltip md-direction="down">Open</md-tooltip>
                    </md-icon>
                </md-button>
            </md-list-item>
            <md-list-item class="noright">
                <img alt="physicianDashboard"
                     ng-src="{{ appSettings.additionalSettings.downloadLinks.images.physicianDashboard }}"
                     class="md-avatar"/>
                <div class="md-list-item-text">
                    <h4>{{ appSettings.appDesign.aliases.active.physicianAlias | camelCaseToTitleCase }} Dashboard</h4>
                    <p>{{ appSettings.additionalSettings.downloadLinks.descriptions.physicianDashboard }}</p>
                </div>
                <md-button class="md-secondary md-icon-button" style="font-size: 30px;" target="_blank"
                           ng-href="{{appSettings.additionalSettings.downloadLinks.physicianDashboard}}"
                           aria-label="open">
                    <md-icon class="ion-android-open">
                        <md-tooltip md-direction="down">Open</md-tooltip>
                    </md-icon>
                </md-button>
            </md-list-item>
            <md-list-item class="noright">
                <img alt="webApp" ng-src="{{ appSettings.additionalSettings.downloadLinks.images.webApp }}"
                     class="md-avatar"/>
                <div class="md-list-item-text">
                    <h4>End-User Web App</h4>
                    <p>{{ appSettings.additionalSettings.downloadLinks.descriptions.webApp }}</p>
                </div>
                <md-button class="md-secondary md-icon-button" style="font-size: 30px;" target="_blank"
                           ng-href="{{appSettings.additionalSettings.downloadLinks.webApp}}" aria-label="open">
                    <md-icon class="ion-android-open">
                        <md-tooltip md-direction="down">Open</md-tooltip>
                    </md-icon>
                </md-button>
            </md-list-item>
            <md-list-item class="noright">
                <img alt="integrationGuide"
                     ng-src="{{ appSettings.additionalSettings.downloadLinks.images.integrationGuide }}"
                     class="md-avatar"/>
                <div class="md-list-item-text">
                    <h4>Integration Guide</h4>
                    <p>{{ appSettings.additionalSettings.downloadLinks.descriptions.integrationGuide }}</p>
                </div>
                <md-button class="md-secondary md-icon-button" style="font-size: 30px;"
                           ng-click="openEmbedPreview()" aria-label="open">
                    <md-icon class="ion-eye">
                        <md-tooltip md-direction="down">Preview On Your Site</md-tooltip>
                    </md-icon>
                </md-button>
                <md-button class="md-secondary md-icon-button" style="font-size: 30px;"
                           ng-click="copyIntegrationJsToClipboard()" aria-label="open">
                    <md-icon class="ion-clipboard">
                        <md-tooltip md-direction="down">Copy JS embed code to clipboard</md-tooltip>
                    </md-icon>
                </md-button>
                <md-button class="md-secondary md-icon-button" style="font-size: 30px;" target="_blank"
                           ng-href="{{appSettings.additionalSettings.downloadLinks.integrationGuide}}"
                           aria-label="open">
                    <md-icon class="ion-android-open">
                        <md-tooltip md-direction="down">Open</md-tooltip>
                    </md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
