<md-list class="md-dense" flex>
    <md-list-item class="md-1-line">
        <md-input-container>
            <label>App Type</label>
            <md-select ng-model="appSettings.appType" md-on-close="appTypeChange()" aria-label="selector">
                <md-option ng-value="option" ng-repeat="option in appTypes">{{option | camelCaseToTitleCase}}
                </md-option>
            </md-select>
        </md-input-container>
    </md-list-item>
    <md-list-item class="md-1-line" ng-repeat="appComponentName in appComponentNames">
        <md-input-container>
            <label>{{appComponentName | camelCaseToTitleCase}} Type</label>
            <md-select ng-model="appSettings.appDesign[appComponentName].type"
                       md-on-close="appComponentTypeChange(appSettings.appDesign[appComponentName].type, appComponentName)"
                       aria-label="appComponentName">
                <md-option ng-value="option" ng-repeat="option in appComponentOptions[appComponentName]">{{option |
                    camelCaseToTitleCase}} {{appComponentName | camelCaseToTitleCase}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-button class="md-secondary md-icon-button" style="font-size: 30px;"
                   ng-click="goToState(previewStates[appComponentName])" ng-if="previewStates[appComponentName]"
                   aria-label="preview">
            <md-icon class="ion-android-open">
                <md-tooltip md-direction="down">Pop Out</md-tooltip>
            </md-icon>
        </md-button>
        <md-button class="md-secondary md-icon-button" style="font-size: 30px;"
                   ng-click="openEditAppSettingsModal(appComponentName, appSettings.appDesign[appComponentName].active, true)"
                   aria-label="edit">
            <md-icon class="ion-edit">
                <md-tooltip md-direction="down">Edit</md-tooltip>
            </md-icon>
        </md-button>
    </md-list-item>
    <md-button ng-if="user.administrator" class="md-raised md-primary icon icon-left ion-ios-cloud-download"
               ng-click="saveToPc(appSettings, appSettings.clientId, true)"> &nbsp; Download Config Template
    </md-button>
</md-list>
<div ng-include="'builder-templates/json-editor-fragment.html'"></div>