<md-card>
    <md-toolbar class="md-theme-light" ng-click="showApiCredentials = !showApiCredentials">
        <h2 class="md-toolbar-tools">
            <span style="color: white;">
                <md-icon class="ion-link"></md-icon> Click For API Credentials
            </span>
        </h2>
    </md-toolbar>
    <md-card-content ng-if="showApiCredentials">
        <md-list>
            <md-list-item class="md-1-line">
                <md-input-container style="width: 100%;">
                    <label>Display Name</label>
                    <input name="clientId" ng-model="appSettings.appDisplayName">
                </md-input-container>
            </md-list-item>
            <md-list-item class="md-1-line">
                <md-input-container style="width: 100%;">
                    <label>Client ID</label>
                    <input name="clientId" ng-model="appSettings.clientId" disabled>
                </md-input-container>
                <md-button class="md-secondary md-icon-button" style="font-size: 30px;"
                           ng-click="copyToClipboard(appSettings.clientId)"
                           aria-label="Copy to clipboard">
                    <md-icon class="ion-clipboard">
                        <md-tooltip md-direction="down">Copy to clipboard</md-tooltip>
                    </md-icon>
                </md-button>
            </md-list-item>
            <md-list-item class="md-1-line" ng-init="qmSecretInputType = 'password'">
                <md-input-container style="width: 100%;">
                    <label>Client Secret</label>
                    <input type="{{qmSecretInputType}}" name="Secret"
                           ng-model="appSettings.clientSecret" disabled>
                    <md-button class="md-secondary md-icon-button" style="font-size: 30px;"
                               ng-click="qmSecretInputType = 'text'" aria-label="preview">
                        <md-icon class="ion-eye">
                            <md-tooltip md-direction="down">Show Secret</md-tooltip>
                        </md-icon>
                    </md-button>
                    <md-button class="md-secondary md-icon-button" style="font-size: 30px;"
                               ng-click="copyToClipboard(appSettings.clientSecret)"
                               aria-label="Copy to clipboard">
                        <md-icon class="ion-clipboard">
                            <md-tooltip md-direction="down">Copy to clipboard</md-tooltip>
                        </md-icon>
                    </md-button>
                </md-input-container>
            </md-list-item>
            <md-list-item class="md-1-line" ng-init="qmSecretInputType = 'password'">
                <md-input-container style="width: 100%;">
                    <label>Personal Access Token</label>
                    <input type="{{qmSecretInputType}}" name="Token"
                           ng-model="user.accessToken" disabled>
                    <md-button class="md-secondary md-icon-button" style="font-size: 30px;"
                               ng-click="qmSecretInputType = 'text'" aria-label="preview">
                        <md-icon class="ion-eye">
                            <md-tooltip md-direction="down">Show Token</md-tooltip>
                        </md-icon>
                    </md-button>
                    <md-button class="md-secondary md-icon-button" style="font-size: 30px;"
                               ng-click="copyToClipboard(user.accessToken)"
                               aria-label="Copy to clipboard">
                        <md-icon class="ion-clipboard">
                            <md-tooltip md-direction="down">Copy to clipboard</md-tooltip>
                        </md-icon>
                    </md-button>
                </md-input-container>
            </md-list-item>
            <md-list-item class="md-1-line">
                <md-input-container style="width: 100%;">
                    <label>Redirect URIs
                    </label>
                    <textarea ng-model="appSettings.redirectUri" md-maxlength="2000" rows="5"
                              aria-label="selector"
                              placeholder="The Redirect URI (A.K.A Callback URL) is used in the OAuth 2.0 authentication process. It is the uri that our systems post your an authorization code to, which is then exchanged for an access token which you can use to authenticate subsequent API calls.  If you have more than one redirect uri, you must specify which one to use by adding a redirect_uri parameter in your OAuth request. Must include https:// or http://localhost"
                              md-select-on-focus>
                                    </textarea>
                    <md-button class="md-secondary md-icon-button" style="font-size: 30px;"
                               ng-click="showRedirectUriInfo()" aria-label="more-info">
                        <md-icon class="ion-information-circled">
                            <md-tooltip md-direction="left">More Info</md-tooltip>
                        </md-icon>
                    </md-button>
                </md-input-container>
            </md-list-item>
            <md-list-item class="md-3-line">
                <div class="md-list-item-text" layout="column">
                    <h3>OAuth Authentication URL</h3>
                    <h4>https://app.quantimo.do/api/oauth2/authorize</h4>
                    <p>The URL you should send users to to collect an OAuth token.</p>
                </div>
                <md-button class="md-secondary md-icon-button" style="font-size: 30px;"
                           href="https://github.com/QuantiModo/quantimodo-android-chrome-ios-web-app/blob/da190b91d97a10587b6ca91a69261d9cdad98fac/src/js/services/qmService.js#L1031"
                           target="_blank"
                           aria-label="Example implementation">
                    <md-icon class="ion-code">
                        <md-tooltip md-direction="down">Example implementation</md-tooltip>
                    </md-icon>
                </md-button>
                <md-button class="md-secondary md-icon-button" style="font-size: 30px;"
                           ng-click="copyToClipboard('https://app.quantimo.do/api/oauth2/authorize')"
                           aria-label="Copy to clipboard">
                    <md-icon class="ion-clipboard">
                        <md-tooltip md-direction="down">Copy to clipboard</md-tooltip>
                    </md-icon>
                </md-button>
            </md-list-item>
            <md-list-item class="md-3-line">
                <div class="md-list-item-text" layout="column">
                    <h3>OAuth Token URL</h3>
                    <h4>https://app.quantimo.do/api/oauth2/token</h4>
                    <p>The URL you should use to turn the code into an access token (second portion of
                        the OAuth flow).</p>
                </div>
                <md-button class="md-secondary md-icon-button" style="font-size: 30px;"
                           href="https://github.com/QuantiModo/quantimodo-android-chrome-ios-web-app/blob/da190b91d97a10587b6ca91a69261d9cdad98fac/src/js/services/qmService.js#L1066"
                           target="_blank"
                           aria-label="Example implementation">
                    <md-icon class="ion-code">
                        <md-tooltip md-direction="down">Example implementation</md-tooltip>
                    </md-icon>
                </md-button>
                <md-button class="md-secondary md-icon-button" style="font-size: 30px;"
                           ng-click="copyToClipboard('https://app.quantimo.do/api/oauth2/token')"
                           aria-label="Copy to clipboard">
                    <md-icon class="ion-clipboard">
                        <md-tooltip md-direction="down">Copy to clipboard</md-tooltip>
                    </md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>
