version: '3.8'
services:
  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: js_examples
    ports:
      - 5432:5432
    volumes:
      - ./data:/var/lib/postgresql/data
