@CHARSET "UTF-8";

body{
	background-color:#4F3542;
	font-family: 'Open Sans', sans-serif;
	margin:0;
	padding:0;
	text-align: center;
	color: #d5ebda;
}

p{
	font-size:3em;
	margin: 0;
	margin-bottom:1.5em;
}

.robotpage-top-half{
	background-color:#D5EBDA;
	overflow:hidden;
}

#errorCodeTxt{
	color:#CEDDD1;
}

#robot_holder{
}

#brokebotSVG{
	/*height:259px;*/
	margin-left:auto;
	margin-right:auto;
	/*margin-top:111px;*/
	font-family: 'Open Sans', sans-serif;
	font-weight:bold;
	width:50%;
}

#robot-text{
	color:#e54560;
	text-align:center;
	font-size:6em;
	margin-top:.5em;
	margin-bottom:.2em;
	padding:0;
}

#robotpage-bottom-half{
	font-family: 'Open Sans', sans-serif;

}

.robot-buttons{

	margin-left:auto;
	margin-right:auto;
}

a.robot-buttons {
    font-size: 3em;
	background-color: #55BF9B;
	padding: .5em 1.5em;
	margin: .5em .2em 0em .2em;
	text-align: center;
	border-radius: .3em;
    text-decoration: none;
    color: #F2ECBA;
	font-weight: bold;
}

a.robot-buttons:hover  {
	cursor: pointer;
	background-color: #8BC99A;
    color: #F2ECBA;
}

.search-robot-form{
	
}

.search-robot{
	width:480px;
	margin-left:auto;
	margin-right:auto;
}

.search-robot-box{
    width:305px;
    float:left;
    padding: .5em;
	border-radius: .3em;
	font-size: 1em;
	margin:0;
	border:0;
}

.search-robot-buttons {
    font-size: 2em;
	background-color: #55BF9B;
	padding: .5em;
	border-radius: .3em;
    text-decoration: none;
    color: #F2ECBA;
    width:150px;
    float:right;
	margin:0;
	border:0;
}

.clear{
	clear:both;	
}

.search-robot-buttons:hover  {
	cursor: pointer;
	background-color: #8BC99A;
    color: #F2ECBA;
}

.robot-links{
	text-align: center;
	color: #F2ECBA;
	margin-top:1em;
}

.robot-links a{
	color:#8BCA9B;
	text-decoration:none;
	padding:.5em;
}

.robot-links a:hover{
	color:#F2ECBA;
	text-decoration:none;
}	