<div flex ng-cloak class="connectors-grid-list-dynamic-tiles">
    <md-grid-list
            md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
            md-row-height-gt-md="1:1" md-row-height="4:3"
            md-gutter="8px" md-gutter-gt-sm="4px">

        <md-grid-tile ng-repeat="connector in state.connectors"
                      md-rowspan="1"
                      md-colspan="1"
                      md-colspan-sm="1"
                      md-colspan-xs="1"
                      style="background: {{connector.backgroundColor}};" ng-cloak>
            <img ng-src="{{connector.image}}" alt="Connector Image" style="width:40%;">
            <md-grid-tile-footer>
                <h3 style="color:white; border-radius:15px;">{{connector.displayName}} </h3>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</div>
