<md-dialog aria-label="Select My Plan">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 style="color: white">Select Plan</h2>
                <span flex></span>
                <md-button id="search-help-button" class="md-icon-button" ng-click="ctrl.getHelp()">
                    <md-icon md-svg-src="img/material-icons/ic_help_outline_white_24px.svg" aria-label="Help"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-radio-group ng-model="productId">
                    <md-radio-button value="monthly7">Monthly at $6.99/mo</md-radio-button>
                    <md-radio-button value="yearly60" class="md-primary">Yearly at $59.99/yr ($4.99/mo avg)
                    </md-radio-button>
                </md-radio-group>
                <!--                <md-input-container class="md-block">
                                    &lt;!&ndash; Use floating placeholder instead of label &ndash;&gt;
                                    <md-icon md-svg-src="img/material-icons/ic_card_giftcard_24px.svg"></md-icon>
                                    <input ng-model="coupon" placeholder="Coupon Code (optional)" ng-required="false">
                                </md-input-container>-->
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <span flex></span>
            <md-button ng-click="subscribe(productId)">
                OK
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
