<div id="splash-screen"
     class="splash-wrapper">
  <a href="https://curedao.org/help"
     style="text-decoration: none; cursor:pointer;">
    <div id="splash-logo">
      <div id="splash-text"
           style="margin-top: 20%">
        <!--<div class="splash-h1"
             style="font-size: 60px; z-index: 0;">Offline
        </div>-->
        <!--<div class="splash-h2"
              style="font-size: 60px; z-index: 0;">Please reload!
         </div>-->
      </div>
    </div>
  </a>
  <div class="splash-grid"
       style="z-index: 0;"></div>
</div>
