<div ng-show="state.variableObject.userId && user && state.variableObject.userId === user.id">
    <div class="card" ng-if="state.variableObject">
        <ion-toggle ng-model="state.variableObject.shareUserMeasurements"
                    ng-change="toggleVariableShare(variableObject)">
            <i ng-if="!state.variableObject.shareUserMeasurements"
               class="icon ion-locked">
                &nbsp Variable is Private
            </i>
            <i ng-if="state.variableObject.shareUserMeasurements"
               class="icon ion-unlocked">
                &nbsp Variable is Public
            </i>
        </ion-toggle>
        <label ng-click="state.shareCurrentPage()"
               class="item item-content"
               ng-if="platform.isWeb && variableObject.shareUserMeasurements === true">
            <i class="icon ion-clipboard"> &nbsp {{copyLinkText}}</i>
        </label>
    </div>
    <p style="text-align: center;" class="pulsating-glowing-text">Share your discoveries!</p>
    <div style="text-align: center;">
        <div class="sharingButtons" style="cursor: pointer">
	        <div ng-click="state.shareCurrentPage()"
	             class="show-inline pulsating-glowing-text">
		        <div class="tooltip" title="{{copyLinkText}}">
			        <i style="font-size: 32px;" class="ion-link"></i>
		        </div>
	        </div>

            <div ng-click="shareCharts(variableObject, variableObject.chartsLinkFacebook, $event)"
                 class="show-inline pulsating-glowing-text">
                <div class="tooltip" title="Share to Facebook">
                    <i style="font-size: 32px;" class="ion-social-facebook"></i>
                </div>
            </div>
            &nbsp;
            &nbsp;
            <div ng-click="shareCharts(variableObject, variableObject.chartsLinkTwitter, $event);"
                 class="show-inline pulsating-glowing-text">
                <div class="tooltip" title="Share Study to Twitter">
                    <i style="font-size: 32px;" class="ion-social-twitter"></i>
                </div>
            </div>
            &nbsp;
            &nbsp;
            <div ng-click="shareCharts(variableObject, variableObject.chartsLinkEmail, $event);"
                 class="show-inline pulsating-glowing-text">
                <div class="tooltip" title="Share Study to Twitter">
                    <i style="font-size: 32px;" class="ion-email"></i>
                </div>
            </div>
        </div>
    </div>

</div>
