
// Circle Page Start
.circle-page-button {
  background-color: rgba(0,0,0,0);
  border:none;
  outline:none;
  color:white;
  text-align:center;
}
.circle-page-button:hover {
  color: white;
  text-decoration: none;
}
// Circle Page End