/* Variable settings page */
/*
.variable-settings .item-input {
    padding-right: 10px;
}
.variable-settings .item-content {
    padding-right: 10px;
}
*/
.card .variable-settings {
  padding-right: 10px;
}
.variable-settings .item-input {
  display: block;
}
.variable-settings .left-span {
  float: left;
  width: auto;
  position: relative;
  font-size: 14px;
}
.variable-settings .left-text {
  float: left;
  font-size: 14px;
}
.variable-settings .right-span {
  float: right;
  width: auto;
}
.variable-settings .right-input {
  padding-top: 0px;
  padding-right: 10px !important;
  text-align: right;
  vertical-align: baseline;
  display: table;
}
.variable-settings .right-text {
  font-style: italic;
  vertical-align: baseline;
  text-align: right;
  font-size: 14px;
  float: right;
  white-space: normal;
}
.variable-settings ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #111;
}
.variable-settings :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #111;
  opacity:  1;
}
.variable-settings ::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #111;
  opacity:  1;
}
.variable-settings :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #111;
}
#statisticsCard .right-text {
  font-style: italic;
  vertical-align: baseline;
  text-align: right;
  font-size: 14px;
  float: right;
  white-space: normal;
}
#statisticsCard .left-text {
  float: left;
  font-size: 14px;
}
#statisticsCard label {
  padding: 6px 10px 5px 16px;
}