/* Fonts Imported from Google */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);
/*   Core: General style
----------------------------*/
body {
	text-align: center;
	font-family: 'Open Sans' !important;
	background:url(../images/light_grey.png); 
	color: #fff;
}
.err-cont {
position: absolute;
top: 30%;
left: 0;
width: 100%;
margin-top: -150px;
z-index: 98;

}
.err-cont img,.err-cont a{
	left: 50%;
position: relative;
}

/* animation */

.container {
    -webkit-animation: CAnimation 5s infinite linear; /* Chrome, Safari, Opera */
    animation: CAnimation 5s infinite linear;
display:block;
background: red;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes CAnimation {
    from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/* Standard syntax */
@keyframes CAnimation {
    from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
