/*---------- Blog Custom Css ---------- */
.blog {
    margin-top: 2%;
}

.blog h3 {
    margin-top: -7px;
    margin-bottom: 0px;
    padding-left: 3%;
}

.blog img {
    margin: 1% 2% 2% 2%;
    width: 100%;
}

.right-blog a {
    color: #787878;
}

a:hover {
    text-decoration: none;
}

.right-blog h6 {
    color: #ef6f6c;
    margin-top: -2%;
    margin-bottom: 6%;
}
.right-blog span{
    margin-top: 5px;
}
.panel-heading h4{
    margin-top: 2px;
    margin-bottom: 2px;
}
.april a {
    color: #128bc6;
}
/* ---------- Box Css Start ---------- */
.the-box {
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid #D5DAE0;
    position: relative;
    background: white;
    margin-top: 6%;
    border-radius: 4px;
}
.the-box h4{
    margin-top: 10px;
}
.the-box1 {
    padding: 15px;
    margin-bottom: 30px;
    position: relative;
    background: white;
    margin-top: 5%;
    border-radius: 4px;
}
/* ---------- Box Css Start End ---------- */
/*---------- //Blog Custom Css End ---------- */

.martop13 {
    margin-top: 13px;
}
/* ---------- Blog Item Css Start ---------- */
/* ---------- Featured-text Css Start ---------- */
.featured-text {
    position: relative;
    background: #fff;
    padding: 15px 15px 15px 40px;
    z-index: 3;
}
/* ---------- //Featured-text Css End ---------- */
blockquote {
    padding-right: 15px;
    padding-left: 0;
    text-align: right;
    border-right: 1px solid #ef6f6c;
    border-left: 0;
}

.author {
    width: 100%
}

.thumbnail {
    display: block;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-top: 2%;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.thumbnail img{
    width: 100%;
}
.thumbnail h3{
    margin-top: 1%;
}
.the-box h3{
    margin-top:0px;
    margin-bottom: 0px;

}
/* ---------- //Blog item Css End ---------- */
