/* ---------- Contact Css Start ---------- */
/* ---------- Form control Css Start ---------- */
.form-control {
    background-color: #fff;
    border: 1px solid #D6D4D4;
    width: 100%;
}
/* ---------- //Form control Css End ---------- */
/* ---------- Input field css Start ---------- */
.input-group {
    display: block;
}
.input-group button{
    margin-top: 2%;
    margin-bottom: 15px;
}
.addr a {
    color: #787878;
    text-decoration: underline;
}

.addr a:hover {
    color: #5d9cec;
    text-decoration: underline;
}
/* ---------- //Input field css End ---------- */
.fa{
    display: inline;
}
ul{
	padding-left: 0px;
}
.addr ul i{
	color: #128bc6;
}
/* ---------- //Contact Css End ---------- */