textarea.text-nowrap{
    white-space: nowrap;
    overflow: scroll;
    overflow-y:hidden;
    overflow-x: scroll;
    overflow:-moz-scrollbars-horizontal;
    width: 100%;
}
.text{
    text-align: justify;
    line-height: 1.9;
}

/*---------- Advanced Features Css Start ---------- */
/* --------- Blockquote Css Start ---------- */ 
blockquote {
    padding: 20px 20px;
    margin: 10px 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #5d9cec;
}

.blockquote-reverse {
    padding-right: 15px;
    padding-left: 0;
    text-align: right;
    border-right: 5px solid #5d9cec;
    border-left: 0;
}

blockquote .foot {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777;
}

.advanced button,
.tooltips button,
.pop button {
    margin-bottom: 15px;
}
blockquote .foot:before {
    content: '\2014 \00A0';
}
/* --------- //Blockquote Css End ---------- */
.headings {
    text-align: center;
}
ul {
    list-style-type: disc;
}

address a:link,
address a:visited,
address a:hover,
address a:active {
    color: #337AB7;
    text-decoration: none;
}


/* ---------- Popover Css Start ---------- */
.popover.bottom{
    background-color: #fff;
}
.pop .btn{
    padding: 6px 10px;
}
/* ---------- //Popover Css End ---------- */

.text-primary {
    color: #128bc6;
    background-color: inherit;
}

/*---------- //Advanced Features Css End ---------- */
/*---------- Grid System Css ---------- */
.bar-primary {
    padding: 1em 0;
    background-color: #D9EDF7;
    border: 1px solid #A0DEF2;
    border-radius: 1px;
    text-align: center;
}

.bar-success {
    padding: 1em 0;
    background-color: #DFF0D8;
    border: 1px solid #A3E69E;
    border-radius: 1px;
    text-align: center;
}

.bar-danger {
    padding: 1em 0;
    background-color: #F5DFF7;
    border: 1px solid #F0C9F5;
    border-radius: 1px;
    text-align: center;
}
/*---------- //Grid System Css ---------- */