/* --------- Panel Css Start ---------- */
.row{
padding: 0 15px;
}
.paddingleft_right15{
	padding:0 15px;
}
.clickable{
    cursor: pointer;   
}
.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}
/* ---------- btn custom css ---------- */

.btn-success {
color: #fff;
background-color: #01BC8C;
border-color: #01BC8C;
}
.btn-primary {
color: #fff;
background-color: #418BCA;
border-color: #418BCA;
}
.btn-info {
color: #fff;
background-color: #67C5DF;
border-color: #67C5DF;
}
.btn-warning {
color: #fff;
background-color:#F89A14;
border-color: #F89A14;
}
.btn-danger {
color: #fff;
background-color:#EF6F6C;
border-color: #EF6F6C;
}

/* ---------- //Btn Css End ---------- */
/* tables custome code*/

.success {
background: #01BC8C;

}
.primary {
background: #418BCA;
}
.info {
background: #67C5DF;
}
.warning {
background: #F89A14;
}
.danger {
background: #EF6F6C;
}

/*warning*/
.panel-warning {
 border-color: #E7E1E8;
}
.panel-warning > .panel-heading {
 color: #fff;
 background-color: #F89A14;
 border-color: #F89A14;
}
.panel-warning > .panel-heading + .panel-body {
 border-top-color: #F89A14;
}

/*danger*/
.panel-danger {
 border-color: #E7E1E8;
}
.panel-danger > .panel-heading {
color: #fff;
 background-color: #EF6F6C;
 border-color: #EF6F6C;
}
.panel-danger > .panel-heading + .panel-collapse .panel-body {
 border-top-color: #EF6F6C;
}
.panel-danger > .panel-footer + .panel-collapse .panel-body {
 border-bottom-color:#EF6F6C;
}
/*success*/
.panel-success {
 border-color: #E7E1E8;
}
.panel-success > .panel-heading {
color: #fff;
 background-color: #01BC8C;
 border-color: #01BC8C;
}
.panel-success > .panel-heading + .panel-collapse .panel-body {
 border-top-color: #01BC8C;
}
.panel-success > .panel-footer + .panel-collapse .panel-body {
 border-bottom-color:#01BC8C;
}
/*Primary*/
.panel-primary {
 border-color: #E7E1E8;
}
.panel-primary > .panel-heading {
color: #fff;
 background-color: #418BCA;
 border-color: #418BCA;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
 border-top-color: #418BCA;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
 border-bottom-color:#418BCA;
}
/*default*/


.panel-default> .panel-heading + .panel-collapse .panel-body {
 border-top-color: #A9B6BC;
}

.panel-default> .panel-footer + .panel-collapse .panel-body {
 border-bottom-color: #A9B6BC;
}
/***
Customized Bootstrap Buttons
***/
/* ---------- Btn Warning Css Start ---------- */
.btn-warning {
color: white;
background-color:#F89A14;
border-color: "";
}
/* ---------- //Btn Warning Css End ---------- */
.bs-example .nav-tabs>li {
float: left;
margin-bottom: -2px;
}
.fancybox-custom .fancybox-skin {
    box-shadow: 0 0 50px #222;
}
/* ---------- Btn hover css Start ---------- */
.btn-primary:hover{
  color: #fff;
background-color: #418BC1;
border-color:#418BC1;
}
.btn-danger:hover{
  color: #fff;
background-color: #EF6F61;
border-color:#EF6F61;
}
/* ---------- //Btn hover css End ---------- */
/* --------- //Panel Css End---------- */