/* ---------- Portfolio Css Start ---------- */

#gallery {
    margin-top: 20px;
}

.mix {
    display: none;
}
/* ---------- Image zoom Css Start ---------- */

.thumb_zoom img {
    -webkit-transition: all 1s ease;
    /* Safari and Chrome */
    
    -moz-transition: all 1s ease;
    /* Firefox */
    
    -o-transition: all 1s ease;
    /* IE 9 */
    
    -ms-transition: all 1s ease;
    /* Opera */
    
    transition: all 1s ease;
}
/* ---------- //Image zoom Css End ---------- */
/* ---------- Image zoom hover Css Start ---------- */

.thumb_zoom img:hover {
    -webkit-transform: scale(1.45, 1.45);
    /* Safari and Chrome */
    
    -moz-transform: scale(1.45, 1.45);
    /* Firefox */
    
    -ms-transform: scale(1.45, 1.45);
    /* IE 9 */
    
    -o-transform: scale(1.45, 1.45);
    /* Opera */
    
    transform: scale(1.45, 1.45);
    opacity: .3;
}
/* ---------- //Image zoom hover Css End ---------- */
/* ---------- Thumb zoom Css Start ---------- */

.thumb_zoom {
    display: inline-block;
    overflow: hidden;
    padding: 0px !important;
    margin: 3px;
}
/* ---------- Thumb zoom Css End ---------- */
/* ---------- Search icon Css Start ---------- */

.fa-search-plus {
    position: absolute;
    z-index: 7;
    top: 50px;
    left: 120%;
    right: 0px;
    color: #fff;
    font-size: 17px !important;
    background-color: #ef6f6c;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-top: 6px;
    padding-left: 8px;
}
/* ---------- //Search icon Css End ---------- */
/* ---------- Link Icon Css Start ---------- */

.fa-link {
    position: absolute;
    z-index: 7;
    top: 50px;
    left: 187%;
    right: 0;
    color: #fff;
    font-size: 17px !important;
    background-color: #ef6f6c;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding-top: 6px;
    padding-left: 8px;
}
/* ---------- //Link Icon Css End ---------- */
/* ---------- //Portfolio Css End ---------- */
/* ---------- Portfolio item Css Start ---------- */

.bx-wrapper .bx-pager{
    display: none;
}

/* ---------- //Portfolio item Css End ---------- */
/* ---------- Portfolio item Css Start ---------- */
.carousel-inner .item>img {
    width: 100%;
}
/* ---------- //Portfolio item Css End ---------- */
/* ---------- Portfolio media Css Start ---------- */

@media(max-width:900px) {
    .fa-search-plus {
        left: 60%;
    }
    .fa-link {
        left: 90%
    }
}
/* ---------- //Portfolio media Css End ---------- */
