/*---------- Price Css Start ---------- */
.price-bg{
    background-image: url("../../images/price-bg.png");
}
.pad-btm20{
    padding: 5% 0;
}

/* --------- Price table Box css ---------- */
.box_round_symboll {
    background-color: #09bd8f;
    border-radius: 50%;
}

.box_round_symboll_text_1 {
    color: #fff;
    font-size: 40px;
    padding: 5% 0;
}
/* --------- //Price table Box css End---------- */
/* --------- Price table panel css ---------- */
.panel ul {
    text-align: center;
    padding-top: 20px;
    padding-left: 0px;
}
/* --------- Price table panel Heading css ---------- */
.panel-heading {
    background-color: #09bd8f !important;
    border: none;
    margin-top: 25px;
    box-shadow: 0 2px 5px 0;
}
/* --------- //Price table panel heading css End ---------- */
/* --------- Price table panel body css ---------- */
.panel-body {
    background-color: #f7f7f7;
    box-shadow: 0 2px 5px 0;
}
/* --------- //Price table panel body css End ---------- */
/* --------- Price table panel border css ---------- */
.panel {
    border: none;
    margin-bottom: 17%;
}
/* --------- //Price table panel css End ---------- */
.panel-body>.btn-primary{
    background-color: #09bd8f;
    border: none;
}
.panel:hover .panel-heading,.panel.active .panel-heading{
    background-color: #128bc6 !important;
}
.panel:hover .box_round_symboll,.panel.active .panel-body>.box_round_symboll{
    background-color: #128bc6;
}
.panel:hover .btn-primary,.panel.active .panel-body>.btn-primary{
    background-color: #128bc6;
}
/*---------- //Price Css End ---------- */