# Force .sh files for provisioning scripts to use LF, even on Windows
*.sh text eol=lf
*.php text eol=lf
*.js text eol=lf
*.txt text eol=lf
* text=auto eol=lf

# If this causes problems for you with git, refresh your repo according
# to the instructions at https://help.github.com/articles/dealing-with-line-endings/
