.status > div {
    font-weight: bolder;
    line-height: 30px;
}
.status .Unpublished{
    color: #ff0033;
}
.status .Published{
    color: #00cc00;
}

.collaborators .avatar, .users .avatar {
    width: 35px;
    padding: 5px !important;
}

.collaborators .delete-collaborator i {
    cursor: pointer;
}

#user-info {
    line-height: 34px;
}

.fb-share-button {
    margin-top: -5px;
    margin-right: 10px;
}
.twitter-share-button {
    margin-top: 5px;
    margin-right: 7px;
}