.plan-box .panel-body{
    padding:0px;
}

.plan-box .features{
    padding:40px 15px;
    text-align:center;
}

.plan-box .panel-heading > span{
    font-weight:bold;
}

#continueButton{
    margin-left:10px
}
#order > label{
    text-align: right;
}
#tabContent{
    padding-top:20px;
}