openapi: 3.0.1
info:
  title: quantimodo
  description: A platform for participant-centered research and personal data exploration.
  termsOfService: 'https://quantimo.do/tos/'
  contact:
    name: Mike P. Sinn
    url: 'https://help.quantimo.do'
    email: hello@quantimo.do
  license:
    name: GNU General Public License v3 (GPL-3)
    url: 'https://tldrlegal.com/license/gnu-general-public-license-v3-(gpl-3)'
  version: '1'
servers:
  - url: 'https://api.curedao.org/api'
tags:
  - name: analytics
    description: Identify the strongest predictors of a given outcome and generate studies
    externalDocs:
      description: Try it out
      url: 'https://web.quantimo.do/#/app/predictor-search'
  - name: connectors
    description: Import data from third-party apps and devices like Fitbit and Mint.
    externalDocs:
      description: Import your data now
      url: 'https://demo.quantimo.do/#/app/import'
  - name: measurements
    description: 'Measurements are any value that can be recorded like daily steps, a mood rating, or apples eaten.'
    externalDocs:
      description: See it in action
      url: 'https://demo.quantimo.do/#/app/history-all-category/Anything'
  - name: reminders
    description: Users can be reminded to track certain variables at a specified frequency with a default value.
    externalDocs:
      description: See it in action
      url: 'https://demo.quantimo.do/#/app/reminders-inbox'
  - name: units
    description: Available units for measurements
    externalDocs:
      description: See it in action
      url: 'https://demo.quantimo.do/#/app/measurement-search'
  - name: user
    description: Get or update user info and settings
    externalDocs:
      description: See it in action
      url: 'https://demo.quantimo.do/#/app/settings'
  - name: variables
    description: 'Can be used for search auto-complete for data types like symptoms, foods and treatments and include statistics'
    externalDocs:
      description: Search for a variable
      url: 'https://demo.quantimo.do/#/app/reminder-search'
  - name: studies
    description: Automatically generated natural language studies examining the relationship between a predictor and outcome variable including charts.
    externalDocs:
      description: Search for a study
      url: 'https://demo.quantimo.do/#/app/studies'
  - name: shares
    description: Share your discoveries
    externalDocs:
      description: Share your discoveries
      url: 'https://demo.quantimo.do/#/app/data-sharing'
  - name: AppSettings
    description: Build your own app
    externalDocs:
      description: Build your own app
      url: 'https://builder.quantimo.do/'
  - name: notifications
    description: Get notified to track
    externalDocs:
      description: Get notified to track
      url: 'https://demo.quantimo.do/reminders-inbox'
  - name: authentication
    description: authentication
    externalDocs:
      description: authentication
      url: 'https://builder.quantimo.do/'
  - name: social
    description: social
    externalDocs:
      description: social
      url: 'https://builder.quantimo.do/'
paths:
  /v3/appSettings:
    get:
      tags:
        - AppSettings
      summary: Get client app settings
      description: 'Get the settings for your application configurable at https://builder.quantimo.do'
      operationId: getAppSettings
      parameters:
        - name: clientId
          in: query
          description: 'Your QuantiModo client id can be obtained by creating an app at https://builder.quantimo.do'
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: allStaticAppData
          in: query
          description: 'Get units, variable categories, and common variables that can be used in the app'
          required: false
          style: form
          explode: true
          schema:
            type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppSettingsResponse'
        '401':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        '404':
          description: Not found
          content: {}
        '500':
          description: Internal server error
          content: {}
  /v2/measurements/exportRequest:
    post:
      tags:
        - measurements
      summary: Post Request for Measurements CSV
      description: Use this endpoint to schedule a CSV export containing all user measurements to be emailed to the user within 24 hours.
      operationId: measurementExportRequest
      parameters:
        - name: userId
          in: query
          description: User's id
          required: false
          style: form
          explode: true
          schema:
            type: number
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                type: integer
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
  /v3/connect/mobile:
    get:
      tags:
        - connectors
      summary: Mobile connect page
      description: 'This page is designed to be opened in a webview.  Instead of using popup authentication boxes, it uses redirection. You can include the user''s access_token as a URL parameter like https://api.curedao.org/api/v3/connect/mobile?access_token=123'
      operationId: getMobileConnectPage
      parameters:
        - name: userId
          in: query
          description: User's id
          required: false
          style: form
          explode: true
          schema:
            type: number
      responses:
        '200':
          description: Mobile connect page was returned
          content: {}
        '401':
          description: User token is missing
          content: {}
        '403':
          description: User token is incorrect
          content: {}
  /v3/connectors/list:
    get:
      tags:
        - connectors
      summary: List of Connectors
      description: 'A connector pulls data from other data providers using their API or a screenscraper. Returns a list of all available connectors and information about them such as their id, name, whether the user has provided access, logo url, connection instructions, and the update history.'
      operationId: getConnectors
      parameters:
        - name: clientId
          in: query
          description: 'Your QuantiModo client id can be obtained by creating an app at https://builder.quantimo.do'
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetConnectorsResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
  '/v3/connectors/{connectorName}/connect':
    get:
      tags:
        - connectors
      summary: Obtain a token from 3rd party data source
      description: 'Attempt to obtain a token from the data provider, store it in the database. With this, the connector to continue to obtain new user data until the token is revoked.'
      operationId: connectConnector
      parameters:
        - name: userId
          in: query
          description: User's id
          required: false
          style: form
          explode: true
          schema:
            type: number
        - name: connectorName
          in: path
          description: Lowercase system name of the source application or device. Get a list of available connectors from the /v3/connectors/list endpoint.
          required: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
              - facebook
              - fitbit
              - github
              - googlecalendar
              - googlefit
              - medhelper
              - mint
              - moodpanda
              - moodscope
              - myfitnesspal
              - mynetdiary
              - netatmo
              - rescuetime
              - runkeeper
              - slack
              - sleepcloud
              - slice
              - up
              - whatpulse
              - withings
              - worldweatheronline
              - foursquare
              - strava
              - gmail
      responses:
        '200':
          description: Successful operation
          content: {}
        '401':
          description: Not Authenticated
          content: {}
        '404':
          description: Method not found. Could not execute the requested method.
          content: {}
        '500':
          description: Error during update. Unsupported response from update().
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
  '/v3/connectors/{connectorName}/disconnect':
    get:
      tags:
        - connectors
      summary: Delete stored connection info
      description: The disconnect method deletes any stored tokens or connection information from the connectors database.
      operationId: disconnectConnector
      parameters:
        - name: connectorName
          in: path
          description: Lowercase system name of the source application or device. Get a list of available connectors from the /v3/connectors/list endpoint.
          required: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
              - facebook
              - fitbit
              - github
              - googlecalendar
              - googlefit
              - medhelper
              - mint
              - moodpanda
              - moodscope
              - myfitnesspal
              - mynetdiary
              - netatmo
              - rescuetime
              - runkeeper
              - slack
              - sleepcloud
              - slice
              - up
              - whatpulse
              - withings
              - worldweatheronline
              - foursquare
              - strava
              - gmail
      responses:
        '200':
          description: Successful operation
          content: {}
        '401':
          description: Not Authenticated
          content: {}
        '404':
          description: Method not found. Could not execute the requested method.
          content: {}
        '500':
          description: Error during update. Unsupported response from update().
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
  '/v3/connectors/{connectorName}/update':
    get:
      tags:
        - connectors
      summary: Sync with data source
      description: The update method tells the QM Connector Framework to check with the data provider (such as Fitbit or MyFitnessPal) and retrieve any new measurements available.
      operationId: updateConnector
      parameters:
        - name: userId
          in: query
          description: User's id
          required: false
          style: form
          explode: true
          schema:
            type: number
        - name: connectorName
          in: path
          description: Lowercase system name of the source application or device. Get a list of available connectors from the /v3/connectors/list endpoint.
          required: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
              - facebook
              - fitbit
              - github
              - googlecalendar
              - googlefit
              - medhelper
              - mint
              - moodpanda
              - moodscope
              - myfitnesspal
              - mynetdiary
              - netatmo
              - rescuetime
              - runkeeper
              - slack
              - sleepcloud
              - slice
              - up
              - whatpulse
              - withings
              - worldweatheronline
              - foursquare
              - strava
              - gmail
      responses:
        '200':
          description: Connection Successful
          content: {}
        '401':
          description: Not Authenticated
          content: {}
        '404':
          description: Method not found. Could not execute the requested method.
          content: {}
        '500':
          description: Error during update. Unsupported response from update().
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
  /v3/correlations:
    get:
      tags:
        - analytics
      summary: Get correlations
      description: 'Get a list of correlations that can be used to display top predictors of a given outcome like mood, for instance.'
      operationId: getCorrelations
      parameters:
        - name: causeVariableName
          in: query
          description: 'Deprecated: Name of the hypothetical predictor variable.  Ex: Sleep Duration'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: effectVariableName
          in: query
          description: 'Deprecated: Name of the outcome variable of interest.  Ex: Overall Mood'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: causeVariableId
          in: query
          description: 'Variable id of the hypothetical predictor variable.  Ex: 1398'
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: effectVariableId
          in: query
          description: 'Variable id of the outcome variable of interest.  Ex: 1398'
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: predictorVariableName
          in: query
          description: 'Name of the hypothetical predictor variable.  Ex: Sleep Duration'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: outcomeVariableName
          in: query
          description: 'Name of the outcome variable of interest.  Ex: Overall Mood'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: sort
          in: query
          description: 'Sort by one of the listed field names. If the field name is prefixed with `-`, it will sort in descending order.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: limit
          in: query
          description: 'The LIMIT is used to limit the number of results returned. So if youhave 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          description: 'OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause.If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned.'
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
        - name: userId
          in: query
          description: User's id
          required: false
          style: form
          explode: true
          schema:
            type: number
        - name: correlationCoefficient
          in: query
          description: Pearson correlation coefficient between cause and effect after lagging by onset delay and grouping by duration of action
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: updatedAt
          in: query
          description: 'When the record was last updated. Use UTC ISO 8601 YYYY-MM-DDThh:mm:ss datetime format. Time zone should be UTC and not local.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: outcomesOfInterest
          in: query
          description: Only include correlations for which the effect is an outcome of interest for the user
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - name: clientId
          in: query
          description: 'Your QuantiModo client id can be obtained by creating an app at https://builder.quantimo.do'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: commonOnly
          in: query
          description: 'Return only public, anonymized and aggregated population data instead of user-specific variables'
          required: false
          style: form
          explode: true
          schema:
            type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCorrelationsResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
  /v3/correlations/explanations:
    get:
      tags:
        - analytics
      summary: Get correlation explanations
      description: Get explanations of  correlations based on data from a single user.
      operationId: getCorrelationExplanations
      parameters:
        - name: causeVariableName
          in: query
          description: 'Deprecated: Name of the hypothetical predictor variable.  Ex: Sleep Duration'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: effectVariableName
          in: query
          description: 'Deprecated: Name of the outcome variable of interest.  Ex: Overall Mood'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: causeVariableId
          in: query
          description: 'Variable id of the hypothetical predictor variable.  Ex: 1398'
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: effectVariableId
          in: query
          description: 'Variable id of the outcome variable of interest.  Ex: 1398'
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: predictorVariableName
          in: query
          description: 'Name of the hypothetical predictor variable.  Ex: Sleep Duration'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: outcomeVariableName
          in: query
          description: 'Name of the outcome variable of interest.  Ex: Overall Mood'
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Correlation'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
  /v3/deviceTokens:
    post:
      tags:
        - notifications
      summary: Post DeviceTokens
      description: 'Post user token for Android, iOS, or web push notifications'
      operationId: postDeviceToken
      requestBody:
        description: The platform and token
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceToken'
        required: true
      responses:
        '201':
          description: Successful operation
          content: {}
        '401':
          description: Not authenticated
          content: {}
        '404':
          description: Not found
          content: {}
        '500':
          description: Internal server error
          content: {}
      x-codegen-request-body-name: body
  /v3/feed:
    get:
      tags:
        - notifications
      summary: 'Tracking reminder notifications, messages, and study results'
      description: 'Tracking reminder notifications, messages, and study results'
      operationId: getFeed
      parameters:
        - name: sort
          in: query
          description: 'Sort by one of the listed field names. If the field name is prefixed with `-`, it will sort in descending order.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: userId
          in: query
          description: User's id
          required: false
          style: form
          explode: true
          schema:
            type: number
        - name: createdAt
          in: query
          description: 'When the record was first created. Use UTC ISO 8601 YYYY-MM-DDThh:mm:ss datetime format. Time zone should be UTC and not local.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: updatedAt
          in: query
          description: 'When the record was last updated. Use UTC ISO 8601 YYYY-MM-DDThh:mm:ss datetime format. Time zone should be UTC and not local.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: limit
          in: query
          description: 'The LIMIT is used to limit the number of results returned. So if youhave 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          description: 'OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause.If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned.'
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
        - name: clientId
          in: query
          description: 'Your QuantiModo client id can be obtained by creating an app at https://builder.quantimo.do'
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
    post:
      tags:
        - notifications
      summary: Post user interactions with feed
      description: Post user actions on feed cards
      operationId: postFeed
      parameters:
        - name: userId
          in: query
          description: User's id
          required: false
          style: form
          explode: true
          schema:
            type: number
        - name: clientId
          in: query
          description: 'Your QuantiModo client id can be obtained by creating an app at https://builder.quantimo.do'
          required: false
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        description: Id of the tracking reminder notification to be snoozed
        content:
          application/json:
            schema:
              type: array
              description: Array of cards to take action on
              items:
                $ref: '#/components/schemas/Card'
        required: true
      responses:
        '201':
          description: Returns new feed cards
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
      x-codegen-request-body-name: body
  /v3/googleIdToken:
    post:
      tags:
        - authentication
      summary: Post GoogleIdToken
      description: Post GoogleIdToken
      operationId: postGoogleIdToken
      responses:
        '201':
          description: Successful operation
          content: {}
        '401':
          description: Not authenticated
          content: {}
        '404':
          description: Not found
          content: {}
        '500':
          description: Internal server error
          content: {}
  /v3/integration.js:
    get:
      tags:
        - connectors
      summary: Get embeddable connect javascript
      description: |-
        Get embeddable connect javascript. Usage:
          - Embedding in applications with popups for 3rd-party authentication
        windows.
            Use `qmSetupInPopup` function after connecting `connect.js`.
          - Embedding in applications with popups for 3rd-party authentication
        windows.
            Requires a selector to block. It will be embedded in this block.
            Use `qmSetupOnPage` function after connecting `connect.js`.
          - Embedding in mobile applications without popups for 3rd-party
        authentication.
            Use `qmSetupOnMobile` function after connecting `connect.js`.
            If using in a Cordova application call  `qmSetupOnIonic` function after connecting `connect.js`.
      operationId: getIntegrationJs
      parameters:
        - name: clientId
          in: query
          description: 'Your QuantiModo client id can be obtained by creating an app at https://builder.quantimo.do'
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Embeddable connect javascript was returned
          content: {}
  /v3/measurements:
    get:
      tags:
        - measurements
      summary: Get measurements for this user
      description: 'Measurements are any value that can be recorded like daily steps, a mood rating, or apples eaten.'
      operationId: getMeasurements
      parameters:
        - name: variableName
          in: query
          description: Name of the variable you want measurements for
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: sort
          in: query
          description: 'Sort by one of the listed field names. If the field name is prefixed with `-`, it will sort in descending order.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: limit
          in: query
          description: 'The LIMIT is used to limit the number of results returned. So if youhave 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          description: 'OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause.If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned.'
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
        - name: variableCategoryName
          in: query
          description: 'Ex: Emotions, Treatments, Symptoms...'
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - Activities
              - Books
              - Causes of Illness
              - Cognitive Performance
              - Conditions
              - Emotions
              - Environment
              - Foods
              - Location
              - Miscellaneous
              - Movies and TV
              - Music
              - Nutrients
              - Payments
              - Physical Activity
              - Physique
              - Sleep
              - Social Interactions
              - Software
              - Symptoms
              - Treatments
              - Vital Signs
              - Goals
        - name: updatedAt
          in: query
          description: 'When the record was last updated. Use UTC ISO 8601 YYYY-MM-DDThh:mm:ss datetime format. Time zone should be UTC and not local.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: userId
          in: query
          description: User's id
          required: false
          style: form
          explode: true
          schema:
            type: number
        - name: sourceName
          in: query
          description: ID of the source you want measurements for (supports exact name match only)
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: connectorName
          in: query
          description: 'Ex: facebook'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: value
          in: query
          description: Value of measurement
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: unitName
          in: query
          description: 'Ex: Milligrams'
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - '% Recommended Daily Allowance'
              - '-4 to 4 Rating'
              - 0 to 1 Rating
              - 0 to 5 Rating
              - 1 to 10 Rating
              - 1 to 5 Rating
              - Applications
              - Beats per Minute
              - Calories
              - Capsules
              - Centimeters
              - Count
              - Degrees Celsius
              - Degrees East
              - Degrees Fahrenheit
              - Degrees North
              - Dollars
              - Drops
              - Event
              - Feet
              - Grams
              - Hours
              - Inches
              - Index
              - Kilocalories
              - Kilograms
              - Kilometers
              - Liters
              - Meters
              - Micrograms
              - Micrograms per decilitre
              - Miles
              - Milligrams
              - Milliliters
              - Millimeters
              - Millimeters Merc
              - Milliseconds
              - Minutes
              - Pascal
              - Percent
              - Pieces
              - Pills
              - Pounds
              - Puffs
              - Seconds
              - Serving
              - Sprays
              - Tablets
              - Torr
              - Units
              - Yes/No
              - per Minute
              - Doses
              - Quarts
              - Ounces
              - International Units
              - Meters per Second
        - name: earliestMeasurementTime
          in: query
          description: 'Excluded records with measurement times earlier than this value. Use UTC ISO 8601 YYYY-MM-DDThh:mm:ss  datetime format. Time zone should be UTC and not local.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: latestMeasurementTime
          in: query
          description: 'Excluded records with measurement times later than this value. Use UTC ISO 8601 YYYY-MM-DDThh:mm:ss  datetime format. Time zone should be UTC and not local.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: createdAt
          in: query
          description: 'When the record was first created. Use UTC ISO 8601 YYYY-MM-DDThh:mm:ss datetime format. Time zone should be UTC and not local.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: id
          in: query
          description: Measurement id
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: groupingWidth
          in: query
          description: The time (in seconds) over which measurements are grouped together
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: groupingTimezone
          in: query
          description: The time (in seconds) over which measurements are grouped together
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: doNotProcess
          in: query
          description: 'Ex: true'
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - name: clientId
          in: query
          description: 'Your QuantiModo client id can be obtained by creating an app at https://builder.quantimo.do'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: doNotConvert
          in: query
          description: 'Ex: 1'
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - name: minMaxFilter
          in: query
          description: 'Ex: 1'
          required: false
          style: form
          explode: true
          schema:
            type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Measurement'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - readmeasurements
  /v3/measurements/delete:
    delete:
      tags:
        - measurements
      summary: Delete a measurement
      description: Delete a previously submitted measurement
      operationId: deleteMeasurement
      responses:
        '204':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - writemeasurements
      x-codegen-request-body-name: body
  /v3/measurements/post:
    post:
      tags:
        - measurements
      summary: Post a new set or update existing measurements to the database
      description: 'You can submit or update multiple measurements in a "measurements" sub-array.  If the variable these measurements correspond to does not already exist in the database, it will be automatically added.'
      operationId: postMeasurements
      parameters:
        - name: userId
          in: query
          description: User's id
          required: false
          style: form
          explode: true
          schema:
            type: number
      requestBody:
        description: An array of measurement sets containing measurement items you want to insert.
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MeasurementSet'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostMeasurementsResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - writemeasurements
      x-codegen-request-body-name: body
  /v3/measurements/update:
    post:
      tags:
        - measurements
      summary: Update a measurement
      description: Update a previously submitted measurement
      operationId: updateMeasurement
      requestBody:
        description: 'The id as well as the new startTime, note, and/or value of the measurement to be updated'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MeasurementUpdate'
        required: true
      responses:
        '201':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
      x-codegen-request-body-name: body
  /v3/notificationPreferences:
    get:
      tags:
        - notifications
      summary: Get NotificationPreferences
      description: Get NotificationPreferences
      operationId: getNotificationPreferences
      responses:
        '200':
          description: Successful operation
          content: {}
        '401':
          description: Not authenticated
          content: {}
        '404':
          description: Not found
          content: {}
        '500':
          description: Internal server error
          content: {}
  /v3/oauth2/authorize:
    get:
      tags:
        - authentication
      summary: Request Authorization Code
      description: You can implement OAuth2 authentication to your application using our **OAuth2** endpoints.  You need to redirect users to `/api/v3/oauth2/authorize` endpoint to get an authorization code and include the parameters below.   This page will ask the user if they want to allow a client's application to submit or obtain data from their QM account. It will redirect the user to the url provided by the client application with the code as a query parameter or error in case of an error. See the /api/v1/oauth/access_token endpoint for the next steps.
      operationId: getOauthAuthorizationCode
      parameters:
        - name: clientId
          in: query
          description: 'Your QuantiModo client id can be obtained by creating an app at https://builder.quantimo.do'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: client_secret
          in: query
          description: 'This is the secret for your obtained clientId. We use this to ensure that only your application uses the clientId.  Obtain this by creating a free application at [https://builder.quantimo.do](https://builder.quantimo.do).'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: response_type
          in: query
          description: 'If the value is code, launches a Basic flow, requiring a POST to the token endpoint to obtain the tokens. If the value is token id_token or id_token token, launches an Implicit flow, requiring the use of Javascript at the redirect URI to retrieve tokens from the URI #fragment.'
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: scope
          in: query
          description: 'Scopes include basic, readmeasurements, and writemeasurements. The `basic` scope allows you to read user info (displayName, email, etc). The `readmeasurements` scope allows one to read a user''s data. The `writemeasurements` scope allows you to write user data. Separate multiple scopes by a space.'
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: redirect_uri
          in: query
          description: The redirect URI is the URL within your client application that will receive the OAuth2 credentials.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: state
          in: query
          description: 'An opaque string that is round-tripped in the protocol; that is to say, it is returned as a URI parameter in the Basic flow, and in the URI'
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Successful Operation
          content: {}
        '401':
          description: Not Authenticated
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
  /v3/oauth2/token:
    get:
      tags:
        - authentication
      summary: Get a user access token
      description: 'Client provides authorization token obtained from /api/v3/oauth2/authorize to this endpoint and receives an access token. Access token can then be used to query API endpoints. ### Request Access Token After user approves your access to the given scope form the https:/api.curedao.org/v1/oauth2/authorize endpoint, you''ll receive an authorization code to request an access token. This time make a `POST` request to `/api/v1/oauth/access_token` with parameters including: * `grant_type` Can be `authorization_code` or `refresh_token` since we are getting the `access_token` for the first time we don''t have a `refresh_token` so this must be `authorization_code`. * `code` Authorization code you received with the previous request. * `redirect_uri` Your application''s redirect url. ### Refreshing Access Token Access tokens expire at some point, to continue using our api you need to refresh them with `refresh_token` you received along with the `access_token`. To do this make a `POST` request to `/api/v1/oauth/access_token` with correct parameters, which are: * `grant_type` This time grant type must be `refresh_token` since we have it. * `clientId` Your application''s client id. * `client_secret` Your application''s client secret. * `refresh_token` The refresh token you received with the `access_token`. Every request you make to this endpoint will give you a new refresh token and make the old one expired. So you can keep getting new access tokens with new refresh tokens. ### Using Access Token Currently we support 2 ways for this, you can''t use both at the same time. * Adding access token to the request header as `Authorization: Bearer {access_token}` * Adding to the url as a query parameter `?access_token={access_token}` You can read more about OAuth2 from [here](http://oauth.net/2/)'
      operationId: getAccessToken
      parameters:
        - name: clientId
          in: query
          description: 'Your QuantiModo client id can be obtained by creating an app at https://builder.quantimo.do'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: client_secret
          in: query
          description: 'This is the secret for your obtained clientId. We use this to ensure that only your application uses the clientId.  Obtain this by creating a free application at [https://builder.quantimo.do](https://builder.quantimo.do).'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: grant_type
          in: query
          description: Grant Type can be 'authorization_code' or 'refresh_token'
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: code
          in: query
          description: Authorization code you received with the previous request.
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: response_type
          in: query
          description: 'If the value is code, launches a Basic flow, requiring a POST to the token endpoint to obtain the tokens. If the value is token id_token or id_token token, launches an Implicit flow, requiring the use of Javascript at the redirect URI to retrieve tokens from the URI #fragment.'
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: scope
          in: query
          description: 'Scopes include basic, readmeasurements, and writemeasurements. The `basic` scope allows you to read user info (displayName, email, etc). The `readmeasurements` scope allows one to read a user''s data. The `writemeasurements` scope allows you to write user data. Separate multiple scopes by a space.'
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: redirect_uri
          in: query
          description: The redirect URI is the URL within your client application that will receive the OAuth2 credentials.
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: state
          in: query
          description: 'An opaque string that is round-tripped in the protocol; that is to say, it is returned as a URI parameter in the Basic flow, and in the URI'
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Successful Operation
          content: {}
        '401':
          description: Not Authenticated
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
  /v3/pairs:
    get:
      tags:
        - measurements
      summary: Get pairs of measurements for correlational analysis
      description: Pairs cause measurements with effect measurements grouped over the duration of action after the onset delay.
      operationId: getPairs
      parameters:
        - name: causeVariableName
          in: query
          description: 'Deprecated: Name of the hypothetical predictor variable.  Ex: Sleep Duration'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: effectVariableName
          in: query
          description: 'Deprecated: Name of the outcome variable of interest.  Ex: Overall Mood'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: causeVariableId
          in: query
          description: 'Variable id of the hypothetical predictor variable.  Ex: 1398'
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: effectVariableId
          in: query
          description: 'Variable id of the outcome variable of interest.  Ex: 1398'
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: predictorVariableName
          in: query
          description: 'Name of the hypothetical predictor variable.  Ex: Sleep Duration'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: outcomeVariableName
          in: query
          description: 'Name of the outcome variable of interest.  Ex: Overall Mood'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: effectUnitName
          in: query
          description: Name for the unit effect measurements to be returned in
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: userId
          in: query
          description: User's id
          required: false
          style: form
          explode: true
          schema:
            type: number
        - name: causeUnitName
          in: query
          description: Name for the unit cause measurements to be returned in
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: onsetDelay
          in: query
          description: 'The amount of time in seconds that elapses after the predictor/stimulus event before the outcome as perceived by a self-tracker is known as the onset delay. For example, the onset delay between the time a person takes an aspirin (predictor/stimulus event) and the time a person perceives a change in their headache severity (outcome) is approximately 30 minutes.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: durationOfAction
          in: query
          description: 'The amount of time over which a predictor/stimulus event can exert an observable influence on an outcome variable value. For instance, aspirin (stimulus/predictor) typically decreases headache severity for approximately four hours (duration of action) following the onset delay. Unit: Seconds'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: earliestMeasurementTime
          in: query
          description: 'Excluded records with measurement times earlier than this value. Use UTC ISO 8601 YYYY-MM-DDThh:mm:ss  datetime format. Time zone should be UTC and not local.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: latestMeasurementTime
          in: query
          description: 'Excluded records with measurement times later than this value. Use UTC ISO 8601 YYYY-MM-DDThh:mm:ss  datetime format. Time zone should be UTC and not local.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: limit
          in: query
          description: 'The LIMIT is used to limit the number of results returned. So if youhave 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          description: 'OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause.If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned.'
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
        - name: sort
          in: query
          description: 'Sort by one of the listed field names. If the field name is prefixed with `-`, it will sort in descending order.'
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Pair'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
  /v3/shares:
    get:
      tags:
        - shares
      summary: 'Get Authorized Apps, Studies, and Individuals'
      description: 'This is a list of individuals, apps, or studies with access to your measurements.'
      operationId: getShares
      parameters:
        - name: userId
          in: query
          description: User's id
          required: false
          style: form
          explode: true
          schema:
            type: number
        - name: createdAt
          in: query
          description: 'When the record was first created. Use UTC ISO 8601 YYYY-MM-DDThh:mm:ss datetime format. Time zone should be UTC and not local.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: updatedAt
          in: query
          description: 'When the record was last updated. Use UTC ISO 8601 YYYY-MM-DDThh:mm:ss datetime format. Time zone should be UTC and not local.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: clientId
          in: query
          description: 'Your QuantiModo client id can be obtained by creating an app at https://builder.quantimo.do'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: appVersion
          in: query
          description: 'Ex: 2.1.1.0'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: log
          in: query
          description: Username or email
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: pwd
          in: query
          description: User password
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSharesResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - writemeasurements
  /v3/shares/delete:
    post:
      tags:
        - shares
      summary: Delete share
      description: 'Remove access to user data for a given client_id associated with a given individual, app, or study'
      operationId: deleteShare
      parameters:
        - name: clientIdToRevoke
          in: query
          description: 'Client id of the individual, study, or app that the user wishes to no longer have access to their data'
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: reason
          in: query
          description: 'Ex: I hate you!'
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '204':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - writemeasurements
  /v3/shares/invite:
    post:
      tags:
        - shares
      summary: Delete share
      description: Invite someone to view your measurements
      operationId: inviteShare
      parameters:
        - name: clientId
          in: query
          description: 'Your QuantiModo client id can be obtained by creating an app at https://builder.quantimo.do'
          required: false
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        description: Details about person to share with
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareInvitationBody'
        required: true
      responses:
        '204':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - writemeasurements
      x-codegen-request-body-name: body
  /v3/studies:
    get:
      tags:
        - studies
      summary: Get Personal or Population Studies
      description: 'If you have enough data, this will be a list of your personal studies, otherwise it will consist of aggregated population studies.'
      operationId: getStudies
      parameters:
        - name: causeVariableName
          in: query
          description: 'Deprecated: Name of the hypothetical predictor variable.  Ex: Sleep Duration'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: effectVariableName
          in: query
          description: 'Deprecated: Name of the outcome variable of interest.  Ex: Overall Mood'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: causeVariableId
          in: query
          description: 'Variable id of the hypothetical predictor variable.  Ex: 1398'
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: effectVariableId
          in: query
          description: 'Variable id of the outcome variable of interest.  Ex: 1398'
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: predictorVariableName
          in: query
          description: 'Name of the hypothetical predictor variable.  Ex: Sleep Duration'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: outcomeVariableName
          in: query
          description: 'Name of the outcome variable of interest.  Ex: Overall Mood'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: userId
          in: query
          description: User's id
          required: false
          style: form
          explode: true
          schema:
            type: number
        - name: clientId
          in: query
          description: 'Your QuantiModo client id can be obtained by creating an app at https://builder.quantimo.do'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: includeCharts
          in: query
          description: Highcharts configs that can be used if you have highcharts.js included on the page.  This only works if the id or name query parameter is also provided.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - name: recalculate
          in: query
          description: Recalculate instead of using cached analysis
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - name: studyId
          in: query
          description: Client id for the study you want
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: sort
          in: query
          description: 'Sort by one of the listed field names. If the field name is prefixed with `-`, it will sort in descending order.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: limit
          in: query
          description: 'The LIMIT is used to limit the number of results returned. So if youhave 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          description: 'OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause.If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned.'
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
        - name: correlationCoefficient
          in: query
          description: Pearson correlation coefficient between cause and effect after lagging by onset delay and grouping by duration of action
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: updatedAt
          in: query
          description: 'When the record was last updated. Use UTC ISO 8601 YYYY-MM-DDThh:mm:ss datetime format. Time zone should be UTC and not local.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: outcomesOfInterest
          in: query
          description: Only include correlations for which the effect is an outcome of interest for the user
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - name: principalInvestigatorUserId
          in: query
          description: These are studies created by a specific principal investigator
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: open
          in: query
          description: These are studies that anyone can join
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - name: joined
          in: query
          description: These are studies that you have joined
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - name: created
          in: query
          description: These are studies that you have created
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - name: population
          in: query
          description: These are studies based on the entire population of users that have shared their data
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - name: downvoted
          in: query
          description: These are studies that you have down-voted
          required: false
          style: form
          explode: true
          schema:
            type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStudiesResponse'
        '401':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        '404':
          description: Not found
          content: {}
        '500':
          description: Internal server error
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
  /v3/studies/open:
    get:
      tags:
        - studies
      summary: These are open studies that anyone can join
      description: These are studies that anyone can join and share their data for the predictor and outcome variables of interest.
      operationId: getOpenStudies
      parameters:
        - name: causeVariableName
          in: query
          description: 'Deprecated: Name of the hypothetical predictor variable.  Ex: Sleep Duration'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: effectVariableName
          in: query
          description: 'Deprecated: Name of the outcome variable of interest.  Ex: Overall Mood'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: causeVariableId
          in: query
          description: 'Variable id of the hypothetical predictor variable.  Ex: 1398'
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: effectVariableId
          in: query
          description: 'Variable id of the outcome variable of interest.  Ex: 1398'
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: predictorVariableName
          in: query
          description: 'Name of the hypothetical predictor variable.  Ex: Sleep Duration'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: outcomeVariableName
          in: query
          description: 'Name of the outcome variable of interest.  Ex: Overall Mood'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: userId
          in: query
          description: User's id
          required: false
          style: form
          explode: true
          schema:
            type: number
        - name: clientId
          in: query
          description: 'Your QuantiModo client id can be obtained by creating an app at https://builder.quantimo.do'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: includeCharts
          in: query
          description: Highcharts configs that can be used if you have highcharts.js included on the page.  This only works if the id or name query parameter is also provided.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - name: recalculate
          in: query
          description: Recalculate instead of using cached analysis
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - name: studyId
          in: query
          description: Client id for the study you want
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStudiesResponse'
        '401':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        '404':
          description: Not found
          content: {}
        '500':
          description: Internal server error
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
  /v3/studies/joined:
    get:
      tags:
        - studies
      summary: Studies You Have Joined
      description: These are studies that you are currently sharing your data with.
      operationId: getStudiesJoined
      parameters:
        - name: causeVariableName
          in: query
          description: 'Deprecated: Name of the hypothetical predictor variable.  Ex: Sleep Duration'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: effectVariableName
          in: query
          description: 'Deprecated: Name of the outcome variable of interest.  Ex: Overall Mood'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: causeVariableId
          in: query
          description: 'Variable id of the hypothetical predictor variable.  Ex: 1398'
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: effectVariableId
          in: query
          description: 'Variable id of the outcome variable of interest.  Ex: 1398'
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: predictorVariableName
          in: query
          description: 'Name of the hypothetical predictor variable.  Ex: Sleep Duration'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: outcomeVariableName
          in: query
          description: 'Name of the outcome variable of interest.  Ex: Overall Mood'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: sort
          in: query
          description: 'Sort by one of the listed field names. If the field name is prefixed with `-`, it will sort in descending order.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: limit
          in: query
          description: 'The LIMIT is used to limit the number of results returned. So if youhave 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          description: 'OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause.If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned.'
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
        - name: userId
          in: query
          description: User's id
          required: false
          style: form
          explode: true
          schema:
            type: number
        - name: correlationCoefficient
          in: query
          description: Pearson correlation coefficient between cause and effect after lagging by onset delay and grouping by duration of action
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: updatedAt
          in: query
          description: 'When the record was last updated. Use UTC ISO 8601 YYYY-MM-DDThh:mm:ss datetime format. Time zone should be UTC and not local.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: outcomesOfInterest
          in: query
          description: Only include correlations for which the effect is an outcome of interest for the user
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - name: clientId
          in: query
          description: 'Your QuantiModo client id can be obtained by creating an app at https://builder.quantimo.do'
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStudiesResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
  /v3/studies/created:
    get:
      tags:
        - studies
      summary: Get studies you have created
      description: These are studies that you have created.
      operationId: getStudiesCreated
      parameters:
        - name: causeVariableName
          in: query
          description: 'Deprecated: Name of the hypothetical predictor variable.  Ex: Sleep Duration'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: effectVariableName
          in: query
          description: 'Deprecated: Name of the outcome variable of interest.  Ex: Overall Mood'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: causeVariableId
          in: query
          description: 'Variable id of the hypothetical predictor variable.  Ex: 1398'
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: effectVariableId
          in: query
          description: 'Variable id of the outcome variable of interest.  Ex: 1398'
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: predictorVariableName
          in: query
          description: 'Name of the hypothetical predictor variable.  Ex: Sleep Duration'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: outcomeVariableName
          in: query
          description: 'Name of the outcome variable of interest.  Ex: Overall Mood'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: sort
          in: query
          description: 'Sort by one of the listed field names. If the field name is prefixed with `-`, it will sort in descending order.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: limit
          in: query
          description: 'The LIMIT is used to limit the number of results returned. So if youhave 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          description: 'OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause.If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned.'
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
        - name: userId
          in: query
          description: User's id
          required: false
          style: form
          explode: true
          schema:
            type: number
        - name: updatedAt
          in: query
          description: 'When the record was last updated. Use UTC ISO 8601 YYYY-MM-DDThh:mm:ss datetime format. Time zone should be UTC and not local.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: clientId
          in: query
          description: 'Your QuantiModo client id can be obtained by creating an app at https://builder.quantimo.do'
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetStudiesResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
  /v3/study/publish:
    post:
      tags:
        - studies
      summary: Publish Your Study
      description: Make a study and all related measurements publicly visible by anyone
      operationId: publishStudy
      parameters:
        - name: causeVariableName
          in: query
          description: 'Deprecated: Name of the hypothetical predictor variable.  Ex: Sleep Duration'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: effectVariableName
          in: query
          description: 'Deprecated: Name of the outcome variable of interest.  Ex: Overall Mood'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: causeVariableId
          in: query
          description: 'Variable id of the hypothetical predictor variable.  Ex: 1398'
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: effectVariableId
          in: query
          description: 'Variable id of the outcome variable of interest.  Ex: 1398'
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: predictorVariableName
          in: query
          description: 'Name of the hypothetical predictor variable.  Ex: Sleep Duration'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: outcomeVariableName
          in: query
          description: 'Name of the outcome variable of interest.  Ex: Overall Mood'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: userId
          in: query
          description: User's id
          required: false
          style: form
          explode: true
          schema:
            type: number
        - name: clientId
          in: query
          description: 'Your QuantiModo client id can be obtained by creating an app at https://builder.quantimo.do'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: includeCharts
          in: query
          description: Highcharts configs that can be used if you have highcharts.js included on the page.  This only works if the id or name query parameter is also provided.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - name: recalculate
          in: query
          description: Recalculate instead of using cached analysis
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - name: studyId
          in: query
          description: Client id for the study you want
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostStudyPublishResponse'
        '401':
          description: Not authenticated
          content: {}
        '404':
          description: Not found
          content: {}
        '500':
          description: Internal server error
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
  /v3/study/join:
    post:
      tags:
        - studies
      summary: Join a Study
      description: Anonymously share measurements for specified variables
      operationId: joinStudy
      parameters:
        - name: studyId
          in: query
          description: Client id for the study you want
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: causeVariableName
          in: query
          description: 'Deprecated: Name of the hypothetical predictor variable.  Ex: Sleep Duration'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: effectVariableName
          in: query
          description: 'Deprecated: Name of the outcome variable of interest.  Ex: Overall Mood'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: causeVariableId
          in: query
          description: 'Variable id of the hypothetical predictor variable.  Ex: 1398'
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: effectVariableId
          in: query
          description: 'Variable id of the outcome variable of interest.  Ex: 1398'
          required: false
          style: form
          explode: true
          schema:
            type: integer
        - name: predictorVariableName
          in: query
          description: 'Name of the hypothetical predictor variable.  Ex: Sleep Duration'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: outcomeVariableName
          in: query
          description: 'Name of the outcome variable of interest.  Ex: Overall Mood'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: userId
          in: query
          description: User's id
          required: false
          style: form
          explode: true
          schema:
            type: number
        - name: clientId
          in: query
          description: 'Your QuantiModo client id can be obtained by creating an app at https://builder.quantimo.do'
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StudyJoinResponse'
        '401':
          description: Not authenticated
          content: {}
        '404':
          description: Not found
          content: {}
        '500':
          description: Internal server error
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
  /v3/study/create:
    post:
      tags:
        - studies
      summary: Create a Study
      description: 'Create an individual, group, or population study examining the relationship between a predictor and outcome variable. You will be given a study id which you can invite participants to join and share their measurements for the specified variables.'
      operationId: createStudy
      parameters:
        - name: clientId
          in: query
          description: 'Your QuantiModo client id can be obtained by creating an app at https://builder.quantimo.do'
          required: false
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        description: Details about the study you want to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StudyCreationBody'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostStudyCreateResponse'
        '401':
          description: Not authenticated
          content: {}
        '404':
          description: Not found
          content: {}
        '500':
          description: Internal server error
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
      x-codegen-request-body-name: body
  /v3/trackingReminderNotifications:
    get:
      tags:
        - reminders
      summary: Get specific tracking reminder notifications
      description: Specific tracking reminder notification instances that still need to be tracked.
      operationId: getTrackingReminderNotifications
      parameters:
        - name: sort
          in: query
          description: 'Sort by one of the listed field names. If the field name is prefixed with `-`, it will sort in descending order.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: userId
          in: query
          description: User's id
          required: false
          style: form
          explode: true
          schema:
            type: number
        - name: createdAt
          in: query
          description: 'When the record was first created. Use UTC ISO 8601 YYYY-MM-DDThh:mm:ss datetime format. Time zone should be UTC and not local.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: updatedAt
          in: query
          description: 'When the record was last updated. Use UTC ISO 8601 YYYY-MM-DDThh:mm:ss datetime format. Time zone should be UTC and not local.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: limit
          in: query
          description: 'The LIMIT is used to limit the number of results returned. So if youhave 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          description: 'OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause.If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned.'
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
        - name: variableCategoryName
          in: query
          description: 'Ex: Emotions, Treatments, Symptoms...'
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - Activities
              - Books
              - Causes of Illness
              - Cognitive Performance
              - Conditions
              - Emotions
              - Environment
              - Foods
              - Location
              - Miscellaneous
              - Movies and TV
              - Music
              - Nutrients
              - Payments
              - Physical Activity
              - Physique
              - Sleep
              - Social Interactions
              - Software
              - Symptoms
              - Treatments
              - Vital Signs
              - Goals
        - name: reminderTime
          in: query
          description: 'Ex: (lt)2017-07-31 21:43:26'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: clientId
          in: query
          description: 'Your QuantiModo client id can be obtained by creating an app at https://builder.quantimo.do'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: onlyPast
          in: query
          description: 'Ex: 1'
          required: false
          style: form
          explode: true
          schema:
            type: boolean
        - name: includeDeleted
          in: query
          description: Include deleted variables
          required: false
          style: form
          explode: true
          schema:
            type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTrackingReminderNotificationsResponse'
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
    post:
      tags:
        - reminders
      summary: 'Snooze, skip, or track a tracking reminder notification'
      description: 'Snooze, skip, or track a tracking reminder notification'
      operationId: postTrackingReminderNotifications
      parameters:
        - name: userId
          in: query
          description: User's id
          required: false
          style: form
          explode: true
          schema:
            type: number
        - name: clientId
          in: query
          description: 'Your QuantiModo client id can be obtained by creating an app at https://builder.quantimo.do'
          required: false
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        description: Id of the tracking reminder notification to be snoozed
        content:
          application/json:
            schema:
              type: array
              description: Array of TrackingReminderNotifications to take action on
              items:
                $ref: '#/components/schemas/TrackingReminderNotificationPost'
        required: true
      responses:
        '201':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
      x-codegen-request-body-name: body
  /v3/trackingReminders:
    get:
      tags:
        - reminders
      summary: Get repeating tracking reminder settings
      description: Users can be reminded to track certain variables at a specified frequency with a default value.
      operationId: getTrackingReminders
      parameters:
        - name: userId
          in: query
          description: User's id
          required: false
          style: form
          explode: true
          schema:
            type: number
        - name: variableCategoryName
          in: query
          description: 'Ex: Emotions, Treatments, Symptoms...'
          required: false
          style: form
          explode: true
          schema:
            type: string
            enum:
              - Activities
              - Books
              - Causes of Illness
              - Cognitive Performance
              - Conditions
              - Emotions
              - Environment
              - Foods
              - Location
              - Miscellaneous
              - Movies and TV
              - Music
              - Nutrients
              - Payments
              - Physical Activity
              - Physique
              - Sleep
              - Social Interactions
              - Software
              - Symptoms
              - Treatments
              - Vital Signs
              - Goals
        - name: createdAt
          in: query
          description: 'When the record was first created. Use UTC ISO 8601 YYYY-MM-DDThh:mm:ss datetime format. Time zone should be UTC and not local.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: updatedAt
          in: query
          description: 'When the record was last updated. Use UTC ISO 8601 YYYY-MM-DDThh:mm:ss datetime format. Time zone should be UTC and not local.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: limit
          in: query
          description: 'The LIMIT is used to limit the number of results returned. So if youhave 1000 results, but only want to the first 10, you would set this to 10 and offset to 0. The maximum limit is 200 records.'
          required: false
          style: form
          explode: true
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          description: 'OFFSET says to skip that many rows before beginning to return rows to the client. OFFSET 0 is the same as omitting the OFFSET clause.If both OFFSET and LIMIT appear, then OFFSET rows are skipped before starting to count the LIMIT rows that are returned.'
          required: false
          style: form
          explode: true
          schema:
            minimum: 0
            type: integer
        - name: sort
          in: query
          description: 'Sort by one of the listed field names. If the field name is prefixed with `-`, it will sort in descending order.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: clientId
          in: query
          description: 'Your QuantiModo client id can be obtained by creating an app at https://builder.quantimo.do'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: appVersion
          in: query
          description: 'Ex: 2.1.1.0'
          required: false
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TrackingReminder'
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
    post:
      tags:
        - reminders
      summary: Store a Tracking Reminder
      description: This is to enable users to create reminders to track a variable with a default value at a specified frequency
      operationId: postTrackingReminders
      requestBody:
        description: TrackingReminder that should be stored
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TrackingReminder'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostTrackingRemindersResponse'
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
      x-codegen-request-body-name: body
  /v3/trackingReminders/delete:
    delete:
      tags:
        - reminders
      summary: Delete Tracking Reminder
      description: Stop getting notifications to record data for a variable.  Previously recorded measurements will be preserved.
      operationId: deleteTrackingReminder
      parameters:
        - name: userId
          in: query
          description: User's id
          required: false
          style: form
          explode: true
          schema:
            type: number
      responses:
        '204':
          description: Successful Operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonResponse'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
      x-codegen-request-body-name: body
  /v3/unitCategories:
    get:
      tags:
        - units
      summary: Get unit categories
      description: 'Get a list of the categories of measurement units such as ''Distance'', ''Duration'', ''Energy'', ''Frequency'', ''Miscellany'', ''Pressure'', ''Proportion'', ''Rating'', ''Temperature'', ''Volume'', and ''Weight''.'
      operationId: getUnitCategories
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UnitCategory'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
  /v3/units:
    get:
      tags:
        - units
      summary: Get units
      description: Get a list of the available measurement units
      operationId: getUnits
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                description: Array of units
                items:
                  $ref: '#/components/schemas/Unit'
        '401':
          description: Not Authenticated
          content: {}
      security:
        - access_token: []
        - quantimodo_oauth2:
            - basic
  /v3/user:
    get:
      tags:
        - user
      summary: Get user info
      description: 'Returns user info.  If no userId is specified, returns info for currently authenticated user'
      operationId: getUser
      parameters:
        - name: userId
          in: query
          description: User's id
          required: false
          style: form
          explode: true
          schema:
            type: number
        - name: createdAt
          in: query
          description: 'When the record was first created. Use UTC ISO 8601 YYYY-MM-DDThh:mm:ss datetime format. Time zone should be UTC and not local.'
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: updatedAt
          in: query
          description: 'When the record was last updated. Use UTC ISO 8601 YYYY-MM-DDThh:mm:ss datetime format. Time zone should be UTC and not local.'
          required: false
          style: form
          explode: true
          schema:
            type: string
[...]
