/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
.idea/

.env*

.vagrant/
/.vscode
/log/*
/nbproject
/node_modules
/public/hot
/public/storage
/storage/*.key
/Vagrantfile
public/xhgui/
tests/Generated/
vendor/
!/log/.gitkeep
/composer.phar
l2/
.phpstorm.meta.php
_ide_helper.php
storage/php-console.dat
/tests/docker-analytics-tests/
public/goaccess/index.html
/public/dev/
_gsdata_/
/data/studies/
/tmp/
/tmp/*
public/wp/
docker-analytics-tests/

ubuntu-bionic-18.04-cloudimg-console.log
public/xhgui
public/elfinder/
public/packages/barryvdh/



/configs/.idea.bak/shelf/

# Need to ignore docs because it's in public folder and we might expost some git credentials accidentally
/public/dev-docs/
/public/october/
/public/wp/
/public/themosis/

/october/

/themosis/
/wp/
/bookstack/
tests/fixtures/responses/
/public/material/css/material-dashboard.css.map
/tests/fixtures/qm-responses/
/bin/
tests/fixtures/qm-responses.bak/
/auth/
/tests/test.pdf
/public/tailwind/
#app/DataSources/Connectors/Responses
/goaccess-1.4/
resources/docs/source
/public/__clockwork/
/storage/charts/config.json
/storage/charts/output/chart.png
/public/qm-application-settings/
/public/qm-static-data/
!/resources/views/vendor/
/tbn/

/storage/*.index
qm_production_dump.sql
/backup
/storage/test-repo/
/Jobs/ScratchProductionJob.php
/data/knime/Example Workflows/
/data/knime/.metadata/.plugins/
/data/knime/.metadata/
/storage/perma-cache/

/public/cc-wp/

/storage/repos/
/jenkins
workspace.xml
/scripts/bsfl/
/.idea/shelf/
/.idea/httpRequests/
/public/.idea/
/scripts/.idea/
/scripts/lib/bsfl/
/docs/node_modules/
/.php-cs-fixer.cache


# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# AWS User-specific
.idea/**/aws.xml

# Generated files
.idea/**/contentModel.xml

# Sensitive or high-churn files
# DO COMMIT dataSources!  YOU WON'T BE ABLE TO GET IT TO WORK!
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
/repos/
build/junit.xml
configs/phpstorm/PhpStorm2021.2/options/actionSummary.xml
configs/phpstorm/PhpStorm2021.2/options/bashsupport-pro.local.xml
configs/phpstorm/PhpStorm2021.2/options/other.xml
configs/phpstorm/PhpStorm2021.2/options/runner.layout.xml
configs/phpstorm/PhpStorm2021.2/options/updates.xml
configs/phpstorm/PhpStorm2021.2/options/usage.statistics.xml
configs/phpstorm/PhpStorm2021.2/options/window.state.xml
.idea/codestream.xml
/deployer.phar
/laradock/
/build/
/cypress/reports/assets/
/cypress/videos/
/scripts/phpstorm/PhpStorm.cmd
.user.ini
*Zone.Identifier
/public/.well-known/acme-challenge/
public/goaccess.html
!/overrides/global/vendor/
!/overrides/global/vendor/*
testdox.xml
/tests/build/logfiles/allure/*
/storage/file-cache/*
*build/logfiles/allure/*
/auth.json
!/.env.example
!/storage/
/storage/logs/*
!/storage/logs/.gitignore
/data/redis/
/composer-unused.phar
/phive.phar.asc
/tools/
/docker/postgres/
.vapor/
!/.env.override.example
/data/minio/
/data/meilisearch/
/data/postgres/
!/storage/oauth-private.key
!/storage/oauth-public.key
/public/allure/analyze-endpoint/
/cypress/reports/mocha/
allure-results/
/.cache_ggshield
