<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         cacheResult="true" 
         backupGlobals="false" 
         bootstrap="./tests/bootstrap.php" 
         colors="true" 
         stderr="true" 
         convertErrorsToExceptions="true" 
         convertNoticesToExceptions="true" 
         convertWarningsToExceptions="true" 
         stopOnError="false" 
         stopOnFailure="false" 
         stopOnIncomplete="false" 
         stopOnSkipped="false" 
         verbose="true" 
         timeoutForSmallTests="1" 
         timeoutForMediumTests="5" 
         timeoutForLargeTests="10" 
         beStrictAboutOutputDuringTests="false" 
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/UnitTests</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="Slim">
            <directory suffix="Test.php">./tests/SlimTests</directory>
        </testsuite>
        <testsuite name="StagingUnit">
            <directory suffix="Test.php">./tests/StagingUnitTests</directory>
        </testsuite>
	    <testsuite name="StagingUnit A">
		    <directory suffix="Test.php">./tests/StagingUnitTests/A</directory>
	    </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>
	<listeners>
		<listener class="Tests\QMSpeedTrapListener" />
	</listeners>
	<extensions>
		<extension class="Qameta\Allure\PHPUnit\AllureExtension">
			<!-- Optional arguments block; omit it if you want to use default values -->
<!--			<arguments>
				&lt;!&ndash; Path to config file (default is config/allure.config.php) &ndash;&gt;
				<string>config/allure.config.php</string>
			</arguments>-->
		</extension>
	</extensions>
    <php>
<!-- Don't use this because it's for jobs, too       <env name="APP_ENV" value="testing"/>-->
    </php>
	<logging>
		<junit outputFile="build/junit.xml"/>
	</logging>
</phpunit>
