CONNECTOR_AMAZON_CLIENT_ID=connector-disabled
CONNECTOR_AMAZON_CLIENT_SECRET=connector-disabled
CONNECTOR_DISCORD_CLIENT_ID=
CONNECTOR_DISCORD_CLIENT_SECRET=
CONNECTOR_FACEBOOK_CLIENT_ID=connector-disabled
CONNECTOR_FACEBOOK_CLIENT_SECRET=connector-disabled
CONNECTOR_FITBIT_CLIENT_ID=connector-disabled
CONNECTOR_FITBIT_CLIENT_SECRET=connector-disabled
CONNECTOR_FOURSQUARE_CLIENT_ID=connector-disabled
CONNECTOR_FOURSQUARE_CLIENT_SECRET=connector-disabled
CONNECTOR_GITHUB_CLIENT_ID="Create an app here https://github.com/settings/developers with callback https://yourdomain.com/auth/github/callback"
CONNECTOR_GITHUB_CLIENT_SECRET=connector-disabled
CONNECTOR_GOOGLE_CLIENT_ID=connector-disabled
CONNECTOR_GOOGLE_CLIENT_SECRET=connector-disabled
CONNECTOR_LINKEDIN_CLIENT_ID=connector-disabled
CONNECTOR_LINKEDIN_CLIENT_SECRET=connector-disabled
CONNECTOR_NETATMO_CLIENT_ID=connector-disabled
CONNECTOR_NETATMO_CLIENT_SECRET=connector-disabled
CONNECTOR_OPEN_HUMANS_CLIENT_SECRET=connector-disabled
# Obtain these at https://builder.quantimo.do
CONNECTOR_QUANTIMODO_CLIENT_ID=connector-disabled
CONNECTOR_QUANTIMODO_CLIENT_SECRET=connector-disabled
CONNECTOR_RESCUETIME_CLIENT_ID=connector-disabled
CONNECTOR_RESCUETIME_CLIENT_SECRET=connector-disabled
CONNECTOR_RESCUETIME_REDIRECT_URI=connector-disabled
CONNECTOR_RUNKEEPER_CLIENT_ID=connector-disabled
CONNECTOR_RUNKEEPER_CLIENT_SECRET=connector-disabled
CONNECTOR_SLACK_CLIENT_ID=connector-disabled
CONNECTOR_SLACK_CLIENT_SECRET=connector-disabled
CONNECTOR_SLEEPCLOUD_CLIENT_ID=connector-disabled
CONNECTOR_SLEEPCLOUD_CLIENT_SECRET=connector-disabled
CONNECTOR_STRAVA_CLIENT_ID=connector-disabled
CONNECTOR_STRAVA_CLIENT_SECRET=connector-disabled
CONNECTOR_TWITTER_CLIENT_ID=connector-disabled
CONNECTOR_TWITTER_CLIENT_SECRET=connector-disabled
CONNECTOR_WITHINGS_CLIENT_ID=connector-disabled
CONNECTOR_WITHINGS_CLIENT_SECRET=connector-disabled

GITHUB_ACCESS_TOKEN="Get me at https://github.com/settings/tokens"

BCRYPT_SALT=10
JWT_SECRET=Change_ME!!!
JWT_EXPIRATION=2d
SERVER_PORT=3000
DATABASE_URL=postgresql://user:pass@localhost:5432/api_gateway

# Replace with your client secret from https://builder.dfda.earth/app/public/#/app/configuration
DFDA_CLIENT_ID=
DFDA_CLIENT_SECRET=
