<!--suppress XmlDuplicatedId -->
<div class="row"
     id="{{connector.name}}-item">
    <div class="col col-20"
         style="padding-top: 10px;">
        <img ng-src="{{connector.image}}"
             id="{{connector.name}}-image"
             alt="{{connector.displayName}} Connector Image"
             style="width: 100%; max-height: 100px; max-width: 100px;">
    </div>
    <div class="col col-70">
        <div class="row">
            <h2 class="col col-90"
                id="{{connector.name}}-name"
                style="white-space: normal; line-height: normal;">
                {{connector.displayName}}
            </h2>
            <div id="{{connector.name}}-action-sheet-button"
                 ng-click="showActionSheetForConnector(connector, $event)"
                 class="col col-10">
                <i style="font-size: 20px;"
                   class="icon positive ion-more"></i>
            </div>
            <button ng-if="connector.errorMessage"
                    class="button icon ion-android-warning">
                <md-tooltip md-direction="left">{{connector.errorMessage}}</md-tooltip>
            </button>
        </div>
        <p class="col col-90"
           id="{{connector.name}}-message"
           style="white-space: normal; line-height: normal;"
           ng-bind-html="connector.message">
        </p>
    </div>
</div>
<div ng-if="connector.errorMessage" class="item item-avatar">
    <img src="img/rating/face_rating_button_256_sad.png">
    <h2>IMPORT ISSUE</h2>
    <p ng-bind-html="connector.errorMessage"></p>

</div>
<div class="buttons"
     style="text-align: center;"
     ng-if="connector.spreadsheetUploadLink">
    <button ng-repeat="button in connector.buttons"
            class="button button-balanced"
            id="{{button.id}}"
            style="text-overflow: clip; margin: 5px;"
            ngf-select="uploadSpreadsheet($file, $invalidFiles, connector, button)">
        <i class="{{button.ionIcon}}"> &nbsp; {{button.text}}</i></button>
</div>
<div class="buttons"
     style="text-align: center;"
     ng-if="!connector.spreadsheetUploadLink">
    <button ng-repeat="button in connector.buttons"
            id="{{button.id}}"
            class="button button-balanced"
            style="text-overflow: clip; margin: 5px;"
            ng-click="connectorAction(connector, button, $event)">
        <i class="{{button.ionIcon}}"> &nbsp; {{button.text}}</i>
    </button>
</div>
<div class="buttons"
     style="text-align: center;"
     ng-if="connector.loadingText">
    <button class="button button-royal"
            id="{{connector.name}}-loading-button"
            style="text-overflow: clip; margin: 5px;"
            ng-click="">
        <i class="ion-ios-cloud-download"> &nbsp; {{connector.loadingText}}</i>
    </button>
</div>
